<div class='item'>
    {{for data.alarms}}
        {{:helper.link(value.name, null, {'alarm' : value.ref}, null, value.danger == 2 ? 'redButton' : (value.danger == 1 ? 'yellowButton' : null))}}
    {{/for}}
</div>