<H1>Priority Alerts</H1>
{{for data.priority_alarms}}
	<div class="item">
        {{:value.name}} {{:helper.link('Reset', null, {'clear_alarm' : value.ref})}}
	</div>
{{empty}}
	No priority alerts detected.
{{/for}}

<H3>Minor Alerts</H3>
{{for data.minor_alarms}}
    <div class="item">
        {{:value.name}} {{:helper.link('Reset', null, {'clear_alarm' : value.ref})}}
    </div>
{{empty}}
    No minor alerts detected.
{{/for}}

