<!--
Title: Crew Monitoring Console (Map header)
Used In File(s): \code\game\machinery\computer\crew.dm
 -->
{{:helper.link('Show Detail List', 'script', {'showMap' : 0})}}
{{:helper.link('Hide Map', 'close', {'showMap' : 0})}}
<div style="float: right; width: 240px;">
	<span style="float: left;">Z Level:&nbsp;</span>
	{{for config.mapZLevels :zValue:zIndex}}
		{{:helper.link(zValue, 'close', {'mapZLevel' : zValue}, null, config.mapZLevel == zValue ? 'selected' : null)}}
	{{/for}}
</div>

<div style="float: right; width: 240px;">
    <span style="float: left;">Zoom Level:&nbsp;</span>
    <div unselectable="on" class="link zoomLink" data-zoom-level="4">x1.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="6">x1.5</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="8">x2.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="12">x2.5</div>
</div>
