{{if data.warrantauth}}

	<div class='item'>
		{{if data.type == "arrest"}}
			<div class='itemLabel'>
				Name:
			</div>
		{{/if}}
		{{if data.type == "search"}}
			<div class='itemLabel'>
				Location:
			</div>
		{{/if}}
		<div class='itemContent'>
			{{:data.warrantname}}
		</div>
	</div>
	<div class='item'>
		{{if data.type == "arrest"}}
			<div class='itemLabel'>
				Charges:
			</div>
		{{/if}}
				{{if data.type == "search"}}
			<div class='itemLabel'>
				Reason:
			</div>
		{{/if}}
		<div class='itemContent'>
			{{:data.warrantcharges}}
		</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Authorized by:
		</div>
		<div class='itemContent'>
			{{:data.warrantauth}}
		</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>
			Actions:
		</div>
		<div class='itemContent'>
			<table>
				{{if data.type == "arrest"}}
					<tr><td>{{:helper.link('Edit Name', null, {'editwarrantname' : 1})}}{{:helper.link('Custom Name', null, {'editwarrantnamecustom' : 1})}}
					<tr><td>{{:helper.link('Edit Charges', null, {'editwarrantcharges' : 1})}}
				{{/if}}
				{{if data.type == "search"}}
					<tr><td>{{:helper.link('Edit Location', null, {'editwarrantnamecustom' : 1})}}
					<tr><td>{{:helper.link('Edit Reason', null, {'editwarrantcharges' : 1})}}	
				{{/if}}
				<tr><td>{{:helper.link('Authorize', null, {'editwarrantauth' : 1})}}
				<tr><td>{{:helper.link('Save', null, {'savewarrant' : 1})}}
				<td>{{:helper.link('Delete', 'trash', {'deletewarrant' : 1})}}
				<tr><td>{{:helper.link('Back to Menu', null, {'back' : 1})}}
			</table>
		</div>
	</div>

{{else}}

	<hr>
	<h2>Arrest warrants</h2>
	<div class="itemContent">
		{{:helper.link('Add a Warrant', null, {'addwarrant' : "arrest"})}}
	</div>
	{{if data.arrestwarrants}}
		<table width=100%>
			<tr><th width=20%>Name<th>Charges<th width=40%>Authorized By<th width=115px>
			{{for data.arrestwarrants}}
				<tr><td>{{:value.warrantname}}</td>
				<td>{{:value.charges}}</td>
				<td>{{:value.auth}}</td>
				<td>{{:helper.link('', 'pencil', {'editwarrant' : value.id})}}
				{{:helper.link('Archive', null, {'sendtoarchive' : value.id})}}
				{{:helper.link('', 'trash', {'deletewarrant' : value.id})}}</td>
			{{/for}}		
		</table>
	{{/if}}
	<h2>Search warrants</h2>
	<div class="itemContent">{{:helper.link('Add a Warrant', null, {'addwarrant' : "search"})}}</div>
	{{if data.searchwarrants}}
		<table width=100%>
			<tr><th width=20%>Location<th>Reason<th width=40%>Authorized By<th width=115px>
			{{for data.searchwarrants}}
				<tr><td>{{:value.warrantname}}</td>
				<td>{{:value.charges}}</td>
				<td>{{:value.auth}}</td>
				<td>{{:helper.link('', 'pencil', {'editwarrant' : value.id})}}
				{{:helper.link('Archive', null, {'sendtoarchive' : value.id})}}
				{{:helper.link('', 'trash', {'deletewarrant' : value.id})}}</td>
			{{/for}}		
		</table>
	{{/if}}
	<h2 style="color:#888888">Archived</h2>
	{{if data.archivedwarrants}}
		<table width=100% style="color:#888888">
			<tr><th width=20%>Target<th>Reason<th width=40%>Authorized By<th width=115px>
			{{for data.archivedwarrants}}
				<tr><td>{{:value.warrantname}}</td>
				<td>{{:value.charges}}</td>
				<td>{{:value.auth}}</td>
				<td>{{:helper.link('', 'pencil', {'editwarrant' : value.id})}}
				{{:helper.link('Restore', null, {'restore' : value.id})}}
				{{:helper.link('', 'trash', {'deletewarrant' : value.id})}}</td>
			{{/for}}
		</table>
	{{/if}}
{{/if}}
