<div class="item">
  {{:helper.link('Close', 'gear', {'close' : 1}, null, 'fixedLeft')}}
  {{:helper.link('Print', 'print', { 'print' : 1 }, data.antibodies || data.pathogens ? null : 'disabled', 'fixedLeft')}}
</div>

{{if data.busy}}
  <h5 class='average'>The Centrifuge is currently busy.</h5>
  <div class='notice'>
    <center><span class='bad'>{{:data.busy}}</span></center>
  </div>
  <p>
    Thank you for your patience!
  </p>
{{else}}
  <div class="item">
    <h2>{{:data.is_antibody_sample ?  'Antibody Sample' : 'Blood Sample'}}</h2>
  </div>
  <div class='item'>
    {{:helper.link('Eject Vial', 'eject', { 'action' : 'sample' }, data.sample_inserted ? null : 'disabled')}}
  </div>
  {{if data.sample_inserted}}
    {{if data.antibodies || data.pathogens}}
      <div class="statusDisplay">
        {{if data.antibodies}}
          <div class='item'>
            <div class='itemLabel'>
              <span class='good'>Antibodies:</span>
            </div>
            <div class='itemContent'>
              {{:data.antibodies}}
            </div>
          </div>
        {{/if}}
        {{if data.pathogens}}
          <div class='item'>
            <div class='itemLabel'>
              <span class='good'>Pathogens:</span>
            </div>
            <div class='itemContent'>
              {{for data.pathogens}}
                <div class='highlight'>
                  {{:value.name}} ({{:value.spread_type}})
                </div>
              {{/for}}
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
    <div class='item'>
      <span class='average'>No antibodies or viral strains detected.</span>
    </div>
    {{/if}}
  {{else}}
    <div class='item'>
      <span class='average'>No vial detected.</span>
    </div>
  {{/if}}
  {{if data.antibodies && !data.is_antibody_sample}}
    <div class='item'>
      <div class='itemLabelWide'>
        Isolate Antibodies:
      </div>
      <div class='itemContent'>
        {{:helper.link(data.antibodies, 'pencil', { 'action' : 'antibody' })}}
      </div>
    </div>
  {{/if}}
  {{if data.pathogens}}
    <div class='item'>
      <div class='itemLabelWide'>
        Isolate Strain:
      </div>
      <div class='itemContent'>
        {{for data.pathogens}}
          {{:helper.link(value.name, 'pencil', { 'isolate' : value.reference })}}
        {{/for}}
      </div>
    </div>
  {{/if}}
{{/if}}
