<i>Welcome to computer configuration utility. Please consult your system administrator if you have any questions about your device.</i><hr>
<h2>Power Supply</h2>
<div class="itemLabel">
	Battery Status: 
</div>
{{if data.battery_exists}}
	<div class="itemContent">
		Active
	</div>
	<div class="itemLabel">
		Battery Rating: 
	</div>
	<div class="itemContent">
		{{:data.battery_rating}}
	</div>
	<div class="itemLabel">
		Battery Charge: 
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.battery_percent, 0, 100, (data.battery_percent <= 25) ? 'bad' : (data.battery_percent <= 50) ? 'average' : 'good')}}
		<b>{{:data.battery_percent}} %</b>
	</div>
{{else}}
	<div class="itemContent">
		Not Available
	</div>
{{/if}}
<div class="itemLabel">
	Power Usage: 
</div>
<div class="itemContent">
	{{:data.power_usage}}W
</div>
<h2>File System</h2>	
<div class="itemLabel">
	Used Capacity:
</div>
<div class="itemContent">
	{{:helper.displayBar(data.disk_used, 0, data.disk_size, 'good')}}
	{{:data.disk_used}}GQ / {{:data.disk_size}}GQ
</div>
<h2>Computer Components</h2>
{{for data.hardware}}
	<h3>{{:value.name}}</h3>
	<i>{{:value.desc}}</i><br>
	<div class="itemLabel">
		State: 
	</div>
	<div class="itemContent">
		{{:value.enabled ? "Enabled" : "Disabled"}}
	</div>	
	<div class="itemLabel">
		Power Usage: 
	</div>
	<div class="itemContent">
		{{:value.powerusage}}W
	</div>
	{{if !value.critical}}
	<div class="itemLabel">
		Toggle Component: 
	</div>
	<div class="itemContent">
		{{:helper.link("ON", null, {'PC_enable_component' : value.name}, value.enabled ? 'disabled' : null)}}
		{{:helper.link("OFF", null, {'PC_disable_component' : value.name}, value.enabled ? null : 'disabled')}}
	</div>			
	{{/if}}
	<br><br>
{{/for}}
<hr><hr>
<i>NTOS v2.0.4b Copyright NanoTrasen 2557 - 2559</i>