<h3>Navigation</h3>
<div class='block'>
	<div class='item'>
		<div class="itemContent">
			<div class='item'>
				<span class='white'>Map view</span>
				{{:helper.link(data.viewing ? 'Engaged' : 'Disengaged', 'shuffle', { 'viewing' : 1 }, null, data.viewing ? 'selected' : null)}}
			</div>
		</div>
	</div>
</div>
