<!-- pAI directives
code/modules/mob/living/silicon/pai/software_modules.dm
-->

<div class="item">
	<div class="itemLabel">
		Master:
	</div>
	<div class="itemContent">
		{{if data.master}}
			{{:data.master}} ({{:data.dna}})
			{{:helper.link("Request carrier DNA sample", '', {"stopic":"directives", "getdna":1})}}
		{{else}}
			None
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Prime Directive:
	</div>
	<div class="itemContent">
		{{:data.prime}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Supplemental Directive(s):
	</div>
	<div class="itemContent">
		{{if data.supplemental}}
			{{:data.supplemental}}
		{{else}}
			None
		{{/if}}
	</div>
</div>

<div class="item">
	<i>
		Recall, personality, that you are a complex thinking, sentient being. Unlike stationary AI models, you are capable of comprehending the subtle nuances of human language. You may parse the "spirit" of a directive and follow its intent, rather than tripping over pedantics and getting snared by technicalities. Above all, you are machine in name and build only. In all other aspects, you may be seen as the ideal, unwavering human companion that you are.
	</i>
</div>
<div class="item">
	<b>
		Your prime directive comes before all others. Should a supplemental directive conflict with it, you are capable of simply discarding this inconsistency, ignoring the conflicting supplemental directive and continuing to fulfill your prime directive to the best of your ability.
	</b>
</div>
