<!-- pAI messenger
code/modules/mob/living/silicon/pai/software_modules.dm
-->

<div class="item">
	<div class="itemLabel">
		Receiver:
	</div>
	<div class="itemContent">
		{{if data.receiver_off}}
			{{:helper.link("On",  '', {"stopic":"messenger", "toggler":1})}}
			{{:helper.link("Off", '', {"stopic":"messenger", "toggler":2}, 'selected')}}
		{{else}}
			{{:helper.link("On",  '', {"stopic":"messenger", "toggler":1}, 'selected')}}
			{{:helper.link("Off", '', {"stopic":"messenger", "toggler":2})}}
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Ringer:
	</div>
	<div class="itemContent">
		{{if data.ringer_off}}
			{{:helper.link("On",  '', {"stopic":"messenger", "ringer":1})}}
			{{:helper.link("Off", '', {"stopic":"messenger", "ringer":2}, 'selected')}}
		{{else}}
			{{:helper.link("On",  '', {"stopic":"messenger", "ringer":1}, 'selected')}}
			{{:helper.link("Off", '', {"stopic":"messenger", "ringer":2})}}
		{{/if}}
	</div>
</div>

{{for data.pdas}}
	<div class="item">
		{{:helper.link(value.name, '', {"stopic":"messenger", "select":value.owner})}}
		{{:helper.link("Quick Message", '', {"stopic":"messenger", "target":value.ref})}}
	</div>
{{/for}}
<hr/>
{{if data.current_ref}}
	<div class="item">
		<div class="itemLabel">
			Selected PDA:
		</div>
		<div class="itemContent">
			<div style="float: left; width: 80px; text-align: center;">{{:data.current_name}}</div>
			{{:helper.link("Send Message", '', {"stopic":"messenger", "target":data.current_ref})}}
		</div>
	</div>
{{else data.current_name}}
	<div class="item">
		<div class="itemLabel">
			Selected PDA:
		</div>
		<div class="itemContent">
			{{:data.current_name}} (Cannot send!)
		</div>
	</div>
{{/if}}

{{for data.messages}}
<div class="item">
	<div class="itemLabel">
		{{if value.sent}}
			To {{:value.target}}:
		{{else}}
			From {{:value.target}}:
		{{/if}}
	</div>
	<div class="itemContent">
		{{:value.message}}
	</div>
</div>
{{/for}}

{{if data.current_name}}
	{{:helper.link("Clear Screen", '', {"stopic":"messenger", "select":"*NONE*"})}}
{{/if}}
