<!-- pAI manifest
code/modules/mob/living/silicon/pai/software_modules.dm

Copy-pasted from pda.tmpl
-->

<div class="item">
	<center><table class="pmon"><tbody>
		{{if data.manifest.heads.length}}
			<tr><th colspan="3" class="command">Command</th></tr>
			{{for data.manifest["heads"]}}
				{{if value.rank == "Captain"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.sec.length}}
			<tr><th colspan="3" class="sec">Security</th></tr>
			{{for data.manifest["sec"]}}
				{{if value.rank == "Head of Security"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.eng.length}}
			<tr><th colspan="3" class="eng">Engineering</th></tr>
			{{for data.manifest["eng"]}}
				{{if value.rank == "Chief Engineer"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.med.length}}
			<tr><th colspan="3" class="med">Medical</th></tr>
			{{for data.manifest["med"]}}
				{{if value.rank == "Chief Medical Officer"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.sci.length}}
			<tr><th colspan="3" class="sci">Science</th></tr>
			{{for data.manifest["sci"]}}
				{{if value.rank == "Research Director"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.civ.length}}
			<tr><th colspan="3" class="civ">Civilian</th></tr>
			{{for data.manifest["civ"]}}
				{{if value.rank == "Head of Personnel"}}
					<tr><td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
				{{else}}
					<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
				{{/if}}
			{{/for}}
		{{/if}}
		{{if data.manifest.misc.length}}
			<tr><th colspan="3" class="misc">Misc</th></tr>
			{{for data.manifest["misc"]}}
				<tr><td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
			{{/for}}
		{{/if}}
	</tbody></table></center>
</div>
