{{:helper.syndicateMode()}}
<div class='item'>
	<div class='itemLabel'>
		Payload status:
	</div>
	<div class='itemContent'>
		{{if data.armed}}
			ARMED
		{{else}}
			DISARMED
		{{/if}}
	</div>
	<div class='itemLabel'>
		Controls:
	</div>
	<div class='itemContent'>
		<table>
		<tr><td>{{:helper.link('OBFUSCATE PROGRAM NAME', null, { 'PRG_obfuscate' : 1 })}}
		<tr><td>{{:helper.link(data.armed ? 'DISARM' : 'ARM', null, { 'PRG_arm' : 1 })}}
		{{:helper.link('ACTIVATE', 'radiation', { 'PRG_activate' : 1 }, data.armed ? null : 'disabled', data.armed ? 'redButton' : null)}}
		</table>
	</div>
</div>