<div class='item'>
	{{:helper.link('Show Camera List', 'script', {'showMap' : 0})}}
	{{:helper.link('Reset', 'refresh', {'reset' : 1})}}
</div>

<div class='item'>
	<div class='itemLabel'>Current Camera:</div>
	{{if data.current_camera}}
		<div class='itemContentWide'><b>{{:data.current_camera.name}}</b></div>
	{{else}}
		<div class='itemContentWide'>None</div>
	{{/if}}
</div>

<div class='item'>
	<div class='itemLabel'>
		Z-Level:
	</div>
	<div class='itemContentWide'>
	{{for config.mapZLevels :zValue:zIndex}}
		{{:helper.link(zValue, 'close', {'mapZLevel' : zValue}, null, config.mapZLevel == zValue ? 'selected' : null)}}
	{{/for}}
	</div>
</div>

<div class='item'>
	<div class='itemLabel'>
		Zoom Level:
	</div>
	<div class='itemContentWide'>
		<div unselectable="on" class="link zoomLink" data-zoom-level="4">x1.0</div>
		<div unselectable="on" class="link zoomLink" data-zoom-level="6">x1.5</div>
		<div unselectable="on" class="link zoomLink" data-zoom-level="8">x2.0</div>
		<div unselectable="on" class="link zoomLink" data-zoom-level="12">x2.5</div>
	</div>
</div>

<div class='item'>
	<div class='itemLabel'>Networks:</div>
</div>

{{for data.networks}}
	{{if value.has_access}}
		{{:helper.link(value.tag, '', {'switch_network' : value.tag}, null, data.current_network == value.tag ? 'selected' : null)}}
	{{else}}
		{{:helper.link(value.tag, '', {}, null, data.current_network == value.tag ? 'selected' : 'redButton')}}
	{{/if}}
{{/for}}