body
{
	padding: 0;
	margin: 0;
	background-color: #272727;
	font-size: 12px;
	color: #ffffff;
	line-height: 170%;
	cursor: default;
	-moz-user-select: none;
	-ms-user-select: none;
}

hr
{
	background-color: #40628a;
	height: 1px;
}

a, a:link, a:visited, a:active, .linkOn, .linkOff
{
	color: #ffffff;
	text-decoration: none;
	background: #40628a;
	border: 1px solid #161616;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a:hover
{
	color: #40628a;
	background: #ffffff;
}

a.white, a.white:link, a.white:visited, a.white:active
{
	color: #40628a;
	text-decoration: none;
	background: #ffffff;
	border: 1px solid #161616;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.white:hover
{
	color: #ffffff;
	background: #40628a;
}

.active, a.active:link, a.active:visited, a.active:active, a.active:hover
{
	color: #ffffff;
	background: #2f943c;
	border-color: #24722e;
}

.disabled, a.disabled:link, a.disabled:visited, a.disabled:active, a.disabled:hover
{
	color: #ffffff;
	background: #999999;
	border-color: #666666;
}

a.icon, .linkOn.icon, .linkOff.icon
{
	position: relative;
	padding: 1px 4px 2px 20px;
}

a.icon img, .linkOn.icon img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
}

ul
{
	padding: 4px 0 0 10px;
	margin: 0;
	list-style-type: none;
}

li
{
	padding: 0 0 2px 0;
}

img, a img
{
	border-style:none;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 16px 0 8px 0;
	color: #517087;
}

h1
{
	font-size: 15px;
}

h2
{
	font-size: 14px;
}

h3
{
	font-size: 13px;
}

h4
{
	font-size: 12px;
}

.uiWrapper
{

	width: 100%;
	height: 100%;
}

.uiTitle
{
	clear: both;
	padding: 6px 8px 6px 8px;
	border-bottom: 2px solid #161616;
	background: #383838;
	color: #98B0C3;
	font-size: 16px;
}

.uiTitle.icon
{
	padding: 6px 8px 6px 42px;
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

.uiContent
{
	clear: both;
	padding: 8px;
	font-family: Verdana, Geneva, sans-serif;
}

.good
{
	color: #00ff00;
}

.average
{
	color: #d09000;
}

.bad
{
	color: #ff0000;
}

.highlight
{
	color: #8BA5C4;
}

.dark
{
	color: #272727;
}

.notice
{
	position: relative;
	background: #E9C183;
	color: #15345A;
	font-size: 10px;
	font-style: italic;
	padding: 2px 4px 0 4px;
	margin: 4px;
}

.notice.icon
{
	padding: 2px 4px 0 20px;
}

.notice img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
}

div.notice
{
	clear: both;
}

.statusDisplay
{
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
}

.statusLabel
{
	width: 138px;
	float: left;
	overflow: hidden;
	color: #98B0C3;
}

.statusValue
{
	float: left;
}

.block
{
	padding: 8px;
	margin: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	background-color: #202020;
}

.block h3
{
	padding: 0;
}

.progressBar
{
	position: relative;
	width: 185px;
	height: 14px;
	border: 1px solid #666666;
	float: left;
	overflow: hidden;
    padding: 1px;
}

.progressLabel
{
	top: -2px;
    height: 100%;
    position: absolute;
    right: 4px;
    text-align: right;
}

.progressFill
{
	width: 100%;
	height: 100%;
	background: #40628a;
	overflow: hidden;
	transition: width 2.2s linear;
}

.progressFill.good
{
	color: #ffffff;
	background: #00ff00;
}

.progressFill.average
{
	color: #ffffff;
	background: #d09000;
}

.progressFill.bad
{
	color: #ffffff;
	background: #ff0000;
}

.progressFill.highlight
{
	color: #ffffff;
	background: #8BA5C4;
}

.clearBoth
{
	clear: both;
}

.clearLeft
{
	clear: left;
}

.clearRight
{
	clear: right;
}

.line
{
	width: 100%;
	clear: both;
}

section .label, section .content
{
	display: table-cell;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    padding: 3px 2px
}

section .label
{
    width: 1%;
    padding-right: 32px;
    white-space: nowrap;
    color: #8ba5c4;
}

section
{
	display: table-row;
	width: 100%
}

.display {
    width: calc(100% - 8px);
    padding: 4px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .33);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#54000000,endColorStr=#54000000)";
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr=#54000000, endColorStr=#54000000);
}