html
  box-sizing: border-box
  min-height: 100%
  margin: 0

  cursor: default // Reset the cursor.

// This really should be the default.
*, *:before, *:after
  box-sizing: inherit

body
  min-height: 100%
  height: 100%
  margin: 0 6px

  font-family: Verdana, Geneva, sans-serif
  font-size: 12px
  color: text-color-normal

  background-color: background-color-start
  background-image: linear-gradient(to bottom,
    background-color-start 0%,
    background-color-end 100%)

main
  display: block
  margin-top: 32px
  padding-top: 3px

hr
  height: rule-size
  background-color: rule-color-normal
  border: none
