@use 'sass:color';
@use '../base.scss';
@use '../functions.scss' as *;
@use './Layout.scss';

.PopupWindow {
  color: base.$color-fg;
  background-color: base.$color-bg;
  background-image: linear-gradient(
    to bottom,
    base.$color-bg-start 0%,
    base.$color-bg-end 100%
  );
  @include Layout.fancy-scrollbar(
    base.$color-bg,
    Layout.$scrollbar-color-multiplier
  );
  border: 1px solid color.adjust(base.$color-bg, $lightness: 7%);
}

.PopupWindow * {
  @include Layout.fancy-scrollbar(
    base.$color-bg,
    Layout.$scrollbar-color-multiplier
  );
}
