.PowerWindowHeader .Layout__content {
  margin-top: 98px;
  font-family: Consolas, monospace;
  font-size: 14px;
}

.LogWindowTab .Layout__content {
  margin-top: 20px;
  font-family: Consolas, monospace;
  font-size: 14px;
}
