<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Discord.Net" version="0.9.6" targetFramework="net452" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="LibGit2Sharp-SSH" version="1.0.22" targetFramework="net452" />
  <package id="LibGit2Sharp-SSH.NativeBinaries" version="1.0.14" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SmartIrc4net" version="1.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>