<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="smartirc4net-2015" version="0.5.9" targetFramework="net452" />
</packages>