section
  width: 100%
  padding: 3px 0

  .label
    @extend $cell
    width: 33%

    color: colors.label

  .content
    @extend $cell
    width: 66%

  .line
    @extend $cell
    width: 100%

  .buttoninfo
    margin-left: 5px
