body, html {
	background: snow-white;
	font-family: arial, sans-serif;
	font-size: small;
}

section#header {
	background: url('/img/vgstation-logo-backshadow.png') left top no-repeat;
	padding-left: 150px;
	padding-top: 55px;
	height: 100px;
}

section#header h1 {
	display: none;
}
section#header ul {
	display: inline;
	list-style: none;
}
section#header li {
	display: inline;
	margin: none;
	padding: 0px;
}

section#header a {
	margin: 0;
	height: 64px;
	width: 64px;
	background: #ccc;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
td, th {
	margin: 0;
	font-size: small;
	border-bottom: 1px solid #ccc;
	padding: 3px;
}

tr:nth-child(even) {
	background: #efefef;
}

.clmName {
	text-align: right;
	font-variant: small-caps;
}
.clmRank {
	text-align: center;
}
.flagset {
	color: green;
}
.flagunset {
	color: maroon;
}
tr:nth-child(odd) td.flagunset {
	background: #ffe0e0;
}
tr:nth-child(even) td.flagunset {
	background: #efc0c0;
}
tr:nth-child(odd) td.flagset {
	background: #e0ffe0;
}
tr:nth-child(even) td.flagset {
	background: #c0efc0;
}

.flags {
	text-align: center;
}

section#footer ul {
	border-top: 1px solid #cfcfcf;
	color: #666;
	font-size: x-small;
	list-style: none;
}

button, a.buttstyle {
	top: 0.25em;
	background: #ffffff;
	background: linear-gradient(to bottom,#ffffff 0%,#cfcfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #666666;
	text-decoration: none;
}

button:HOVER, a.buttstyle:HOVER {
	border: 1px solid #666666;
}

button:ACTIVE, a.buttstyle:ACTIVE {
	border: 1px solid red;
}

div#sessinfo {
	background: #efefef;
	padding: 0.5em;
}

.bar {
	display: inline-block;
	background: #ffffff;
	background: linear-gradient(to bottom,#ffffff 0%,#cfcfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #666666;
	text-decoration: none;
	height: 16px;
}

span.bar.green {
	display: inline-block;
	background: green;
	background: linear-gradient(to bottom,#00ff00 0%,#00cf00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#00cf00',GradientType=0 );
	padding: 3px;
	border: 1px solid #00cc00;
	border-radius: 3px;
	color: #00cc00;
	text-decoration: none;
	height: 16px;
}