# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


# PASTE HERE ONLY YOUR's REPO MAINTAINERS WITH WRITE ACCSESS!!!
# COVER ONLY YOUR MODULAR REPO FILES

# DM CODE MAINTAINERS

/modular_meta/ @Huz2e


# MAP MAINTAINERS

/_maps/map_files/KiloStation/ @Huz2e
/_maps/map_files/ProtoBoxStation/ @Huz2e
/_maps/map_files/PubbyStation/ @Huz2e

/_maps/kilostation.json @Huz2e
/_maps/protoboxstation.json @Huz2e
/_maps/pubbystation.json @Huz2e


# TGUI MAINTAINERS

/tgui/packages/tgui/interfaces/Modpacks.tsx @Huz2e