# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners


# MAINTAINERS

/modular_meta/ @Huz2e @Artemchik542

# MAP MAINTAINERS
/_maps/map_files/ProtoBoxStation/ @mothmapper
/_maps/map_files/PubbyStation/ @mothmapper
/_maps/map_files/KiloStation/ @mothmapper