.dockerignore
.editorconfig
.travis.yml
GPLv3.txt
LICENSE
README.md
TGS3.json
.git*
.vs*
tools
cfg
data
SQL
tgui/node_modules
tgstation.dmb
tgstation.int
tgstation.rsc
tgstation.lk
tgstation.dyn.rsc
libmariadb.dll
rust_g.dll
Dockerfile
