[*]
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.py]
indent_style = space

[/tgui/**/*.{js,styl,ract,json,html}]
indent_style = space
indent_size = 2
