*.css text eol=crlf
*.dm text eol=crlf
*.dme text eol=crlf
*.dmf text eol=crlf
*.dmm text eol=crlf
*.dms text eol=crlf
*.htm text eol=crlf
*.html text eol=crlf
*.js text eol=crlf
*.py text eol=crlf
*.txt text eol=crlf

*.dmm merge=merge-dmm
