###Files and folders specified here will never be tracked.

#Ignore everything in datafolder and subdirectories
/data/**/*

#Ignore compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int