# Directories
changelogs
data
font-awesome
jquery
juke
**/build
**/dist
**/node_modules
# BANDASTATION ADD - Start
**/blanks/markdown
# BANDASTATION ADD - End

# File names / types
*.min.*
*.pnp.*
*.bundle.*
