# Directories
changelogs
data
font-awesome
jquery
juke

## Tgui
node_modules
.yarn
# Avoid running on any bundles.
tgui/public
# Running it on tgui.html is fine, however.
!/tgui/public/tgui.html
# Specific files
package-lock.json
# File names / types
*.min.*
*.pnp.*
