<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;deadchat_control - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/deadchat_control.html#var">Var Details</a> - <a href="datum/component/deadchat_control.html#proc">Proc Details</a></header>
<main>
<h1>deadchat_control <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/deadchat_control.html">deadchat_control</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 10"/></a></h1>

<p>Deadchat Plays Things - The Componenting</p>
<p>Allows deadchat to control stuff and things by typing commands into chat.
These commands will then trigger callbacks to execute procs!</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/ckey_to_cooldown">ckey_to_cooldown</a></th><td>Assoc list of ckey:value pairings. In DEMOCRACY_MODE, value is the player's vote. In ANARCHY_MODE, value is world.time when their cooldown expires.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/deadchat_mode">deadchat_mode</a></th><td>Either DEMOCRACY_MODE which will execute a single command after the cooldown based on player votes, or ANARCHY_MODE which allows each player to do a single command every cooldown.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/input_cooldown">input_cooldown</a></th><td>In DEMOCRACY_MODE, this is how long players have to vote on an input. In ANARCHY_MODE, this is how long between inputs for each unique player.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/inputs">inputs</a></th><td>Assoc list of key-chat command string, value-callback pairs. list(&quot;right&quot; = CALLBACK(GLOBAL_PROC, .proc/_step, src, EAST))</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/on_removal">on_removal</a></th><td>Callback invoked when this component is Destroy()ed to allow the parent to return to a non-deadchat controlled state.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/orbiters">orbiters</a></th><td>List of everything orbitting this component's parent.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#var/timerid">timerid</a></th><td>The id for the DEMOCRACY_MODE looping vote timer.</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#proc/async_handle_vv_topic">async_handle_vv_topic</a></th><td>Async proc handling the alert input and associated logic for an admin removing this component via the VV dropdown.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#proc/handle_vv_topic">handle_vv_topic</a></th><td>Allows for this component to be removed via a dedicated VV dropdown entry.</td></tr>
            <tr><th><a href="datum/component/deadchat_control.html#proc/on_examine">on_examine</a></th><td>Informs any examiners to the inputs available as part of deadchat control, as well as the current operating mode and cooldowns.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/ckey_to_cooldown"><aside class="declaration">var </aside>ckey_to_cooldown
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L18">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 18"/></a></h3>
        <p>Assoc list of ckey:value pairings. In DEMOCRACY_MODE, value is the player's vote. In ANARCHY_MODE, value is world.time when their cooldown expires.</p><h3 id="var/deadchat_mode"><aside class="declaration">var </aside>deadchat_mode
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 22"/></a></h3>
        <p>Either DEMOCRACY_MODE which will execute a single command after the cooldown based on player votes, or ANARCHY_MODE which allows each player to do a single command every cooldown.</p><h3 id="var/input_cooldown"><aside class="declaration">var </aside>input_cooldown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 24"/></a></h3>
        <p>In DEMOCRACY_MODE, this is how long players have to vote on an input. In ANARCHY_MODE, this is how long between inputs for each unique player.</p><h3 id="var/inputs"><aside class="declaration">var </aside>inputs
            <aside>&ndash; /list/datum/callback</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 16"/></a></h3>
        <p>Assoc list of key-chat command string, value-callback pairs. list(&quot;right&quot; = CALLBACK(GLOBAL_PROC, .proc/_step, src, EAST))</p><h3 id="var/on_removal"><aside class="declaration">var </aside>on_removal
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 29"/></a></h3>
        <p>Callback invoked when this component is Destroy()ed to allow the parent to return to a non-deadchat controlled state.</p><h3 id="var/orbiters"><aside class="declaration">var </aside>orbiters
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 20"/></a></h3>
        <p>List of everything orbitting this component's parent.</p><h3 id="var/timerid"><aside class="declaration">var </aside>timerid
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 14"/></a></h3>
        <p>The id for the DEMOCRACY_MODE looping vote timer.</p><h2 id="proc">Proc Details</h2><h3 id="proc/async_handle_vv_topic"><aside class="declaration">proc </aside>async_handle_vv_topic<aside>(/<a href="mob.html">mob</a>/user, /list/href_list) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L144">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 144"/></a></aside>
        </h3>
        <p>Async proc handling the alert input and associated logic for an admin removing this component via the VV dropdown.</p><h3 id="proc/handle_vv_topic"><aside class="declaration">proc </aside>handle_vv_topic<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user, /list/href_list) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L136">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 136"/></a></aside>
        </h3>
        <p>Allows for this component to be removed via a dedicated VV dropdown entry.</p><h3 id="proc/on_examine"><aside class="declaration">proc </aside>on_examine<aside>(/<a href="atom.html">atom</a>/A, /<a href="mob.html">mob</a>/user, /list/examine_list) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/deadchat_control.dm#L157">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;deadchat_control.dm 157"/></a></aside>
        </h3>
        <p>Informs any examiners to the inputs available as part of deadchat control, as well as the current operating mode and cooldowns.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
