<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;dejavu - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/dejavu.html#var">Var Details</a></header>
<main>
<h1>dejavu <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/dejavu.html">dejavu</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 4"/></a></h1>

<p>A component to reset the parent to its previous state after some time passes</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/brain_loss">brain_loss</a></th><td>The starting value of brain loss at the beginning of the effect</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/brute_loss">brute_loss</a></th><td>The starting value of brute loss at the beginning of the effect
This only applies to simple animals</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/clone_loss">clone_loss</a></th><td>The starting value of clone loss at the beginning of the effect</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/integrity">integrity</a></th><td>The starting value of integrity at the beginning of the effect
This only applies to objects</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/oxy_loss">oxy_loss</a></th><td>The starting value of oxygen loss at the beginning of the effect</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/rewind_interval">rewind_interval</a></th><td>How long to wait between each rewind</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/rewind_type">rewind_type</a></th><td>Determined by the type of the parent so different behaviours can happen per type</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/rewinds_remaining">rewinds_remaining</a></th><td>How many rewinds will happen before the effect ends</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/saved_bodyparts">saved_bodyparts</a></th><td>A list of body parts saved at the beginning of the effect</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/starting_turf">starting_turf</a></th><td>The turf the parent was on when this components was applied, they get moved back here after the duration</td></tr>
            <tr><th><a href="datum/component/dejavu.html#var/tox_loss">tox_loss</a></th><td>The starting value of toxin loss at the beginning of the effect</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/brain_loss"><aside class="declaration">var </aside>brain_loss
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L21">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 21"/></a></h3>
        <p>The starting value of brain loss at the beginning of the effect</p><h3 id="var/brute_loss"><aside class="declaration">var </aside>brute_loss
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 24"/></a></h3>
        <p>The starting value of brute loss at the beginning of the effect
This only applies to simple animals</p><h3 id="var/clone_loss"><aside class="declaration">var </aside>clone_loss
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 15"/></a></h3>
        <p>The starting value of clone loss at the beginning of the effect</p><h3 id="var/integrity"><aside class="declaration">var </aside>integrity
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L27">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 27"/></a></h3>
        <p>The starting value of integrity at the beginning of the effect
This only applies to objects</p><h3 id="var/oxy_loss"><aside class="declaration">var </aside>oxy_loss
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L19">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 19"/></a></h3>
        <p>The starting value of oxygen loss at the beginning of the effect</p><h3 id="var/rewind_interval"><aside class="declaration">var </aside>rewind_interval
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 12"/></a></h3>
        <p>How long to wait between each rewind</p><h3 id="var/rewind_type"><aside class="declaration">var </aside>rewind_type
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 8"/></a></h3>
        <p>Determined by the type of the parent so different behaviours can happen per type</p><h3 id="var/rewinds_remaining"><aside class="declaration">var </aside>rewinds_remaining
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 10"/></a></h3>
        <p>How many rewinds will happen before the effect ends</p><h3 id="var/saved_bodyparts"><aside class="declaration">var </aside>saved_bodyparts
            <aside>&ndash; /list/datum/saved_bodypart</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L31">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 31"/></a></h3>
        <p>A list of body parts saved at the beginning of the effect</p><h3 id="var/starting_turf"><aside class="declaration">var </aside>starting_turf
            <aside>&ndash; /<a href="turf.html">turf</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 6"/></a></h3>
        <p>The turf the parent was on when this components was applied, they get moved back here after the duration</p><h3 id="var/tox_loss"><aside class="declaration">var </aside>tox_loss
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/dejavu.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;dejavu.dm 17"/></a></h3>
        <p>The starting value of toxin loss at the beginning of the effect</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
