<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;grillable - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/grillable.html#var">Var Details</a> - <a href="datum/component/grillable.html#proc">Proc Details</a></header>
<main>
<h1>grillable <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/grillable.html">grillable</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/grillable.html#var/cook_result">cook_result</a></th><td>Result atom type of grilling this object</td></tr>
            <tr><th><a href="datum/component/grillable.html#var/current_cook_time">current_cook_time</a></th><td>Time spent cooking so far</td></tr>
            <tr><th><a href="datum/component/grillable.html#var/currently_grilling">currently_grilling</a></th><td>Are we currently grilling?</td></tr>
            <tr><th><a href="datum/component/grillable.html#var/positive_result">positive_result</a></th><td>Is this a positive grill result?</td></tr>
            <tr><th><a href="datum/component/grillable.html#var/required_cook_time">required_cook_time</a></th><td>Amount of time required to cook the food</td></tr>
            <tr><th><a href="datum/component/grillable.html#var/use_large_steam_sprite">use_large_steam_sprite</a></th><td>Do we use the large steam sprite?</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/grillable.html#proc/FinishGrilling">FinishGrilling</a></th><td>Ran when an object finished grilling</td></tr>
            <tr><th><a href="datum/component/grillable.html#proc/OnExamine">OnExamine</a></th><td>Ran when an object almost finishes grilling</td></tr>
            <tr><th><a href="datum/component/grillable.html#proc/OnGrill">OnGrill</a></th><td>Ran every time an item is grilled by something</td></tr>
            <tr><th><a href="datum/component/grillable.html#proc/OnMoved">OnMoved</a></th><td>Ran when an object moves from the grill</td></tr>
            <tr><th><a href="datum/component/grillable.html#proc/StartGrilling">StartGrilling</a></th><td>Ran when an object starts grilling on something</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/cook_result"><aside class="declaration">var </aside>cook_result
            <aside>&ndash; /<a href="atom.html">atom</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 4"/></a></h3>
        <p>Result atom type of grilling this object</p><h3 id="var/current_cook_time"><aside class="declaration">var </aside>current_cook_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L11">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 11"/></a></h3>
        <p>Time spent cooking so far</p><h3 id="var/currently_grilling"><aside class="declaration">var </aside>currently_grilling
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 14"/></a></h3>
        <p>Are we currently grilling?</p><h3 id="var/positive_result"><aside class="declaration">var </aside>positive_result
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 8"/></a></h3>
        <p>Is this a positive grill result?</p><h3 id="var/required_cook_time"><aside class="declaration">var </aside>required_cook_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 6"/></a></h3>
        <p>Amount of time required to cook the food</p><h3 id="var/use_large_steam_sprite"><aside class="declaration">var </aside>use_large_steam_sprite
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 17"/></a></h3>
        <p>Do we use the large steam sprite?</p><h2 id="proc">Proc Details</h2><h3 id="proc/FinishGrilling"><aside class="declaration">proc </aside>FinishGrilling<aside>(/<a href="atom.html">atom</a>/grill_source) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L68">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 68"/></a></aside>
        </h3>
        <p>Ran when an object finished grilling</p><h3 id="proc/OnExamine"><aside class="declaration">proc </aside>OnExamine<aside>(/<a href="atom.html">atom</a>/A, /<a href="mob.html">mob</a>/user, /list/examine_list) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L82">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 82"/></a></aside>
        </h3>
        <p>Ran when an object almost finishes grilling</p><h3 id="proc/OnGrill"><aside class="declaration">proc </aside>OnGrill<aside>(/<a href="datum.html">datum</a>/source, /<a href="atom.html">atom</a>/used_grill, delta_time) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L46">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 46"/></a></aside>
        </h3>
        <p>Ran every time an item is grilled by something</p><h3 id="proc/OnMoved"><aside class="declaration">proc </aside>OnMoved<aside>(/<a href="atom.html">atom</a>/A, /<a href="atom.html">atom</a>/OldLoc, Dir, Forced) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L96">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 96"/></a></aside>
        </h3>
        <p>Ran when an object moves from the grill</p><h3 id="proc/StartGrilling"><aside class="declaration">proc </aside>StartGrilling<aside>(/<a href="atom.html">atom</a>/grill_source) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/grillable.dm#L59">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;grillable.dm 59"/></a></aside>
        </h3>
        <p>Ran when an object starts grilling on something</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
