<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;happiness - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/happiness.html#var">Var Details</a></header>
<main>
<h1>happiness <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/happiness.html">happiness</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 8"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/happiness.html#var/blackboard_key">blackboard_key</a></th><td>happiness AI blackboard key</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/callback_percentages">callback_percentages</a></th><td>percentages we should be calling back on</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/groom_cooldown">groom_cooldown</a></th><td>how long till we can groom it again</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/happiness_callback">happiness_callback</a></th><td>callback when our happiness changes</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/happiness_inspect">happiness_inspect</a></th><td>how long till we can inspect happiness again?</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/happiness_level">happiness_level</a></th><td>our current happiness level</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/maximum_happiness">maximum_happiness</a></th><td>our maximum happiness level</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/on_eat_change">on_eat_change</a></th><td>happiness when we eat</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/on_groom_change">on_groom_change</a></th><td>happiness when we get groomed</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/on_petted_change">on_petted_change</a></th><td>happiness when we get petted</td></tr>
            <tr><th><a href="datum/component/happiness.html#var/pet_cooldown">pet_cooldown</a></th><td>how long till we can pet it again?</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/blackboard_key"><aside class="declaration">var </aside>blackboard_key
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 14"/></a></h3>
        <p>happiness AI blackboard key</p><h3 id="var/callback_percentages"><aside class="declaration">var </aside>callback_percentages
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 22"/></a></h3>
        <p>percentages we should be calling back on</p><h3 id="var/groom_cooldown"><aside class="declaration">var </aside>groom_cooldown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L31">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 31"/></a></h3>
        <p>how long till we can groom it again</p><h3 id="var/happiness_callback"><aside class="declaration">var </aside>happiness_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 24"/></a></h3>
        <p>callback when our happiness changes</p><h3 id="var/happiness_inspect"><aside class="declaration">var </aside>happiness_inspect
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L27">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 27"/></a></h3>
        <p>how long till we can inspect happiness again?</p><h3 id="var/happiness_level"><aside class="declaration">var </aside>happiness_level
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 10"/></a></h3>
        <p>our current happiness level</p><h3 id="var/maximum_happiness"><aside class="declaration">var </aside>maximum_happiness
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 12"/></a></h3>
        <p>our maximum happiness level</p><h3 id="var/on_eat_change"><aside class="declaration">var </aside>on_eat_change
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 20"/></a></h3>
        <p>happiness when we eat</p><h3 id="var/on_groom_change"><aside class="declaration">var </aside>on_groom_change
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 16"/></a></h3>
        <p>happiness when we get groomed</p><h3 id="var/on_petted_change"><aside class="declaration">var </aside>on_petted_change
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L18">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 18"/></a></h3>
        <p>happiness when we get petted</p><h3 id="var/pet_cooldown"><aside class="declaration">var </aside>pet_cooldown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/happiness.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;happiness.dm 29"/></a></h3>
        <p>how long till we can pet it again?</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/6517c39a58f036fd9d66d55b6a12d90e1339280a">6517c39</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
