<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;payment - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/payment.html#var">Var Details</a></header>
<main>
<h1>payment <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/payment.html">payment</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/payment.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;payment.dm 12"/></a></h1>

<p>Handles simple payment operations where the cost of the object in question doesn't change.</p>
<p>What this is useful for:
Basic forms of vending.
Objects that can drain the owner's money linearly.
What this is not useful for:
Things where the seller may want to fluxuate the price of the object.
Improving standardizing every form of payment handing, as some custom handling is specific to that object.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/payment.html#var/cost">cost</a></th><td>NO OVERRIDING TO CHEESE BOUNTIES
Standardized of operation.</td></tr>
            <tr><th><a href="datum/component/payment.html#var/target_acc">target_acc</a></th><td>Who's getting paid?</td></tr>
            <tr><th><a href="datum/component/payment.html#var/transaction_style">transaction_style</a></th><td>Flavor style for handling cash (Friendly? Hostile? etc.)</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/cost"><aside class="declaration">var </aside>cost
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/payment.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;payment.dm 15"/></a></h3>
        <p>NO OVERRIDING TO CHEESE BOUNTIES
Standardized of operation.</p><h3 id="var/target_acc"><aside class="declaration">var </aside>target_acc
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/bank_account.html">bank_account</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/payment.dm#L21">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;payment.dm 21"/></a></h3>
        <p>Who's getting paid?</p><h3 id="var/transaction_style"><aside class="declaration">var </aside>transaction_style
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/payment.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;payment.dm 17"/></a></h3>
        <p>Flavor style for handling cash (Friendly? Hostile? etc.)</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
