<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;profound_fisher - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/profound_fisher.html#var">Var Details</a></header>
<main>
<h1>profound_fisher <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/profound_fisher.html">profound_fisher</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/profound_fisher.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;profound_fisher.dm 2"/></a></h1>

<p>component that allows player mobs to play the fishing minigame, non-player mobs will &quot;pretend&quot; fish</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/profound_fisher.html#var/npc_fishing_preset">npc_fishing_preset</a></th><td>if controlled by an AI, the things this mob can &quot;pretend&quot; fish</td></tr>
            <tr><th><a href="datum/component/profound_fisher.html#var/our_rod">our_rod</a></th><td>the fishing rod this mob will use</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/npc_fishing_preset"><aside class="declaration">var </aside>npc_fishing_preset
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/profound_fisher.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;profound_fisher.dm 8"/></a></h3>
        <p>if controlled by an AI, the things this mob can &quot;pretend&quot; fish</p><h3 id="var/our_rod"><aside class="declaration">var </aside>our_rod
            <aside>&ndash; /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/<a href="obj/item/fishing_rod.html">fishing_rod</a>/mob_fisher</aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/datums/components/profound_fisher.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;profound_fisher.dm 4"/></a></h3>
        <p>the fishing rod this mob will use</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/6517c39a58f036fd9d66d55b6a12d90e1339280a">6517c39</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
