<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;rot - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/rot.html#var">Var Details</a></header>
<main>
<h1>rot <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/rot.html">rot</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/rot.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;rot.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/rot.html#var/amount">amount</a></th><td>Amount of miasma we're spawning per tick</td></tr>
            <tr><th><a href="datum/component/rot.html#var/time_remaining">time_remaining</a></th><td>Time remaining before we remove the component</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/amount"><aside class="declaration">var </aside>amount
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/rot.dm#L3">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;rot.dm 3"/></a></h3>
        <p>Amount of miasma we're spawning per tick</p><h3 id="var/time_remaining"><aside class="declaration">var </aside>time_remaining
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/rot.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;rot.dm 5"/></a></h3>
        <p>Time remaining before we remove the component</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
