<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;traitor_objective_limit_per_time - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/traitor_objective_limit_per_time.html#var">Var Details</a></header>
<main>
<h1>traitor_objective_limit_per_time <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/traitor_objective_limit_per_time.html">traitor_objective_limit_per_time</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/modules/antagonists/traitor/components/traitor_objective_limit_per_time.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;antagonists&#x2F;traitor&#x2F;components&#x2F;traitor_objective_limit_per_time.dm 2"/></a></h1>

<p>Helper component to track events on</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/traitor_objective_limit_per_time.html#var/maximum_objectives">maximum_objectives</a></th><td>The maximum amount of objectives that can be active or recently active at one time</td></tr>
            <tr><th><a href="datum/component/traitor_objective_limit_per_time.html#var/time_period">time_period</a></th><td>The maximum time that an objective will be considered for. Set to -1 to accept any time.</td></tr>
            <tr><th><a href="datum/component/traitor_objective_limit_per_time.html#var/typepath">typepath</a></th><td>The typepath which we check for</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/maximum_objectives"><aside class="declaration">var </aside>maximum_objectives
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/modules/antagonists/traitor/components/traitor_objective_limit_per_time.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;antagonists&#x2F;traitor&#x2F;components&#x2F;traitor_objective_limit_per_time.dm 8"/></a></h3>
        <p>The maximum amount of objectives that can be active or recently active at one time</p><h3 id="var/time_period"><aside class="declaration">var </aside>time_period
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/modules/antagonists/traitor/components/traitor_objective_limit_per_time.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;antagonists&#x2F;traitor&#x2F;components&#x2F;traitor_objective_limit_per_time.dm 6"/></a></h3>
        <p>The maximum time that an objective will be considered for. Set to -1 to accept any time.</p><h3 id="var/typepath"><aside class="declaration">var </aside>typepath
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/6517c39a58f036fd9d66d55b6a12d90e1339280a/code/modules/antagonists/traitor/components/traitor_objective_limit_per_time.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;antagonists&#x2F;traitor&#x2F;components&#x2F;traitor_objective_limit_per_time.dm 12"/></a></h3>
        <p>The typepath which we check for</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/6517c39a58f036fd9d66d55b6a12d90e1339280a">6517c39</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
