@use 'sass:color';

$background: #131313;
$button: #1f1f1f;

////////////////////////////////////////////////
// Normal chat colors
$say: #a4bad6;
$radio: #1ecc43;
$me: #5975da;
$ooc: #cca300;

////////////////////////////////////////////////
// Subchannel chat colors
$ai: #d65d95;
$binary: #1e90ff;
$centcom: #2681a5;
$command: #fcdf03;
$engi: #f37746;
$hive: #855d85;
$medical: #57b8f0;
$science: #c68cfa;
$security: #dd3535;
$syndicate: #8f4a4b;
$service: #6ca729;
$supply: #b88646;
