.window {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0));
  border-radius: 10px;
  border-bottom: 2px groove steelblue;
  height: 3rem;
  padding: 0.5rem 2px 0 2px;
  width: 25rem;
  display: flex;
  flex-direction: row;
}

.input {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
