$window-background: #131313;
$button: #1f1f1f;
$button-hover: #2a2a2a;

////////////////////////////////////////////////
// Largely pulling from in game colors
$color-say: #a4bad6;
$color-say-border: #3c4550;
$color-say-dark: #181e25;
$color-say-highlight: #d7e9ff;
$color-radio: #1ecc43;
$color-radio-border: #0b641d;
$color-radio-dark: #041d09;
$color-radio-highlight: #4fff75;
$color-me: #5975da;
$color-me-border: #1b2650;
$color-me-dark: #13182c;
$color-me-highlight: #7694ff;
$color-ooc: #cca300;
$color-ooc-border: #443701;
$color-ooc-dark: #1f1800;
$color-ooc-highlight: #ffd631;

////////////////////////////////////////////////
// Gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

////////////////////////////////////////////////
// Main window styles
.window {
  background: $window-background;
  display: flex;
  flex-direction: row;
  font-family: 'Consolas', monospace;
  margin: 0 auto;
  max-width: 280px;
  padding: 0.4rem 0 0.4rem 0.4rem;
  position: relative;
  width: 100%;
}

.window-40 {
  height: 40px;
}

.window-64 {
  height: 64px;
}

.window-88 {
  height: 88px;
}

.window-say {
  border-left: 2px solid $color-say-border;
  border-right: 2px solid $color-say-border;

  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(to right,
        $color-say-dark,
        $color-say,
        $color-say-highlight,
        $color-say,
        $color-say-dark );
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

.window-radio {
  border-left: 2px solid $color-radio-border;
  border-right: 2px solid $color-radio-border;

  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(to right,
        $color-radio-dark,
        $color-radio,
        $color-radio-highlight,
        $color-radio,
        $color-radio-dark );
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

.window-me {
  border-left: 2px solid $color-me-border;
  border-right: 2px solid $color-me-border;

  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(to right,
        $color-me-dark,
        $color-me,
        $color-me-highlight,
        $color-me,
        $color-me-dark );
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

.window-ooc {
  border-left: 2px solid $color-ooc-border;
  border-right: 2px solid $color-ooc-border;

  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(to right,
        $color-ooc-dark,
        $color-ooc,
        $color-ooc-highlight,
        $color-ooc,
        $color-ooc-dark );
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

////////////////////////////////////////////////
// Button styles
.button {
  background-color: $button;
  border: thin solid $button-hover;
  border-radius: 6px;
  color: $window-background;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.8rem;
  height: 28px;
  margin-right: 0.2rem;
  text-align: center;
  vertical-align: middle;
  width: 35px;

  &:hover {
    background-color: $button-hover;
  }
}

.button-say {
  color: $color-say;

  &:hover {
    border-color: $color-say-highlight;
    color: $color-say-highlight;
  }
}

.button-radio {
  color: $color-radio;

  &:hover {
    border-color: $color-radio-highlight;
    color: $color-radio-highlight;
  }
}

.button-me {
  color: $color-me;

  &:hover {
    border-color: $color-me-highlight;
    color: $color-me-highlight;
  }
}

.button-ooc {
  color: $color-ooc;

  &:hover {
    border-color: $color-ooc-highlight;
    color: $color-ooc-highlight;
  }
}

////////////////////////////////////////////////
// Input box styles
.input {
  background-color: transparent;
  border: none;
  color: $window-background;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-top: 0.2rem;
  width: 100%;
}

.input-say {
  color: $color-say-highlight;
}

.input-radio {
  color: $color-radio;
}

.input-me {
  color: $color-me;
}

.input-ooc {
  color: $color-ooc;
}
