$input-background: #131313;
$input-text-active: #abc6ec;
$input-text-inactive: #7881a1;
$input-button-hover: #2a2a2a;
$input-button-border: #424242;

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.tguimodal-window {
  background: $input-background;
  border-left: thin solid $input-text-inactive;
  border-right: thin solid $input-text-inactive;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 333px;
  padding: 1rem 0 1rem 1rem;
  position: relative;
  width: 100%;
  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(
      to right,
      #0a1931,
      #185adb,
      #efefef,
      #185adb,
      #0a1931
    );
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

.tguimodal-input {
  background-color: $input-background;
  border: none;
  color: $input-text-active;
  font-family: 'tgfont', monospace;
  font-size: 1.8rem;
  letter-spacing: thin;
  margin-top: 4px;
  width: 100%;
}

.tguimodal-button {
  background-color: transparent;
  border: none;
  color: $input-text-inactive;
  font-family: 'tgfont', monospace;
  font-weight: bold;
  font-size: 2.2rem;
  height: 40px;
  padding-top: 2px;
  text-align: center;
  transition: color 0.5s;
  vertical-align: middle;
  width: 60px;
  &:hover {
    background-color: $input-button-hover;
    border: thin solid $input-text-inactive;
    border-radius: 6px;
    color: $input-text-active;
  }
}
