$h
  display: inline-block
  margin: 0
  padding: 6px 0
h1
  @extend $h
  font-size: fontsize + 6px
h2
  @extend $h
  font-size: fontsize + 4px
h3
  @extend $h
  font-size: fontsize + 2px
h4
  @extend $h
  font-size: fontsize
