@use 'sass:color';
@use './colors.scss';

.button {
  background-color: colors.$button;
  border-radius: 0.2rem;
  border: thin solid;
  font-family: 'Consolas', monospace;
  font-size: 0.9rem;
  font-weight: bold;
  &:hover {
    background-color: lighten(colors.$button, 10%);
  }
}

.button-lightMode {
  background-color: colors.$lightBorder;
  border: none;
  color: black;
  &:hover {
    background-color: colors.$lightHover;
  }
}
