@use 'sass:color';
@use 'sass:selector';
@use './colors.scss';

.button {
  background-color: colors.$button;
  border: thin solid;
  border-radius: 2px;
  color: colors.$background;
  font-family: 'Consolas', monospace;
  font-weight: bold;
  font-size: 0.9rem;
  height: 100%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 4rem;

  &:hover {
    background-color: lighten(colors.$button, 10%);
  }
}

.button-lightMode {
  @extend .button;
  background-color: colors.$lightBorder;
  border: none;
  color: black;

  &:hover {
    background-color: colors.$lightHover;
  }
}

/** Creates a button for each channel */
@each $channel,
$color in colors.$channel-map {
  .button-#{$channel} {
    color: $color;
    border-color: darken($color, 10%);

    &:hover {
      border-color: lighten($color, 10%);
      color: lighten($color, 5%);
    }
  }
}
