@use 'sass:color';
@use './colors.scss';

.button {
  align-items: center;
  background-color: colors.$button;
  border-radius: 0.3rem;
  border: thin solid;
  display: flex;
  flex-grow: 1;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  justify-content: center;
  padding: 0;
  width: 2.6rem;
  &:hover {
    background-color: lighten(colors.$button, 10%);
  }
}

.button-lightMode {
  background-color: colors.$lightBorder;
  border: none;
  color: black;
  &:hover {
    background-color: colors.$lightHover;
  }
}
