@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;

$_channel_map: (
  'Admin': #ffbbff,
  'AI': #d65d95,
  'CCom': #2681a5,
  'Cling': #4c701f,
  'Cmd': #fcdf03,
  'Engi': #f37746,
  'Hive': #855d85,
  'io': #1e90ff,
  'Me': #5975da,
  'Med': #57b8f0,
  'OOC': #cca300,
  'Ent': #00ff99,
  'Radio': #1ecc43,
  'Say': #a4bad6,
  'Sci': #c68cfa,
  'Sec': #dd3535,
  'Supp': #b88646,
  'Svc': #6ca729,
  'Synd': #8f4a4b,
  // BANDASTATION ADDITION START
  'LOOC': #ffceb6,
  'Whis': #7c7fd9,
  'ИИ': #d65d95,
  'ЦК': #2681a5,
  'Ген': #4c701f,
  'Ком': #fcdf03,
  'Инж': #f37746,
  'Рой': #855d85,
  'вв': #1e90ff,
  'Эмоц': #5975da,
  'Мед': #57b8f0,
  'Рац': #1ecc43,
  'Гов': #a4bad6,
  'Науч': #c68cfa,
  'СБ': #dd3535,
  'Снаб': #b88646,
  'Серв': #6ca729,
  'Синд': #8f4a4b,
  // BANDASTATION EDIT END
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
