@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;

$_channel_map: (
  'Admin': #ffbbff,
  'AI': #d65d95,
  'CCom': #2681a5,
  'Cmd': #fcdf03,
  'Engi': #f37746,
  'Hive': #855d85,
  'io': #1e90ff,
  'Me': #5975da,
  'Med': #57b8f0,
  'OOC': #cca300,
  'Radio': #1ecc43,
  'Say': #a4bad6,
  'Sci': #c68cfa,
  'Sec': #dd3535,
  'Supp': #b88646,
  'Svc': #6ca729,
  'Synd': #8f4a4b,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
