@use 'sass:color';
@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #FFFFFF;
$lightBorder: #BBBBBB;
$lightHover: #EAEAEA;

////////////////////////////////////////////////
// Normal chat colors
$say: #a4bad6;
$radio: #1ecc43;
$me: #5975da;
$ooc: #cca300;

////////////////////////////////////////////////
// Subchannel chat colors
$ai: #d65d95;
$binary: #1e90ff;
$centcom: #2681a5;
$command: #fcdf03;
$engi: #f37746;
$hive: #855d85;
$medical: #57b8f0;
$science: #c68cfa;
$security: #dd3535;
$syndicate: #8f4a4b;
$service: #6ca729;
$supply: #b88646;

$_channel_map: (
  'say': $say,
  'radio': $radio,
  'me': $me,
  'ooc': $ooc,

  'ai': $ai,
  'binary': $binary,
  'centcom': $centcom,
  'command': $command,
  'engi': $engi,
  'hive': $hive,
  'medical': $medical,
  'science': $science,
  'security': $security,
  'syndicate': $syndicate,
  'service': $service,
  'supply': $supply,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: (
);

@each $channel in $channel_keys {
  $channel-map: map-merge($channel-map, ($channel: map.get($_channel_map, $channel),
    ));
}
