@use 'sass:color';
@use './colors.scss';

$borderSize: 2px;

.dragzone-horizontal {
  color: transparent;
  height: $borderSize;
  flex: 1 1 auto;
}

.dragzone-vertical {
  color: transparent;
  flex: 1 1 auto;
  width: $borderSize;
}

@each $channel, $color in colors.$channel-map {
  $darkened: darken($color, 20%);

  .dragzone-bottom-#{$channel} {
    @extend .dragzone-horizontal;
    border-left: $borderSize solid $darkened;
    border-right: $borderSize solid $darkened;
  }

  .dragzone-left-#{$channel} {
    @extend .dragzone-vertical;
    border-left: $borderSize solid $darkened;
  }

  .dragzone-right-#{$channel} {
    @extend .dragzone-vertical;
    border-right: $borderSize solid $darkened;
  }

  .dragzone-top-#{$channel} {
    @extend .dragzone-horizontal;
    border-left: $borderSize solid $darkened;
    border-right: $borderSize solid $darkened;
    border-top: $borderSize solid $darkened;
  }
}

/** Lightmode static theme */
.dragzone-bottom-lightMode {
  @extend .dragzone-horizontal;
  border-left: $borderSize solid colors.$lightBorder;
  border-right: $borderSize solid colors.$lightBorder;
  border-bottom: $borderSize solid colors.$lightBorder;
}

.dragzone-left-lightMode {
  @extend .dragzone-vertical;
  border-left: $borderSize solid colors.$lightBorder;
}

.dragzone-right-lightMode {
  @extend .dragzone-vertical;
  border-right: $borderSize solid colors.$lightBorder;
}

.dragzone-top-lightMode {
  @extend .dragzone-horizontal;
  border-left: $borderSize solid colors.$lightBorder;
  border-right: $borderSize solid colors.$lightBorder;
  border-top: $borderSize solid colors.$lightBorder;
}
