@use 'sass:color';
@use './colors.scss';

$borderSize: 4px;

.dragzone-horizontal {
  flex: 1 1 0;
  width: 100%;
  height: $borderSize;
  color: transparent;
  border-bottom: thin solid;
  border-top: thin solid;
}
.dragzone-left {
  border-left: thin solid;
}

.dragzone-right {
  border-right: thin solid;
}

.dragzone-vertical {
  flex: 1 1 0;
  height: 100%;
  width: $borderSize;
  color: transparent;
  border-left: thin solid;
  border-right: thin solid;
}

.dragzone-top {
  border-top: thin solid;
}

/** Lightmode static theme */
.dragzone-lightMode {
  border-color: colors.$lightBorder;
}
