@use 'sass:color';
@use './colors.scss';

$borderSize: 5px;

.dragzone-horizontal {
  border-left: thin solid;
  border-right: thin solid;
  color: transparent;
  width: 100%;
  height: $borderSize;
}
.dragzone-left {
  border-left: thin solid;
}

.dragzone-right {
  border-right: thin solid;
}

.dragzone-vertical {
  color: transparent;
  height: 100%;
  width: $borderSize;
}

.dragzone-top {
  border-top: thin solid;
}

.dragzone-bottom {
  border-bottom: thin solid;
}

/** Lightmode static theme */
.dragzone-lightMode {
  border-color: colors.$lightBorder;
}
