@use './colors.scss';

.input {
  background-color: transparent;
  border: none;
  color: colors.$background;
  font-family: "Lucida Console", monospace;
  font-size: 1rem;
  margin-top: 1px;
  width: 100%;
}

/** Creates an input for each channel */
@each $channel, $color in colors.$channel-map {
  .input-#{$channel} {
    color: $color;
  }
};
