@use 'sass:color';
@use './colors.scss';

////////////////////////////////////////////////
// Gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

////////////////////////////////////////////////
// Main window styles
.window {
  background: colors.$background;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas', monospace;
  margin: 0 auto;
  max-width: 231px;
  position: relative;
  width: 100%;
}

.window__content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-50 {
  height: 50px;
}

.window-70 {
  height: 70px;
}

@mixin border($channel) {
  border-left: 2px solid darken($channel, 20%);
  border-right: 2px solid darken($channel, 20%);
  border-top: 2px solid darken($channel, 20%);

  &:after {
    animation: gradient 10s linear infinite;
    background: linear-gradient(to right,
        darken($channel, 35%),
        $channel,
        lighten($channel, 10%),
        $channel,
        darken($channel, 35%));
    background-position: 0% 0%;
    background-size: 500% auto;
    bottom: 0px;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 999;
  }
}

/** Normal channels */
.window-say {
  @include border(colors.$say);
}

.window-radio {
  @include border(colors.$radio);
}

.window-me {
  @include border(colors.$me);
}

.window-ooc {
  @include border(colors.$ooc);
}

/** Radio subchannels */
.window-ai {
  @include border(colors.$ai);
}

.window-binary {
  @include border(colors.$binary);
}

.window-centcom {
  @include border(colors.$centcom);
}

.window-command {
  @include border(colors.$command);
}

.window-engi {
  @include border(colors.$engi);
}

.window-hive {
  @include border(colors.$hive);
}

.window-medical {
  @include border(colors.$medical);
}

.window-science {
  @include border(colors.$science);
}

.window-security {
  @include border(colors.$security);
}

.window-syndicate {
  @include border(colors.$syndicate);
}

.window-service {
  @include border(colors.$service);
}

.window-supply {
  @include border(colors.$supply);
}
