@use 'sass:color';
@use './colors.scss';

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.modal {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 231px;
  width: 100%;
}

.modal-lightMode {
  @extend .modal;
  background-color: colors.$lightMode;
}

.modal__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1px 0 1px 5px;
}

/** Window sizes */
.modal-30 {
  height: 30px;
}

.modal-50 {
  height: 50px;
}

.modal-70 {
  height: 70px;
}

/** Creates an animated border for each channel */
@each $channel,
$color in colors.$channel-map {
  .modal-#{$channel} {
    &:after {
      animation: gradient 10s linear infinite;
      background: linear-gradient(to right,
          darken($color, 35%),
          $color,
          lighten($color, 10%),
          $color,
          darken($color, 35%));
      background-position: 0% 0%;
      background-size: 500% auto;
      bottom: 0px;
      content: '';
      height: 2px;
      left: 0px;
      position: absolute;
      right: 0px;
      z-index: 999;
    }
  }
}
