@use 'sass:color';
@use './colors.scss';

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.window {
  background: colors.$background;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas', monospace;
  margin: 0 auto;
  max-width: 231px;
  position: relative;
  width: 100%;
}

.window__content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-50 {
  height: 50px;
}

.window-70 {
  height: 70px;
}

/** Creates an animated border for each channel */
@each $channel,
$color in colors.$channel-map {
  .window-#{$channel} {
    border-left: 2px solid darken($color, 20%);
    border-right: 2px solid darken($color, 20%);
    border-top: 2px solid darken($color, 20%);

    &:after {
      animation: gradient 10s linear infinite;
      background: linear-gradient(to right,
          darken($color, 35%),
          $color,
          lighten($color, 10%),
          $color,
          darken($color, 35%));
      background-position: 0% 0%;
      background-size: 500% auto;
      bottom: 0px;
      content: '';
      height: 2px;
      left: 0px;
      position: absolute;
      right: 0px;
      z-index: 999;
    }
  }
}
