@use 'sass:color';
@use './colors.scss';

.window {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 231px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.window-lightMode {
  background-color: colors.$lightMode;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-50 {
  height: 50px;
}

.window-70 {
  height: 70px;
}
