<h2>Occupant</h2>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel">
			Occupant:
		</div>
		<div class="itemContent">
			{{if data.hasOccupant}}
				{{:data.occupant.name}}
			{{else}}
				<span class="average">No Occupant</span>
			{{/if}}
		</div>
	</div>
	{{if data.hasOccupant}}
		<div class="item">
			<div class="itemLabel">
				State:
			</div>
			<div class="itemContent">
				{{if data.occupant.stat == 0}}
					<span class="good">Conscious</span>
				{{else data.occupant.stat == 1}}
					<span class="average">Unconscious</span>
				{{else}}
					<span class="bad">DEAD</span>
				{{/if}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Temperature:
			</div>
			<div class="itemContent">
				{{:helper.round(data.occupant.bodyTemperature)}} K
			</div>
		</div>
	{{/if}}
	{{if data.occupant.stat < 2}}
		<div class="item">
			<div class="itemLabel">
				Health:
			</div>
			<div class="itemContent">
				{{if data.occupant.health >= 0}}
					{{:helper.displayBar(data.occupant.health, 0, data.occupant.maxHealth, 'good')}}
				{{else}}
					{{:helper.displayBar(data.occupant.health, 0, data.occupant.minHealth, 'average')}}
				{{/if}}
				{{:helper.round(data.occupant.health)}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Brute:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.occupant.bruteLoss, 0, data.occupant.maxHealth, 'bad')}}
				{{:helper.round(data.occupant.bruteLoss)}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Respiratory:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.occupant.oxyLoss, 0, data.occupant.maxHealth, 'bad')}}
				{{:helper.round(data.occupant.oxyLoss)}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Toxin:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.occupant.toxLoss, 0, data.occupant.maxHealth, 'bad')}}
				{{:helper.round(data.occupant.toxLoss)}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Burn:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.occupant.fireLoss, 0, data.occupant.maxHealth, 'bad')}}
				{{:helper.round(data.occupant.fireLoss)}}
			</div>
		</div>
	{{/if}}
</div>
<h2>Cell</h2>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel">
			Power:
		</div>
		<div class="itemContent">
			{{:helper.link('On', 'power', {'switchOn': 1}, data.isOperating ? 'selected' : null)}}
			{{:helper.link('Off', 'close', {'switchOff': 1}, data.isOperating ? null : 'selected')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Temperature:
		</div>
		<div class="itemContent">
			<span class="{{:data.cellTemperatureStatus}}">{{:data.cellTemperature}} K</span>
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Door:
		</div>
		<div class="itemContent">
			{{:helper.link('Open', 'unlocked', {'openCell' : 1}, data.isOpen ? 'disabled' : null)}}
			{{:helper.link('Close', 'locked', {'closeCell' : 1}, data.isOpen ? null : 'disabled')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Eject:
		</div>
		<div class="itemContent">
			{{:helper.link('Auto', 'eject', {'autoEject' : 1}, data.autoEject ? 'selected' : null)}}
			{{:helper.link('Manual', 'pin-s', {'autoEject' : 0}, data.autoEject ? null : 'selected')}}
		</div>
	</div>
</div>
<h2>Beaker</h2>
<div class="statusDisplay">
	<div class="item">
		<div class="itemLabel">
			{{:helper.link('Eject', 'eject', {'ejectBeaker' : 1}, data.isBeakerLoaded ? null : 'disabled')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Contents:
		</div>
		<div class="itemContent">
			{{if data.isBeakerLoaded}}		
				{{for data.beakerContents}}
					<span class="highlight">{{:value.volume}} units of {{:value.name}}</span><br />
				{{empty}}
					<span class="bad">Beaker Empty</span>
				{{/for}}
			{{else}}
				<span class="average">No Beaker Loaded</span>
			{{/if}}
		</div>
	</div>
</div>