.Flex {
  display: -ms-flexbox;
  display: flex;
}

@for $i from 1 through 2 {
  .Flex--spacing--#{$i} {
    margin: -3px * $i;
    margin-bottom: 3px * $i;

    & > .Flex__item {
      margin: 3px * $i;
    }
  }
}
