buttoncolor(selector, color)
  &.{selector}
    transition: background-color 0.5s
    background-color: color
  &.{selector}.active:hover,
  &.{selector}.active:focus
    transition: background-color 0.25s
    background-color: lighten(color, colors.hover)
    outline: 0


span.button
  @extend $fontReset
  display: inline-block
  vertical-align: middle
  height: 20px
  line-height: 19px
  padding: 0 5px
  white-space: nowrap

  .fa
    padding-right: 2px

  buttoncolor(normal, colors.normal)
  buttoncolor(disabled, colors.disabled)
  buttoncolor(selected, colors.selected)
  buttoncolor(caution, colors.caution)
  buttoncolor(danger, colors.danger)

  &.gridable
    width: 125px
    margin: 2px 0
