div.display
  width: 100%
  padding: 4px
  margin: 6px 0

  background-color: alpha(#000, 0.33) // Transparent background.
  box-shadow: inset 0 0 5px alpha(#000, 0.5)

  header
    display: block
    position: relative
    width: 100%
    padding: 0 4px
    margin-bottom: 6px

    border-bottom: 2px solid colors.rule

    .buttonRight
      position: absolute
      bottom: 6px
      right: 4px

  article
    display: table
    width: 100%
    border-spacing: 4px 6px
