@require "display"

$noticeStripes
  background-color: colors.notice1 // Fallback for old browers.
  background-image: repeating-linear-gradient(
    -45deg,
    colors.notice.first,
    colors.notice.first 10px,
    colors.notice.second 10px,
    colors.notice.second 20px
  )

div.notice
  @extend div.display, $noticeStripes
  margin: 8px 0

  box-shadow: none

  color: colors.text.inverse
  font-weight: bold
  font-style: italic

  .button
    outline: 1px solid colors.notice.border

  .label
    color: colors.text.inverse

  hr
    background-color: colors.rule.dark
