body.syndicate
  background-color-start = #b30f0f
  background-color-end   = #740d0d
  color-normal = #ffffff

  background: data-url('syndicate.svg') no-repeat fixed center/70% 70%,
    linear-gradient(to bottom,
      background-color-start 0%,
      background-color-end 100%)
  @import "../components/*"
