		</div>
		<!--
		Credits Section
		-->
		<h1>Credits</h1>

		<h2>Baystation 12 Credits</h2>
		<dl class="creditblock">
			<dt class="creditsection">
				Code:
			</dt>
			<dd>
				Abi79, Aryn, Cael_Aislinn, Chinsky, cib, CompactNinja, DopeGhoti, Erthilo, Hawk_v3, Head, Ispil, Lexusjjss, Melonstorm, Miniature, Mloc, NerdyBoy1104, SkyMarshal, Spectre, Strumpetplaya, Sunfall, Tastyfish, Uristqwerty
			</dd>
			<dt class="creditsection">
				Sprites:
			</dt>
			<dd>
				Apple_Master, Arcalane, Chinsky, CompactNinja, Deus Dactyl, Erthilo, Flashkirby, Miniature, Searif, Xenone
			</dd>
			<dt class="creditsection">
				Thanks To:
			</dt>
			<dd>
				/tg/ station, Goonstation, Animus Station, Daedalus, and original Spacestation 13 devs. Skibiliano for the IRC bot.
			</dd>
			<dt class="creditsection">
				Sounds:
			</dt>
			<dd>
				Aryn
			</dd>
		</dl>

		<h2>/tg/ station 13 Development Team</h2>
		<dl class="creditblock">
			<dt class="creditsection">
				Coders:
			</dt>
			<dd>
				TLE, NEO, Errorage, muskets, veryinky, Skie, Noise, Numbers, Agouri, Noka, Urist McDorf, Uhangi, Darem, Mport, rastaf0, Doohl, Superxpdude, Rockdtben, ConstantA, Petethegoat, Kor, Polymorph, Carn, Nodrak, Donkie
			</dd>
			<dt class="creditsection">
				Spriters:
			</dt>
			<dd>
				Agouri, Cheridan, Cruazy Guest, Deeaych, Deuryn, Matty406, Microwave, ShiftyEyesShady, Skie, Uhangi, Veyveyr, Petethegoat, Kor, Ricotez, Ausops, TankNut
			</dd>
			<dt class="creditsection">
				Sounds:
			</dt>
			<dd>
				Skie, Lasty/Vinyl
			</dd>
			<dt class="creditsection">
				Thanks to:
			</dt>
			<dd>
				CDK Station devs, GoonStation devs, the original SpaceStation developers and Invisty for the title image
			</dd>
		</dl>

		<h2>Daedalus Development Team</h2>
		<dl class="creditblock">
			<dt class="creditsection">
				Coders:
			</dt>
			<dd>
				DopeGhoti, Sunfall, ThVortex
			</dd>
			<dt class="creditsection">
				Artwork:
			</dt>
			<dd>
				Captain Hammer
			</dd>
			<dt class="creditsection">
				Spriters:
			</dt>
			<dd>
				((TODO.))
			</dd>
			<dt class="creditsection">
				Sounds:
			</dt>
			<dd>
				Peter J, due, Erik Satie
			</dd>
			<dt class="creditsection">
				Thanks to:
			</dt>
			<dd>
				All the dev teams that came before: BS12, /tg/station13, the Goons, and the original SS13 folks.
			</dd>
		</dl>

		<h2>GoonStation 13 Development Team</h2>
		<dl class="creditblock">
			<dt class="creditsection">
				Coders:
			</dt>
			<dd>
				Stuntwaffle, Showtime, Pantaloons, Nannek, Keelin, Exadv1, hobnob, Justicefries, 0staf, sniperchance, AngriestIBM, BrianOBlivion
			</dd>
			<dt class="creditsection">
				Spriters:
			</dt>
			<dd>
				Supernorn, Haruhi, Stuntwaffle, Pantaloons, Rho, SynthOrange, I Said No
			</dd>
		</dl>
		<p class="lic">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
			<br />
			<i>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
			<br />
			Rights are currently extended to <a href="http://forums.somethingawful.com/">SomethingAwful Goons</a> only.</i>
		</p>
		<p class="lic">
			Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.
		</p>
	</body>
</html>
