<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Apollo Station 13 Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Apollo Space Station 13</b></font></div>
			
			<p><div align='center'><font size='3'><a href="http://www.tgstation13.org/phpBB/">Forum (n/a yet!)</a> | <a href="http://www.tgstation13.org/wiki/Main_Page">Wiki (n/a yet!)</a> | <a href="https://github.com/ApolloCommunity/ApolloStation-TG">Source</a></font></div></p>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Project Maintainers:</b> <a href='https://github.com/orgs/ApolloCommunity/people'>-Click Here-</a><br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> <a href='https://github.com/ApolloCommunity/ApolloStation-TG/graphs/contributors'>-Click Here-</a><br></font>
			<font size='2'><b>Coders:</b> Atebite, Cakey<br></font> 
			<font size='2'><b>Spriters:</b> Fouin<br></font>
			<font size='2'><b>Mappers:</b> Cakey<br></font>
			<font size='2'><b>Main Testers:</b> Anyone who has submitted a bug to the issue tracker<br></font>
			<font size='2'><b>Thanks to:</b> /tg/station, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs and the original SpaceStation developers.<br> Also a thanks to anybody who has contributed who is not listed here. Believe you should be on a list? Just ask!</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/ApolloCommunity/ApolloStation-TG/issues">Issue Tracker</a>.<br></font>
			<font size='2'>Please ensure that the bug has not already been reported.</font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">