<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Hippie Station 13 Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Hippie Station 13 Changelog</b></font></div>
			
			<p><div align='center'><font size='3'><a href="http://hippiestation.com">Forum</a> | <a href="http://wiki.hippiestation.com/index.php?title=Main_Page">Wiki</a> | <a href="https://github.com/HippieStation/HippieStation13-rebase">Source</a></font></div></p>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Project Maintainers:</b> <a href='https://github.com/HippieStation?tab=members'>-Click Here-</a><br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> <a href='https://github.com/HippieStation/HippieStation13-rebase/graphs/contributors'>-Click Here-</a><br></font>
			<font size='2'><b>Host:</b> JamieH<br></font>
			<font size='2'><b>Head Admins:</b> DudeInYourBackyard, McBawbaggings, BardOfRage</font><br>
			<font size='2'><b>Head Coders:</b> JohnFG <br></font>
<font size='2'><b>Game Masters:</b> BardOfRage, CarbonHell, TeamStab, Looping, McHatters<br></font>
			<font size='2'><b>Game Admins:</b>Zadeon, Bartels, Yobob, Snake2512, Hutchen, SolidFury7, WallaceShark, Broomhill, Gandalf2k15, Tortellinitony, Maroonenahmoron, SpeakerCity, Boxpipe, CreeperJoe, CesiumShark <br></font>
			<font size='2'><b>Coding/Spriting/Mapping Team:</b> TDCoolGuy, Pyko, Fury, GuyonBroadway, Kierany9, ErikHanson <br></font>
			<font size='2'><b>Mentors:</b> McHatters, JamesButts, Cafaling, Cairo283, WitheredGryphon, rg4ordr, death1, SolidFury7, zachorem, zomboing, 8000roxas1234, lowresolution, oprayx73, danke, tentacletherapist, dungeonbones, nexendia, Rain7x, blobbernaut, themostcleverbot, Vievioora, derpthestewpidgoat, voltz6787, neoplague, 2dollarbill, wyatt321, Kyle90210, typhx, Skeleton9, Kainoa, Fluxcapacitor1337, Francisyorkmorgan, Finefire984, caxxo<br></font>
			<font size='2'><b>Thanks to:</b> /tg/station, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs, the original SpaceStation developers and Invisty for the title image.<br> Also a thanks to anybody who has contributed who is not listed here :( Ask to be added here on irc.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/tgstation/-tg-station/issues?labels=Bug&state=open">Issue Tracker</a>.<br></font>
			<font size='2'>Please ensure that the bug has not already been reported and <u><a href="https://github.com/tgstation/-tg-station/issues/724"><b>use the template provided here</b></a></u>.</font>
		</td>
	</tr>
</table>


		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">
