<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="code/datums/components/crafting/recipes.html#define">Define Details</a></header>
<main>
<h1>code/datums/components/crafting/recipes.dm 
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/crafting/recipes.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="code/datums/components/crafting/recipes.html#define/CRAFTING_MACHINERY_CONSUME">CRAFTING_MACHINERY_CONSUME</a></th><td>If the machine is used/deleted in the crafting process</td></tr>
        <tr><th><a href="code/datums/components/crafting/recipes.html#define/CRAFTING_MACHINERY_USE">CRAFTING_MACHINERY_USE</a></th><td>If the machine is only &quot;used&quot; i.e. it checks to see if it's nearby and allows crafting, but doesn't delete it</td></tr></table><h2 id="define">Define Details</h2>
<h3 id="define/CRAFTING_MACHINERY_CONSUME"><aside class="declaration">#define </aside>CRAFTING_MACHINERY_CONSUME
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/crafting/recipes.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes.dm 2"/></a>
    </h3>
    <p>If the machine is used/deleted in the crafting process</p><h3 id="define/CRAFTING_MACHINERY_USE"><aside class="declaration">#define </aside>CRAFTING_MACHINERY_USE
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/crafting/recipes.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes.dm 4"/></a>
    </h3>
    <p>If the machine is only &quot;used&quot; i.e. it checks to see if it's nearby and allows crafting, but doesn't delete it</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
