@import "_config";
@import "_util";


html {
    min-height: 100%;

	cursor: default; // Reset the cursor.
}

body {
    min-height: 100%;
    height: 100%;

    background-color: @background-end; // Fallback for old browsers.

    font-family: @font;
    font-size: @fontsize;
    color: @text;
}

h1 {
    font-size: @fontsize + 6px;
    margin: 0;
    padding: 6px 0;
}
h2 {
    &:extend(h1);
    font-size: @fontsize + 4px;
}
h3 {
    &:extend(h1);
    font-size: @fontsize + 2px;
}

hr {
    background-color: @rule;
    border: none;
}
