body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 170%;
  color: white;
  background: #272727;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 6px 0 6px 0;
  clear: both;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
hr {
  background-color: #40628a;
  height: 1px;
  border: none;
}
ul {
  padding: 4px 0 0 10px;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0 0 2px 0;
}
noscript {
  margin: 33% auto;
  width: 50%;
  height: 33%;
  background: #ffffff;
  border: 2px solid #ff0000;
  z-index: 9999;
  padding: 0px 10px;
  text-align: center;
}
span.normal {
  color: #40628a;
}
span.good {
  color: #4f7529;
}
span.average {
  color: #cd6500;
}
span.bad {
  color: #ee0000;
}
span.label {
  color: #e9C183;
}
span.highlight {
  color: #8ba5c4;
}
span.dark {
  color: #272727;
}
.bold,
.notice,
.noticePlaceholder {
  font-weight: bold;
}
.italic,
.notice,
.noticePlaceholder {
  font-style: italic;
}
.fontReset,
.link {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.hidden {
  display: none;
}
.clearBoth {
  clear: both;
}
.clearLeft {
  clear: left;
}
.clearRight {
  clear: right;
}
.floatNone {
  float: none;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.alignTop {
  vertical-align: top;
}
.alignBottom {
  vertical-align: bottom;
}
.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}
.notice,
.noticePlaceholder {
  padding: 2px 4px;
  margin: 4px 0;
  color: black;
  background: url(background_notice.jpg) 50% 50%;
}
.noticePlaceholder {
  color: white;
  background: none;
}
.notice.icon {
  padding: 2px 4px 0 20px;
}
.notice img {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
div.notice {
  clear: both;
}
.link {
  height: 16px;
  min-width: 16px;
  display: inline-block;
  margin: 2px;
  padding: 0 4px;
  border: 1px solid #111010;
  cursor: default;
}
.link.iconed {
  padding: 0px 4px 4px 0px;
}
.link i {
  margin: 4px 2px 0 2px;
}
.link i.main {
  display: inline-block;
}
.link i.pending {
  display: none;
}
.link.pending i.main {
  display: none;
}
.link.pending i.pending {
  display: inline-block;
}
.link.normal.active {
  background: #40628a;
}
.link.normal.active:hover {
  background: #507bad;
}
.link.normal.inactive {
  background: #40628a;
}
.link.normal.pending {
  background: #304967;
}
.link.selected.active {
  background: #2f943c;
}
.link.selected.active:hover {
  background: #3bbb4c;
}
.link.selected.inactive {
  background: #2f943c;
}
.link.selected.pending {
  background: #236d2c;
}
.link.caution.active {
  background: #adaf00;
}
.link.caution.active:hover {
  background: #dfe200;
}
.link.caution.inactive {
  background: #adaf00;
}
.link.caution.pending {
  background: #7b7c00;
}
.link.danger.active {
  background: #ea0000;
}
.link.danger.active:hover {
  background: #ff1e1e;
}
.link.danger.inactive {
  background: #ea0000;
}
.link.danger.pending {
  background: #b70000;
}
.link.disabled.active {
  background: #999999;
}
.link.disabled.active:hover {
  background: #b3b3b3;
}
.link.disabled.inactive {
  background: #999999;
}
.link.disabled.pending {
  background: #808080;
}
.link[disabled] {
  pointer-events: none;
  background-color: #999999 !important;
  border-color: #000000 !important;
}
.bar {
  position: relative;
  width: 236px;
  height: 16px;
  border: 1px solid #666666;
  float: left;
  margin: 0 5px 0 0;
  overflow: hidden;
  background: black;
}
.bar .barText {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: normal;
}
.bar .barFill {
  width: 0%;
  height: 100%;
  background: #40628a;
  overflow: hidden;
  float: left;
}
.bar .barFill.good {
  background: #4f7529;
}
.bar .barFill.average {
  background: #cd6500;
}
.bar .barFill.bad {
  background: #ea0000;
}
.bar .barFill.highlight {
  background: #8BA5C4;
}
#statusicon {
  width: 24px;
  height: 24px;
  background: url(statusicon.png) no-repeat;
}
#statusicon.good {
  background-position: 0 0;
}
#statusicon.average {
  background-position: 0 -24px;
}
#statusicon.bad {
  background-position: 0 -48px;
}
.itemGroup {
  border: 1px solid #e9c183;
  background: #2c2c2c;
  padding: 4px;
  clear: both;
}
.item {
  display: inline-block;
  width: 100%;
  clear: both;
}
.itemContentNarrow,
.itemContent {
  float: left;
}
.itemContentNarrow {
  width: 30%;
}
.itemContent {
  width: 69%;
}
.itemLabelNarrow,
.itemLabel,
.itemLabelWide,
.itemLabelWider,
.itemLabelWidest {
  float: left;
  color: #e9c183;
}
.itemLabelNarrow {
  width: 20%;
}
.itemLabel {
  width: 30%;
}
.itemLabelWide {
  width: 45%;
}
.itemLabelWider {
  width: 69%;
}
.itemLabelWidest {
  width: 100%;
}
.itemContentWide {
  float: left;
  width: 79%;
}
.itemContentSmall {
  float: left;
  width: 33%;
}
.itemContentMedium {
  float: left;
  width: 55%;
}
.statusDisplay {
  display: block;
  position: relative;
  background: #000000;
  color: #ffffff;
  border: 1px solid #40628a;
  padding: 4px;
  margin: 4px 0;
}
.statusDisplay .itemLabelNarrow,
.statusDisplay .itemLabel,
.statusDisplay .itemLabelWide,
.statusDisplay .itemLabelWider,
.statusDisplay .itemLabelWidest {
  color: #98B0C3;
}
.block {
  padding: 8px;
  margin: 10px 4px 4px 4px;
  border: 1px solid #40628a;
  background-color: #202020;
}
.block h3 {
  padding: 0;
}
.line {
  width: 100%;
  clear: both;
}
.fixedLeft {
  width: 110px;
  float: left;
}
.fixedLeftWide {
  width: 165px;
  float: left;
}
.fixedLeftWider {
  width: 220px;
  float: left;
}
.fixedLeftWidest {
  width: 250px;
  float: left;
}
.fixedLeftWiderRed {
  width: 220px;
  float: left;
  background: #ee0000;
}
