// Reset font options.
$fontReset
  color: colors.text
  font-size: fontsize
  font-weight: normal
  font-style: normal
  text-decoration: none
// Text Styles
.bold
  font-weight: bold
.italic
  font-style: italic
