/*****************************************
*
* cf means "chat format"
* cfc means "chat format color" which means only dedicated for color
*
******************************************/

// Standard colors
// color names are not really accurate due to theme base color visibility. get the feeling.
.cfc_red {
  color: #d60f0f;
}
.cfc_redorange {
  color: #e4480a;
}
.cfc_orange {
  color: #db7e05;
}
.cfc_yellow {
  color: #d1ce06;
}
.cfc_lime {
  color: #6fb611;
}
.cfc_green {
  color: #15b910;
}
.cfc_cyan {
  color: #0bc099;
}
.cfc_bluesky {
  color: #0b8fb8;
}
.cfc_darkbluesky {
  color: #2b7386;
}
.cfc_navy {
  color: #0f52b8;
}
.cfc_blue {
  color: #0d0ac5;
}
.cfc_indigo {
  color: #410eb9;
}
.cfc_purple {
  color: #750eb9;
}
.cfc_violet {
  color: #af10c4;
}
.cfc_magenta {
  color: #bb0a95;
}
.cfc_redpurple {
  color: #b90c54;
}
