/*****************************************
*
* cf means "chat format"
* cfc means "chat format color" which means only dedicated for color
*
******************************************/

// Standard colors
// color names are not really accurate due to theme base color visibility. get the feeling.
.cfc_red {
  color: #e21919;
}
.cfc_redorange {
  color: #e04a0e;
}
.cfc_orange {
  color: #dd8716;
}
.cfc_yellow {
  color: #e2df10;
}
.cfc_lime {
  color: #86e608;
}
.cfc_green {
  color: #0edb07;
}
.cfc_cyan {
  color: #07dbad;
}
.cfc_bluesky {
  color: #07aadb;
}
.cfc_darkbluesky {
  color: #2d87a1;
}
.cfc_navy {
  color: #075cdb;
}
.cfc_blue {
  color: #0b07db;
}
.cfc_indigo {
  color: #4707db;
}
.cfc_purple {
  color: #900be9;
}
.cfc_violet {
  color: #c90be2;
}
.cfc_magenta {
  color: #d402a7;
}
.cfc_redpurple {
  color: #db075f;
}
