html, body, div.wrapper > table
{
	width: 100%;
	height: 100%;
}

body
{
	background-color: #EAEAEA;
	font-family: verdana,Geneva,sans-serif;
	font-size: 12px;
	color: #272727;
}

a
{
	color: #5353B1;
}

div.wrapper
{
	position: absolute; top: 24px; left: 0px; right: 0px; bottom: 0px;
}

div#headbar
{
	background-color: #B2B2B2;
	border-bottom: 1px solid #C2C2C2;
	height: 24px;
	padding: 4px 8px;
	box-sizing: border-box;
}

div#hand
{
	padding: 8px 8px;
	padding-bottom: 4px;
	background-color: #EAEAEA;
	text-align: center;
}

a.card
{
	display: inline-block;
	margin: 0px 2px;
	
	background-image: url(cards.png);
	background-repeat: no-repeat;
	width: 94px;
	height: 129px;
	
	box-sizing: border-box;
	background-position: 0px 0px;
	background-origin: border-box;
	
	text-decoration: none;
	font-size: 0px;
}

a.card.clubs.ten			{ background-position: -5px -5px; }
a.card.diamonds.ten			{ background-position: -109px -5px; }
a.card.hearts.ten			{ background-position: -213px -5px; }
a.card.spades.ten			{ background-position: -317px -5px; }
a.card.clubs.two			{ background-position: -421px -5px; }
a.card.diamonds.two			{ background-position: -525px -5px; }
a.card.hearts.two			{ background-position: -629px -5px; }
a.card.spades.two			{ background-position: -733px -5px; }
a.card.clubs.three			{ background-position: -5px -144px; }
a.card.diamonds.three		{ background-position: -109px -144px; }
a.card.hearts.three			{ background-position: -213px -144px; }
a.card.spades.three			{ background-position: -317px -144px; }
a.card.clubs.four			{ background-position: -421px -144px; }
a.card.diamonds.four		{ background-position: -525px -144px; }
a.card.hearts.four			{ background-position: -629px -144px; }
a.card.spades.four			{ background-position: -733px -144px; }
a.card.clubs.five			{ background-position: -5px -283px; }
a.card.diamonds.five		{ background-position: -109px -283px; }
a.card.hearts.five			{ background-position: -213px -283px; }
a.card.spades.five			{ background-position: -317px -283px; }
a.card.clubs.six			{ background-position: -421px -283px; }
a.card.diamonds.six			{ background-position: -525px -283px; }
a.card.hearts.six			{ background-position: -629px -283px; }
a.card.spades.six			{ background-position: -733px -283px; }
a.card.clubs.seven			{ background-position: -5px -422px; }
a.card.diamonds.seven		{ background-position: -109px -422px; }
a.card.hearts.seven			{ background-position: -213px -422px; }
a.card.spades.seven			{ background-position: -317px -422px; }
a.card.clubs.eight			{ background-position: -421px -422px; }
a.card.diamonds.eight		{ background-position: -525px -422px; }
a.card.hearts.eight			{ background-position: -629px -422px; }
a.card.spades.eight			{ background-position: -733px -422px; }
a.card.clubs.nine			{ background-position: -5px -561px; }
a.card.diamonds.nine		{ background-position: -109px -561px; }
a.card.hearts.nine			{ background-position: -213px -561px; }
a.card.spades.nine			{ background-position: -317px -561px; }
a.card.clubs.ace			{ background-position: -421px -561px; }
a.card.diamonds.ace			{ background-position: -525px -561px; }
a.card.hearts.ace			{ background-position: -629px -561px; }
a.card.spades.ace			{ background-position: -733px -561px; }
a.card.clubs.jack			{ background-position: -5px -700px; }
a.card.diamonds.jack		{ background-position: -109px -700px; }
a.card.hearts.jack			{ background-position: -213px -700px; }
a.card.spades.jack			{ background-position: -317px -700px; }
a.card.clubs.king			{ background-position: -421px -700px; }
a.card.diamonds.king		{ background-position: -525px -700px; }
a.card.hearts.king			{ background-position: -629px -700px; }
a.card.spades.king			{ background-position: -733px -700px; }
a.card.clubs.queen			{ background-position: -837px -5px; }
a.card.diamonds.queen		{ background-position: -837px -144px; }
a.card.hearts.queen			{ background-position: -837px -283px; }
a.card.spades.queen			{ background-position: -837px -422px; }
a.card.joker				{ background-position: -837px -561px; }