.color-normal {
  color: $color-normal;
}

.color-good {
  color: $color-good;
}

.color-average {
  color: $color-average;
}

.color-bad {
  color: $color-bad;
}

.color-highlight {
  color: $color-highlight;
}
