<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="TG Station Server" Language="1033" Version="3.0.66" Manufacturer="/tg/station 13" UpgradeCode="663badae-ddca-4aa9-8f3f-3b7b20332eac">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="TGServiceInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Gitx86Components" />
      <ComponentGroupRef Id="Gitx64Components" />
    </Feature>
		<Icon Id="tgs.ico" SourceFile="..\tgs.ico"/>
		<Property Id="ARPPRODUCTICON" Value="tgs.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TG Station Server">
          <Directory Id ="LibFolder" Name="lib">
            <Directory Id ="Win32Folder" Name="win32">
              <Directory Id ="x86Folder" Name="x86" />
              <Directory Id ="x64Folder" Name="x64" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="TGCommandLine">
        <File Source="$(var.TGCommandLine.TargetPath)" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
          <Shortcut
            Id="CLDesktopShortcut"
            Directory="DesktopFolder"
            Name="TG Command Line"
            WorkingDirectory="INSTALLFOLDER" 
            Advertise="yes"
						Icon="tgs.ico"/>
      </Component>
      <Component Id="TGServerService">
        <File Source="$(var.TGServerService.TargetPath)" />
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess"
                Name="TG Station Server"
                DisplayName="TG Station Server"
                Description="/tg/station Server Service"
								Start="auto"
								Account="LocalSystem"
								ErrorControl="normal"
								/>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="TG Station Server" Wait="yes" />
      </Component>
      <Component Id="LibGit2Sharp">
        <File Source="$(var.TGServerService.TargetDir)/LibGit2Sharp.dll" />
      </Component>
      <Component Id="log4net">
        <File Source="$(var.TGServerService.TargetDir)/log4net.dll" />
      </Component>
      <Component Id="SmartIrc4net">
        <File Source="$(var.TGServerService.TargetDir)/Meebey.SmartIrc4net.dll" />
      </Component>
      <Component Id="StarkSoftProxy">
        <File Source="$(var.TGServerService.TargetDir)/StarkSoftProxy.dll" />
      </Component>
      <Component Id="TGControlPanel">
        <File Source="$(var.TGControlPanel.TargetPath)" KeyPath="yes">
          <Shortcut
            Id="CPDesktopShortcut"
            Directory="DesktopFolder"
            Name="TG Control Panel"
            WorkingDirectory="INSTALLFOLDER" 
            Advertise="yes"
						Icon="tgs.ico"/>
        </File>
      </Component>
      <Component Id="TGServiceInterface">
        <File Source="$(var.TGServiceInterface.TargetPath)" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Gitx86Components" Directory="x86Folder">

      <Component Id="LibGit2Sharpx86">
        <File Source="$(var.TGServerService.TargetDir)lib\win32\x86\git2-a5cf255.dll" Id="LibGit2Sharpx86dll"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Gitx64Components" Directory="x64Folder">
      <Component Id="LibGit2Sharpx64">
        <File Source="$(var.TGServerService.TargetDir)lib\win32\x64\git2-a5cf255.dll" Id="LibGit2Sharpx64dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
