.Accounting__Toolbar {
  outline: solid 1px;
  outline-style: outset;
  outline-width: 2px;
  outline-color: hsl(0, 0%, 85%);
  background-color: rgb(195, 195, 195);
  color: grey;
}

.Accounting__Window {
  flex-direction: column;
  outline: solid 1px black;
  outline-style: outset;
  outline-width: 2px;
  outline-color: hsl(0, 0%, 85%);
  background-color: rgb(195, 195, 195);
}

.Accounting__WindowContent {
  background-color: white;
  outline: solid;
  outline-style: outset;
  outline-width: 2px;
  outline-color: hsl(0, 0%, 85%);
  background-color: rgb(195, 195, 195);
}

.Accounting__TableHeader {
  border-style: solid;
  border-width: 2px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.Accounting__TableCellSides {
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
