.AnomalyTower__HazardBg {
  background-image: repeating-linear-gradient(
    45deg,
    #ffc107,
    #ffc107 15px,
    #000000 15px,
    #000000 30px
  );

  border-style: outset;
  border-color: #333333;
  background-size: 42.42px 42.42px;
}

.AnomalyTower__HazardButton {
  border-radius: 50px;
  border-style: outset;
  border-color: #bebebe;
  box-shadow: 0 0 20px #0c0c0c;
  width: 100px;
  height: 100px;
  color: red;
}
