.theme-flock {
  --background-color: repeating-radial-gradient(
    circle at center,
    hsl(163, 49%, 15%) 0,
    hsl(161, 48%, 23%),
    hsl(163, 49%, 15%) 20%
  );
  --background-color-title: radial-gradient(
    circle at center,
    hsl(162, 48%, 45%) 0,
    hsl(162, 85%, 64%),
    hsl(162, 48%, 45%) 20%
  );
}

.TitleBar {
  background: var(--background-color);
}

.Window {
  background: var(--background-color);

  &__content {
    background-image: none;
  }
}
