$color-background: rgba(0, 0, 0, 0.33) !default;

.CameraConsole__left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
}

.CameraConsole__right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
  background-color: $color-background;
}

.CameraConsole__toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  line-height: 24px;
  margin: 3px 12px 0;
  // background-color: #0a0;
}

.CameraConsole__toolbarRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  line-height: 24px;
  margin: 4px 6px 0;
  // background-color: #aa0;
}

.CameraConsole__map {
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #00a;
  margin: 6px;
  text-align: center;

  .NoticeBox {
    margin-top: calc(50% - 24px);
  }
}
