@use '../base.scss';

$background-color: rgba(0, 0, 0, 0.33) !default;

.CameraConsole__left {
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  width: base.em(227px);
}

.CameraConsole__right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: base.em(220px);
  right: 0;
  margin: 0.5em;
  background-color: $background-color;
}

.CameraConsole__toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  margin: 0.25em 1em 0;
}

.CameraConsole__toolbarRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  margin: 0.33em 0.5em 0;
}

.CameraConsole__map {
  position: absolute;
  top: base.em(26px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5em;
  text-align: center;

  .NoticeBox {
    margin-top: calc(50% - 2em);
  }
}

.CameraConsole__right_map {
  position: relative;
  display: flex;
  flex: 1;
  bottom: 32px;
  flex-direction: column;
  background-color: $background-color;
}
