.Changelog {
  &__Button {
    height: 22px;
  }

  &__Cell {
    padding: var(--space-s) 0;

    &--Icon {
      width: 25px;
    }

    &__Troutstation {
      background-color: #295982;
      color: #ffffff;
      margin: 2px;
      padding: 3px;
      border: 2px dashed #417db1;
    }
  }
}
