@use '../colors.scss';

.CrewManifest {
  @each $department-name, $color-value in colors.$department_map {
    &--#{$department-name} {
      .Section {
        &__title {
          border-color: $color-value;
        }
        &__titleText {
          color: $color-value;
        }
      }
    }
  }

  &__Cell {
    padding: 3px 0;

    &--Rank {
      color: colors.$label;
    }
  }

  &__Icons {
    padding: 3px 9px;
    text-align: right;
  }

  &__Icon {
    color: colors.$label;
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &--Chevron {
      padding-right: 2px;
    }

    &--Command {
      color: colors.$yellow;
    }
  }
}
