.CrewManifest {
    &--Section {
      .Section {
        &__title {
          border-color: var(--department-color);
        }
        &__titleText {
          color: var(--department-color);
        }
      }
    }

  &__Cell {
    padding: var(--space-s) 0;

    &--Rank {
      color: var(--color-label);
    }
  }

  &__Icons {
    padding: var(--space-s) var(--space-l);
    text-align: right;
  }

  &__Icon {
    color: var(--color-label);
    position: relative;

    &:not(:last-child) {
      margin-right: var(--space-m);
    }

    &--Chevron {
      padding-right: var(--space-xs);
    }

    &--Command {
      color: var(--color-yellow);
    }
  }
}
