$department_map: (
  'Cargo': var(--color-brown),
  'Command': var(--color-yellow),
  'Security': var(--color-red),
  'Engineering': var(--color-orange),
  'Medical': var(--color-teal),
  'Misc': var(--color-white),
  'Science': var(--color-purple),
  'Service': var(--color-green),
  'Silicon': var(--color-pink),
);

.CrewManifest {
  @each $department-name, $color-value in $department_map {
    &--#{$department-name} {
      .Section {
        &__title {
          border-color: $color-value;
        }
        &__titleText {
          color: $color-value;
        }
      }
    }
  }

  &__Cell {
    padding: var(--space-s) 0;

    &--Rank {
      color: var(--color-label);
    }
  }

  &__Icons {
    padding: var(--space-s) var(--space-l);
    text-align: right;
  }

  &__Icon {
    color: var(--color-label);
    position: relative;

    &:not(:last-child) {
      margin-right: var(--space-m);
    }

    &--Chevron {
      padding-right: var(--space-xs);
    }

    &--Command {
      color: var(--color-yellow);
    }
  }
}
