.deforest_logo {
  background-color: hsl(150, 100%, 18%);
  -webkit-mask-image: url('../assets/bg-deforest.svg');
  mask-image: url('../assets/bg-deforest.svg');
  mask-repeat: no-repeat;
  mask-position: center;
}
