@use '../colors.scss';
@use '../base.scss';

.BoardTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-black);
  min-height: 2.25em;
  min-width: 4em;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  transform-origin: 50% 100%;
  transition-property: background-color, transform;
  transition-duration: var(--transition-time-medium);
}
.BoardTab__Text {
  margin-right: var(--space-m);
}

.BoardTab__Contain {
  flex-grow: 1;
  margin: 0 var(--space-m);
}

.BoardTab__Perspective:not(.BoardTab__Contain) {
  perspective-origin: 50%;
  transform: perspective(100px) rotateX(25deg);
}

.BoardTab__Selected {
  background-color: hsl(45, 82%, 66%);
}

.BoardTabs {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.Evidence__Pin {
  box-shadow: var(--shadow-glow-small) hsla(0, 0%, 0%, 0.33);
  background-color: var(--color-red);
  border-radius: var(--border-radius-circular);
  width: 15px;
  height: 15px;
}

.Evidence__Box {
  cursor: var(--cursor-pointer);
  box-shadow: var(--shadow-glow-medium) hsla(0, 0%, 0%, 0.4);
  padding: var(--space-m);
  color: var(--color-black);
  min-width: 200px;
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  border: var(--border-thickness-small) solid hsl(0, 0%, 50%);
  user-select: none;
  text-wrap: wrap;
}

.Evidence__Box__TextBox {
  border-top: var(--border-thickness-tiny) solid hsl(0, 0%, 92%);
  text-wrap: wrap;
  padding: var(--space-m) 0;
  margin-top: var(--space-m);
  max-width: 240px;
  text-align: center;

  &.title {
    border-top: none;
    margin-top: 0;
  }
}

.Board__Content {
  position: relative;
  background-color: hsl(45, 82%, 66%);
  padding: var(--space-m);
  overflow: hidden;
  height: 95%;
}

.Evidence__Icon {
  image-rendering: pixelated;
  margin-top: var(--space-m);
  border: var(--border-thickness-large) solid hsl(0, 0%, 88%);
  width: 100%;
}

@each $color-name, $color-value in colors.$color-map {
  .BoardTab__#{$color-name} {
    cursor: var(--cursor-pointer);
    background-color: hsl(from $color-value h s calc(l + var(--adjust-color)));
    color: var(--color-text-fixed-black);
  }

  .BoardTab__#{$color-name}:hover {
    background-color: hsl(
      from $color-value h s calc(l + var(--adjust-color) * 2.5)
    );
  }
}
