.ExperimentTechwebServer__Web,
.ExperimentConfigure__ExperimentPanel {
  background: #000000;
  border: 1px solid #40628a;
	margin: 3px 0;
}

.ExperimentTechwebServer__WebHeader {
  background: #40628a;
  padding: 2px;
}

.ExperimentTechwebServer__WebName {
  font-size: 18px;
}

.ExperimentTechwebServer__WebContent {
  padding: 4px;
}

.ExperimentTechwebServer__WebContent > .LabeledList {
  margin: 0.25rem 0.25rem 0.25rem 1rem;
}

.ExperimentConfigure__ExperimentName {
  font-weight: bold;
  border-radius: 0;
}

.ExperimentConfigure__ExperimentContent {
  padding: 0.25rem 1.5rem 0.25rem 0.25rem;
}

.ExperimentStage__Indicator {
  font-weight: bold;
  margin-right: 1rem;
  text-align: center;
}

.ExperimentStage__StageContainer.complete .ExperimentStage__Description {
  opacity: 0.4;
  text-decoration: line-through;
}

.ExperimentStage__StageContainer {
  margin-bottom: 5px;
}

.ExperimentStage__Table {
  border-collapse: separate;
  border-spacing: 0.25rem 0.25rem;
}
