.Fabricator__Recipe {
  padding: 0.25em 0;
  border-bottom: 1px solid #000;
}

.Fabricator__Button {
  white-space: normal;
}

Fabricator__Icon {
  vertical-align: middle;
}

.Fabricator__Button--disabled,
.Fabricator__PrintAmount--disabled {
  opacity: 0.5;
  background-color: transparent;
}

.Fabricator__PrintAmount--disabled {
  text-decoration: line-through;
}
