@use '~tgui-core/styles/components/Button' as button;

.Fabricator__Recipe {
  padding: var(--space-s) 0;
  border-bottom: var(--border-radius-tiny) solid var(--color-black);
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.Fabricator__PrintAmount {
  min-height: 100%;
}

.Fabricator__PrintAmount {
  transition: opacity var(--transition-time-slow) ease-out;
}

.Fabricator__PrintAmount--disabled {
  opacity: 0.5;
  background-color: transparent;
}

.Fabricator__PrintAmount--disabled {
  text-decoration: line-through;
}

.MaterialDock {
  position: relative;
  padding: var(--space-m);
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  transition: opacity var(--transition-time-slow) ease-in-out;
}

.MaterialDock--active {
  background-color: hsl(0, 0%, 6.7%);
  transition: background-color var(--transition-time-fas) ease-out;
}

.MaterialDock__Label {
  transition: opacity var(--transition-time-slow) ease-out;
}

.MaterialDock--disabled .MaterialDock__Label {
  opacity: 0.5;
}

.MaterialDock__Dock {
  position: absolute;
  background-color: hsl(0, 0%, 6.7%);
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: var(--space-xl);
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  text-align: center;
  box-shadow: 0 0 3px var(--color-black);
}

.MaterialDock--active .MaterialDock__Dock {
  animation: materialdock-open var(--transition-time-medium) ease-out;
  @keyframes materialdock-open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.MaterialDock__Button {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  box-shadow: 0 0 3px var(--color-black);
}

.FabricatorRecipe {
  display: flex;
  width: auto;
  border-bottom: var(--border-thickness-tiny) solid hsla(0, 0%, 0%, 0.5);
  position: relative;

  &:last-child {
    border-bottom: 0;
  }

  &__Progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: hsla(0, 0%, 100%, 0.25);
    border-radius: var(--border-radius-medium);
    transition: width var(--transition-time-slowest) linear;
  }

  &__Title,
  &__Button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: var(--space-s) var(--space-m);
    border-radius: 0;

    @include button.button-color();
    @include button.button-color-transparent();

    &:first-child {
      border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    }

    &:last-child {
      border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__Title {
    flex-grow: 1;
  }

  &__Icon {
    width: 32px;
    height: 32px;
    margin-right: var(--space-xl);
  }

  &__Button {
    justify-self: flex-end;

    &--icon {
      padding: 0 var(--space-xl);
    }

    &--disabled {
      text-decoration: line-through;
    }
  }
}

.FabricatorMaterialIcon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;

  &__Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--transition-time-slow) ease-out;

    &--active {
      opacity: 1;
    }
  }
}

.FabricatorTabs {
  .FabricatorTabs {
    margin-top: var(--space-m);
    padding-left: var(--space-s);
  }

  &__Tab {
    cursor: var(--cursor-pointer);
    padding: var(--space-m);
    background-color: var(--tab-background);
    color: var(--tab-color);
    border-right: var(--tab-indicator-size) solid transparent;
    border-radius: var(--tab-border-radius) 0 0 var(--tab-border-radius);
    transition-property: border-color, background-color;
    transition-duration: var(--transition-time-fast);
    transition-timing-function: ease-out;

    &:hover,
    &--active {
      background-color: var(--tab-background-hover);
    }

    &--active {
      cursor: var(--cursor-default);
      color: var(--tab-color-selected);
      border-color: var(--color-primary);
    }
  }

  &__Label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
