.fishing {
  width: 121px;
  height: 500px;
  -ms-user-select: none;
  user-select: none;
  min-width: 121px;
  min-height: 500px;
}

.fishing .main {
  position: absolute;
  width: 50px;
  height: 500px;
  left: 30px;
}

.fishing .main .background {
  position: relative;
  width: 50px;
  height: 500px;
  border-radius: 10px;
  border: 0px black solid;
  -ms-interpolation-mode: nearest-neighbor;
}

.fishing .main .fish {
  width: 100%;
  position: absolute;
  right: 0;
  font-size: 3em;
  text-align: center;
  -ms-interpolation-mode: nearest-neighbor;
  color: white;
  background-color: rgba(65, 91, 138, 0.5);
}

.fishing .main .fish *::before {
  position: absolute;
  top: -5px;
  left: 5px;
}


.fishing .main .bait {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  background: #4d5f2b;
  border: 0px #4d5f2b;
  border-radius: 10px;
}

.fishing .completion {
  position: absolute;
  width: 30px;
  height: 500px;
  left: 95px;
  top: 0;

}

.fishing .completion .background {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px black solid;
  background: rgb(186, 217, 231);
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
}

.fishing .completion .bar {
  position: absolute;
  width: 100%;
  background: #7cb413;
  bottom: 0;
  border-radius: 5px;
}
