@use '../colors.scss';

/// Index @{

.hypertorus-layout {
  margin-right: -0.5em;
}

.hypertorus-layout > * {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

/// @}

/// Recipes @{

// Subtle horizontal stripes for the table
.hypertorus-recipes__row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.37);
}
.hypertorus-recipes__row:nth-child(even) {
  background-color: rgba(14, 14, 14, 0.37);
}

// Highlight an active row
.hypertorus-recipes__activerow:nth-child(odd) {
  background-color: rgba(20, 50, 81, 0.37);
}
.hypertorus-recipes__activerow:nth-child(even) {
  background-color: rgba(29, 61, 98, 0.37);
}

// Headers shouldn't get stripes, but should take the label text color.
// Headers get left borders as a separator, except if they're furtherest left.
.hypertorus-recipes__row.Table__row--header {
  color: colors.fg(var(--color-label));
  background-color: rgba(0, 0, 0, 0);
}
.hypertorus-recipes__row.Table__row--header > td {
  border-left: 1px solid colors.bg(var(--color-label));
  text-align: center;
}
.hypertorus-recipes__row.Table__row--header > td:first-child {
  border-left: none;
}

// Recipe icons are red, unless they're in a header
.hypertorus-recipes__icon {
  text-align: center;
  position: relative;
  color: colors.fg(var(--color-red));
  width: 10px;
}
.hypertorus-recipes__row.Table__row--header * .hypertorus-recipes__icon {
  color: colors.fg(var(--color-label));
}

/// @}

/// Temperatures @{

// Note: Height must be kept in sync with Hypertorus/Temperatures.js
$height: 200px;

// Calculate the space needed for the labels to the left of the chart
$yAxisLabelWidth: 60px;
$yAxisIconPadding: 2px;
$yAxisIconWidth: 14px;
$yAxisMargin: $yAxisLabelWidth + $yAxisIconWidth + $yAxisIconPadding * 2;

// Relative container respects the padding provided by Section
.hypertorus-temperatures__container {
  position: relative;
  margin-right: 10px;
  overflow-y: hidden;
}

.hypertorus-temperatures__y-axis-marks {
  margin-left: 1px;
  margin-right: 1px;
  width: $yAxisMargin;
}

.hypertorus-temperatures__x-axis {
  background-color: colors.bg(var(--color-label));
  position: absolute;
  top: $height;
  height: 1px;
  left: $yAxisMargin;
  right: 0;
}

.hypertorus-temperatures__y-axis {
  background-color: colors.bg(var(--color-label));
  position: absolute;
  width: 1px;
  left: $yAxisMargin;
  height: $height;
}

// Note: top set in js
.hypertorus-temperatures__y-axis-tick-anchor {
  position: absolute;
  left: 0px;
  right: 0;
}

.hypertorus-temperatures__y-axis-tick {
  background-color: colors.bg(var(--color-label));
  position: absolute;
  left: $yAxisMargin;
  right: 0;
  height: 1px;
}

.hypertorus-temperatures__y-axis-label {
  text-align: right;
  color: colors.fg(var(--color-label));
  position: absolute;
  top: 0;
  left: 0;
  width: $yAxisMargin;
}

.hypertorus-temperatures__y-axis-icon {
  display: inline-block;
  margin-right: $yAxisIconPadding;
}

.hypertorus-temperatures__chart {
  left: 0;
  right: 0;
  margin-left: $yAxisMargin;
}

.hypertorus-temperatures__vertical-bar {
  height: $height;
  position: relative;
  width: 17px;
  bottom: 0;
}

// Note: top set in js
.hypertorus-temperatures__vertical-bar > * {
  position: absolute;
  left: -0.5px;
  right: -0.5px;
  bottom: 0px;
  border-radius: 0.16em;
}

.hypertorus__unselectable {
  user-select: none;
  -ms-user-select: none;
}

/// @}
