@use '../colors.scss';
@use '../base.scss';

$fg-map: colors.$fg-map !default;

.CircuitInfo__Examined {
  background-color: rgba(0, 0, 0, 1);
  padding: 8px;
  border-radius: 5px;

  user-select: none;
  pointer-events: none;
}

.ObjectComponent__Titlebar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  white-space: nowrap;

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Greyed_Content {
  white-space: nowrap;
  background-color: rgba(19, 19, 19, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Port {
  position: relative;
  width: 13px;
  height: 13px;
}

.ObjectComponent__PortPos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@each $color-name, $color-value in $fg-map {
  .color-stroke-#{$color-name} {
    stroke: $color-value !important;
  }

  .color-fill-#{$color-name} {
    fill: $color-value !important;
  }
}

$border-color: hsl(210, 100%, 73%) !default;
$border-radius: base.$border-radius !default;

.IntegratedCircuit__BlueBorder {
  border: base.em(1px) solid $border-color;
  border: base.em(1px) solid rgba($border-color, 0.75);
  border-radius: $border-radius;
}

$category-colors: (
  'Utility': (
    bg: hsl(136, 77%, 23%),
    contrast: white,
  ),
  'Entity': (
    bg: hsl(288, 60%, 49%),
    contrast: white,
  ),
  'Sensor': (
    bg: hsl(337, 67%, 66%),
    contrast: white,
  ),
  'Math': (
    bg: hsl(113, 65%, 47%),
    contrast: black,
  ),
  'Unassigned': (
    bg: hsl(208, 65%, 47%),
    contrast: white,
  ),
  'String': (
    bg: hsl(24, 84%, 48%),
    contrast: white,
  ),
  'List': (
    bg: hsl(0, 0%, 67%),
    contrast: black,
  ),
  'Action': (
    bg: hsl(178, 59%, 45%),
    contrast: black,
  ),
  'ID': (
    bg: hsl(52, 75%, 48%),
    contrast: black,
  ),
  'NTNet': (
    bg: hsl(239, 64%, 44%),
    contrast: white,
  ),
  'Abstract': (
    bg: hsl(208, 65%, 47%),
    contrast: white,
  ),
  'Admin': (
    bg: hsl(0, 72%, 50%),
    contrast: white,
  ),
  'BCI': (
    bg: black,
    contrast: white,
  ),
);

@each $category-name, $values in $category-colors {
  .ObjectComponent__Category__#{$category-name} {
    background-color: map-get($values, bg);
    color: map-get($values, contrast);
  }
}
