@use 'sass:map';
@use '../colors.scss';
@use '../base.scss';

$map-keys: colors.$color-map !default;

.CircuitInfo__Examined {
  background-color: var(--color-black);
  padding: var(--space-ml);
  border-radius: var(--border-radius-large);

  user-select: none;
  pointer-events: none;
}

.ObjectComponent {
  pointer-events: auto;
}

.ObjectComponent__Titlebar {
  border-top-left-radius: var(--border-radius-huge);
  border-top-right-radius: var(--border-radius-huge);

  white-space: nowrap;

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: hsla(0, 0%, 0%, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Greyed_Content {
  white-space: nowrap;
  background-color: hsla(0, 0%, 7.5%, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Port {
  position: relative;
  width: 13px;
  height: 13px;
}

.ObjectComponent__PortPos {
  position: absolute;
  inset: 0;
}

.Tooltip__Port {
  backdrop-filter: var(--tooltip-blur);
  background-color: var(--tooltip-background);
  border-radius: var(--tooltip-border-radius);
  box-shadow: 0.1em 0.1em 1.25em -0.1em hsla(0, 0%, 0%, 0.5);
  color: var(--tooltip-color);
  max-width: base.em(250px);
  padding: var(--space-m) var(--space-l);
  text-align: left;
}

@each $color-name, $color-value in $map-keys {
  .color-stroke-#{$color-name} {
    stroke: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }

  .color-fill-#{$color-name} {
    fill: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }
}

.IntegratedCircuit__BlueBorder {
  border: var(--border-thickness-tiny) solid var(--color-border-primary);
  border-radius: var(--border-radius-small);
}

$category-colors: (
  'Utility': (
    bg: hsl(136, 77%, 23%),
    contrast: white,
  ),
  'Entity': (
    bg: hsl(288, 60%, 49%),
    contrast: white,
  ),
  'Sensor': (
    bg: hsl(337, 67%, 66%),
    contrast: white,
  ),
  'Math': (
    bg: hsl(113, 65%, 47%),
    contrast: black,
  ),
  'Unassigned': (
    bg: hsl(208, 65%, 47%),
    contrast: white,
  ),
  'String': (
    bg: hsl(24, 84%, 48%),
    contrast: white,
  ),
  'List': (
    bg: hsl(0, 0%, 67%),
    contrast: black,
  ),
  'Action': (
    bg: hsl(178, 59%, 45%),
    contrast: black,
  ),
  'ID': (
    bg: hsl(52, 75%, 48%),
    contrast: black,
  ),
  'NTNet': (
    bg: hsl(239, 64%, 44%),
    contrast: white,
  ),
  'Abstract': (
    bg: hsl(208, 65%, 47%),
    contrast: white,
  ),
  'Admin': (
    bg: hsl(0, 72%, 50%),
    contrast: white,
  ),
  'BCI': (
    bg: black,
    contrast: white,
  ),
);

@each $category-name, $values in $category-colors {
  .ObjectComponent__Category__#{$category-name} {
    background-color: map.get($values, bg);
    color: map.get($values, contrast);
  }
}
