@use '../colors.scss';
@use '../base.scss';

.ObjectComponent__Titlebar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  white-space: nowrap;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
}

.ObjectComponent__PortPos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
