.LibraryAdmin_RecordCell {
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
}

.LibraryAdmin_RecordHeader {
  text-align: center;
  font-size: 150%;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
}

.LibraryAdmin_RecordCell:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}
