@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-danger: hsl(0, 74%, 45%) !default;

.Mecha__displayBox {
  background-color: hsl(150, 100%, 1%);
  border: 0.167em inset hsl(50, 33%, 91%);
  color: hsl(132, 100%, 45%);
  font-size: 2em;
  font-family: monospace;
  padding: 0.25em;
}

.Mecha__displayBoxRed {
  background-color: hsl(150, 100%, 1%);
  border: 0.167em inset hsl(50, 33%, 91%);
  color: hsl(0, 89%, 64%);
  font-size: 2em;
  font-family: monospace;
  padding: 0.25em;
}

.Mecha__Button {
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Mecha__ButtonDanger {
  background-color: $color-danger !important;
  border-color: $color-danger !important;
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:hover {
    background-color: lighten($color-danger, 15%) !important;
    border-color: lighten($color-danger, 15%) !important;
  }
}
