@use '../colors.scss';

.NtosNanopaint__NewDialog__TemplateCell {
  border-radius: 0%;
  background-color: var(--color-base);

  &:hover {
    background-color: colors.fg(var(--color-primary));
  }

  &:nth-child(odd) {
    background-color: colors.fg(var(--color-base));
  }
}

.NtosNanopaint__SelectDialog__EntryCell {
  border-radius: 0%;
  background-color: var(--color-base);

  &.Button--selected {
    background-color: var(--color-primary);
  }

  &:hover {
    background-color: colors.fg(var(--color-primary));
  }
}
