@use 'sass:color';
@use 'sass:math';
@use '../base';
@use '../functions';
@use '../colors';

$msgcolor-outgoing: hsl(213, 50%, 35%);
$msgcolor-incoming: hsl(213, 0%, 20%);

$msgpadding: 0.7rem;

// very nasty theme hacks inbound

.theme-ntOS95 {
  .NtosChatMessage {
    color: white !important;

    padding: $msgpadding - base.rem(2px);

    border-radius: 0;

    background-color: lighten($msgcolor-incoming, 10%);
    &_outgoing {
      border-color: lighten($msgcolor-outgoing, 20%);
      background-color: lighten($msgcolor-outgoing, 30%);
    }
  }

  .NtosChatLog {
    background-color: white;
  }
}

.NtosChatMessage {
  display: inline-flex;
  flex-direction: column;

  min-width: 10rem;
  max-width: 30rem;
  margin: 0;

  padding: $msgpadding;

  border-radius: 3px;
  background-color: $msgcolor-incoming;

  &_outgoing {
    @extend .NtosChatMessage;
    background-color: $msgcolor-outgoing;
    text-align: right;
    float: right;
  }

  &__content {
    word-wrap: break-word;
    text-align: left;
  }

  &__everyone {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: lightgrey;
  }
}

.NtosChatMessage__image {
  align-self: flex-start;
  margin-top: 1rem;
  margin-right: 3rem;
  max-width: 25rem;
}

.NtosChatLog {
  padding: 1rem;
  min-height: 99.5%;
  margin: 0;
}

.NtosChatLog__ImagePreview {
  width: fit-content;
  height: fit-content;
}

.NtosChatLog__ImagePreview img {
  height: auto;
  width: 30rem;
  margin-right: 1rem;
  justify-self: center;
  align-self: center;
}

.UnreadDivider {
  position: relative;
  display: flex;
  font-size: 1rem;
  text-align: center;

  & > span {
    color: colors.$red;
  }

  & > div {
    display: inline-flex;
    flex: 1;
    border-bottom: 2px solid colors.$red;
    height: 50%;

    &:last-child {
      margin-left: 1%;
    }

    &:first-child {
      margin-right: 1%;
    }
  }
}
