@use 'sass:color';
@use '../base';
@use '../functions';

$msgcolor-incoming: hsl(213, 50%, 35%);
$msgcolor-outgoing: hsl(213, 0%, 20%);

$msgpadding: 0.7rem;

// very nasty theme hacks inbound

.theme-ntOS95 {
  .NtosMessenger__ChatMessage {
    color: white !important;

    padding: $msgpadding - base.rem(2px);

    border-radius: 0;

    background-color: lighten($msgcolor-incoming, 10%);
    &__outgoing {
      border-color: lighten($msgcolor-outgoing, 20%);
      background-color: lighten($msgcolor-outgoing, 30%);
    }
  }

  .NtosMessenger__ChatLog {
    background-color: white;
  }
}

.NtosMessenger__ChatMessage {
  display: inline-flex;
  flex-direction: column;

  min-width: 10rem;
  max-width: 30rem;

  padding: $msgpadding;

  border-radius: 3px;
  background-color: $msgcolor-incoming;

  &__outgoing {
    @extend .NtosMessenger__ChatMessage;
    background-color: $msgcolor-outgoing;
    text-align: right;
    align-self: flex-end;
  }

  .NtosMessenger__ChatMessage__inner {
    text-align: left;
  }

  &__content {
    word-wrap: break-word;
  }

  &__everyone {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: lightgrey;
  }

  img {
    margin-top: 1rem;
    margin-right: 3rem;
  }
}

.NtosMessenger__ChatLog {
  padding: 1rem;
  justify-content: flex-end;
  margin: 0;
}
