@use 'sass:color';

@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$background-beige: hsl(50, 33%, 84%);

.NuclearBomb__displayBox {
  background-color: hsl(150, 100%, 1%);
  border: 0.167em inset $background-beige;
  color: hsl(132, 100%, 45%);
  font-size: 2em;
  font-family: var(--font-family-mono);
  padding: 0.25em;
}

.NuclearBomb__Button {
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.NuclearBomb__Button--keypad {
  background-color: $background-beige;
  border-color: $background-beige;
  &:hover {
    background-color: color.adjust(
      $background-beige,
      $lightness: 15%
    ) !important;
    border-color: color.adjust($background-beige, $lightness: 15%) !important;
  }
}

.NuclearBomb__Button--1 {
  background-color: hsl(50, 33%, 78%) !important;
  border-color: hsl(50, 33%, 78%) !important;
  color: hsl(50, 10%, 70%) !important;
}

.NuclearBomb__Button--E {
  background-color: var(--button-background-caution) !important;
  border-color: var(--button-background-caution) !important;
  &:hover {
    background-color: hsl(
      from var(--button-background-caution) h s calc(l + var(--adjust-hover))
    ) !important;
    border-color: hsl(
      from var(--button-background-caution) h s calc(l + var(--adjust-hover))
    ) !important;
  }
}

.NuclearBomb__Button--C {
  background-color: var(--button-background-danger) !important;
  border-color: var(--button-background-danger) !important;
  &:hover {
    background-color: hsl(
      from var(--button-background-danger) h s calc(l + var(--adjust-hover))
    ) !important;
    border-color: hsl(
      from var(--button-background-danger) h s calc(l + var(--adjust-hover))
    ) !important;
  }
}

.NuclearBomb__NTIcon {
  background-image: url('../assets/bg-nanotrasen.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
