@use 'sass:color';

@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

:root {
  --nuclear-beige: hsl(50, 33%, 84%);
}

.NuclearBomb__displayBox {
  background-color: hsl(150, 100%, 1%);
  border: var(--border-thickness-small) inset var(--nuclear-beige);
  color: hsl(132, 100%, 45%);
  font-size: 2em;
  font-family: var(--font-family-mono);
  padding: var(--space-s);
}

.NuclearBomb__Button {
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition-duration: 0s;
  border-style: outset !important;
  border-color: var(--nuclear-beige);

  i.Icon {
    margin: 0;
  }

  &:active {
    border-style: inset !important;

    .Button__content {
      opacity: 0.75;
      transform: translate(0px, 2px);
    }
  }
}

.NuclearBomb__Button--keypad {
  background-color: var(--nuclear-beige);
  border-color: ar(--nuclear-beige);

  &:hover:not(:active) {
    background-color: hsl(
      from var(--nuclear-beige) h s calc(l + var(--adjust-hover))
    ) !important;
    border-color: hsl(
      from var(--nuclear-beige) h s calc(l + var(--adjust-hover))
    ) !important;
  }
}

.NuclearBomb__Button--1,
.NuclearBomb__Button--2,
.NuclearBomb__Button--3,
.NuclearBomb__Button--4,
.NuclearBomb__Button--5,
.NuclearBomb__Button--6,
.NuclearBomb__Button--7,
.NuclearBomb__Button--8,
.NuclearBomb__Button--9,
.NuclearBomb__Button--0 {
  color: rgb(56, 52, 52);
  background-color: var(--nuclear-beige) !important;
}

.NuclearBomb__Button--E {
  background-color: var(--button-background-caution) !important;
  border-color: var(--button-background-caution) !important;
  &:hover:not(:active) {
    background-color: hsl(
      from var(--button-background-caution) h s calc(l + var(--adjust-hover))
    ) !important;
    border-color: hsl(
      from var(--button-background-caution) h s calc(l + var(--adjust-hover))
    ) !important;
  }
}

.NuclearBomb__Button--C {
  background-color: var(--button-background-danger) !important;
  border-color: var(--button-background-danger) !important;
  &:hover:not(:active) {
    background-color: hsl(
      from var(--button-background-danger) h s calc(l + var(--adjust-hover))
    ) !important;
    border-color: hsl(
      from var(--button-background-danger) h s calc(l + var(--adjust-hover))
    ) !important;
  }
}

.NuclearBomb__NTIcon {
  background-image: url('tgui-core/assets/bg-nanotrasen.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
