.JobIcon {
  align-items: center;
  background: black;
  border: thin solid #363636;
  border-radius: 0.16em;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-right: -1px;
  padding-left: 2px;
}
