.OreSilo {
  .__LogEntry {
    font-size: 1rem;
    outline-style: ridge;
    outline-width: 1px;
    background-blend-mode: screen;
    .__UserItem {
      font-family: 'Helvetica';
      font-kerning: auto;
      text-rendering: optimizeLegibility;
      .__Name {
        outline: ridge black;
        outline-offset: 1.5px;
        margin-right: 1.5px;
      }
      .__Assignment {
        outline: ridge black;
        outline-offset: 1.5px;
        letter-spacing: 1.1px;
      }
    }
  }
}
