$color-background-g: rgba(21, 104, 38, 0.486);

.RequestKiosk__left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
}

.RequestKiosk__right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 400px;
  right: 0;
  background-color: $color-background;
}
