@use '../base.scss';
@use '../colors.scss';

.Roulette {
  &__container {
    display: flex;
  }

  &__board {
    &-cell {
      display: table-cell;
      padding: 0;
      margin: 0;
      border: 1px solid colors.$white;
      vertical-align: bottom;

      &-number {
        width: 35px;

        &--colspan-2 {
          width: 71px;
        }

        &--colspan-4 {
          width: 143px;
        }
      }
    }

    &-button {
      display: table-cell !important;
      border: none !important;
      width: inherit;
      height: 40px;
      padding: 0;
      margin: 0;
      text-align: center;
      vertical-align: middle;
      color: colors.$white !important;

      &--rowspan-3 {
        height: 122px;
      }

      &-text {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &__lowertable {
    margin-top: 8px;
    border-collapse: collapse;
    border: 1px solid colors.$white;
    border-spacing: 0;

    &--cell {
      border: 2px solid colors.$white;
      padding: 0px;
      margin: 0px;
    }

    &--betscell {
      vertical-align: top;
    }

    &--spinresult {
      text-align: center;
      font-size: 100px;
      font-weight: bold;
      vertical-align: middle;

      &-black {
        background-color: colors.$black;
      }

      &-red {
        background-color: colors.$red;
      }

      &-green {
        background-color: colors.$green;
      }
    }

    &--spinbutton {
      margin: 0 !important;
      border: none !important;
      font-size: 50px;
      line-height: 60px !important;
      text-align: center;
      font-weight: bold;
    }

    &--header {
      width: 1%;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
