.Safe__engraving {
  position: absolute;
  width: 95%;
  height: 96%;
  left: 2.5%;
  top: 2%;
  border: 5px outset #3e4f6a;
  padding: 5px;
  text-align: center;
}

.Safe__engraving-arrow {
  color: #35435a;
}

.Safe__engraving-hinge {
  content: " ";
  background-color: #191f2a;
  width: 25px;
  height: 40px;
  position: absolute;
  right: -15px;
  margin-top: -20px;
}

.Safe__dialer {
  margin-bottom: 1.25rem;
  .Button {
    width: 80px;
  }
}

.Safe__dialer-right {
  .Button {
    i {
      z-index: -100;
    }
  }
}

.Safe__dialer-number {
  color: #bbbbbb;
  display: inline;
  background-color: #191f2a;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

.Safe__contents {
  border: 10px solid #191f2a;
  background-color: #0f131a;
  height: calc(85% + 7.5px);
  text-align: left;
  padding: 5px;
}

.Safe__help {
  position: absolute;
  top: 73%;
  left: 10px;
  width: 50%;

  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-style: italic;
  color: black;
  box-shadow: 5px 5px #111111;
  background-image: linear-gradient(to bottom,
    #b2ae74 0%,
    #8e8b5d 100%);
  transform: rotate(-1deg);

  &:before {
    content: " ";
    display: block;
    width: 24px;
    height: 40px;
    background-image: linear-gradient(to bottom,
      transparent 0%,
      #ffffff 100%);
    box-shadow: 1px 1px #111111;
    opacity: 0.2;
    position: absolute;
    top: -30px;
    left: calc(50% - 12px);
    transform: rotate(-5deg);
  }
}
