.TachyonArray__ActiveRecord {
  margin: 0 0.5em 0 0.8em;
}

.TachyonArray__Content {
  overflow-x: hidden;
  overflow-y: auto;
}

.TachyonArray__ResearchFooter > * {
  width: 100%;
  text-align: center;
}
