.Techweb__NodeProgress {
  margin-bottom: 1rem;
}

.Techweb__NodeProgress > *:not(:last-child) {
  margin-right: 0.4rem;
}

.Techweb__NodeDescription {
  margin-bottom: 1rem;
}

.Techweb__NodeUnlockedDesigns {
  margin-bottom: 1rem;
}

.Techweb__DesignIcon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
