$badGradient: linear-gradient(
  to right,
  hsl(0, 67%, 37%),
  hsl(0, 43%, 28%),
  hsl(0, 67%, 37%)
);
$normalGradient: linear-gradient(
  to right,
  hsl(30, 14%, 34%),
  hsl(30, 20%, 19%),
  hsl(30, 14%, 34%)
);
$goodGradient: linear-gradient(
  to right,
  hsl(210, 11%, 37%),
  hsl(210, 14%, 17%),
  hsl(210, 11%, 37%)
);
$veryGoodGradient: linear-gradient(
  to right,
  hsl(36, 38%, 44%),
  hsl(36, 33%, 19%),
  hsl(36, 38%, 44%)
);
$superGoodGradient: linear-gradient(
  to right,
  hsl(60, 39%, 45%),
  hsl(60, 35%, 34%),
  hsl(60, 39%, 45%)
);
$bestGradient: linear-gradient(
  to right,
  hsl(330, 34%, 45%),
  hsl(330, 43%, 26%),
  hsl(330, 34%, 45%)
);

$_rep_map: (
  'bad': $badGradient,
  'normal': $normalGradient,
  'good': $goodGradient,
  'very-good': $veryGoodGradient,
  'super-good': $superGoodGradient,
  'best': $bestGradient,
);

@each $reputation-name, $gradient-value in $_rep_map {
  .reputation-#{$reputation-name} {
    background-image: $gradient-value !important;
  }

  .reputation-#{$reputation-name}.Button {
    background-position: 0 0;
    transition: background-position 50ms;

    &:hover {
      transition: background-position 0ms;
    }

    &:focus {
      transition: background-position 100ms;
    }

    &:hover,
    &:focus {
      background-position: 50em 0;
    }
  }
}

.UplinkObjective__Titlebar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;

  font-weight: bold;
  border: black solid 2px;
  border-bottom: none;
}

.UplinkObjective__EmptyObjective {
  background-color: rgba(0, 0, 0, 0.4);
  border: black solid 2px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
}

.UplinkObjective__Content {
  background-color: rgba(0, 0, 0, 0.4);
  border: black solid 2px;
  border-top: none;
  border-bottom: none;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
}

.UplinkObjective__Footer {
  background-color: rgba(0, 0, 0, 0.4);
  border: black solid 2px;
  border-top: none;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
