body {
    background: #272727 url(background_nanotrasen.png) 50% 0 repeat-x;
}

#title {
    position: relative;
    height: 30px;
}

#titletext {
    position: absolute;
    top: 6px;
    left: 44px;
    width: 66%;
    overflow: hidden;
    color: #E9C183;
    font-size: 16px;
}

#title.icon {
    padding: 6px 8px 6px 42px;
    background-position: 2px 50%;
    background-repeat: no-repeat;
}

#titleicon {
    position: absolute;
    top: 4px;
    right: 12px;
    width: 42px;
    height: 24px;
    background: url(logo_nanotrasen.png) 50% 50% no-repeat;
}

#statusicon {
    position: absolute;
    top: 4px;
    left: 12px;
    width: 24px;
    height: 24px;
}

#content {
    clear: both;
    padding: 8px;
}

#loading {
    position: relative;
    background: url(background_notice.jpg) 50% 50%;
    color: #000000;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 4px 0 4px 0;
}


