:root {
  /* TitleBar */
  --titlebar-background: var(--color-secondary);
  --titlebar-text: var(--color-text-translucent-light);
  --titlebar-shadow-color: hsla(0, 0%, 0%, 0.66);
  --titlebar-shadow-core: hsl(0, 0%, 0%, 0.4);
}
