## NPM garbage
node_modules
*.log
package-lock.json

## Yarn stuff
/.pnp.*
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions

## Build artifacts
/public/.tmp/**/*
/public/**/*
!/public/*.html

## Previously ignored locations that are kept to avoid confusing git
## while transitioning to a new project structure.
/packages/tgui/public/**
