## NPM garbage
node_modules
*.log
package-lock.json

## Yarn stuff
/.pnp.*
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions

## Build artifacts
/public/.tmp/**/*
/public/**/*.hot-update.*
/public/**/*.map

## Previously ignored locations that are kept to avoid confusing git
## while transitioning to a new project structure.
/packages/tgui/public/.tmp/**/*
/packages/tgui/public/**/*.hot-update.*
/packages/tgui/public/**/*.map
