{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
