{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": "ie 11"
  },
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "minify": true
}
