<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;gas_recipe_machines&#x2F;atmos_machines_recipes.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.html#define">Define Details</a></header>
<main>
<h1>code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm 
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;gas_recipe_machines&#x2F;atmos_machines_recipes.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.html#define/ENDOTHERMIC_REACTION">ENDOTHERMIC_REACTION</a></th><td>Defines for the recipes var</td></tr></table><h2 id="define">Define Details</h2>
<h3 id="define/ENDOTHERMIC_REACTION"><aside class="declaration">#define </aside>ENDOTHERMIC_REACTION
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;gas_recipe_machines&#x2F;atmos_machines_recipes.dm 4"/></a>
    </h3>
    <p>Defines for the recipes var</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
