<!--
Title: advanced camera UI (map content)
Used In File(s): /code/game/machinery/computer/adv_camera.dm
 -->
{{:helper.link('Reset', 'script', {'cancel' : 1})}}
<div style="float: right; width: 365px;">
    {{:helper.link('Change Z-Level', 'script', {'zlevel' : 1})}}
    <span style="float: left;">Zoom Level:&nbsp;</span>
    <div unselectable="on" class="link zoomLink" data-zoom-level="4">x1.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="6">x1.5</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="8">x2.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="12">x2.5</div>
</div>