<div class='notice'>
	{{if data.siliconUser}}
		<div class="itemContentSmall">
			Interface Lock:
		</div>
		<div class="itemContentFull">
			{{:helper.link('Engaged', 'locked', {'toggleaccess' : 1}, data.locked ? 'selected' : null)}}
			{{:helper.link('Disengaged', 'unlocked', {'toggleaccess' : 1}, data.locked ? null : 'selected')}}
		</div>
	{{else}}
		{{if data.locked}}
			Swipe an ID card to unlock this interface.
		{{else}}
			Swipe an ID card to lock this interface.
		{{/if}}
	{{/if}}
	<div class="clearBoth"></div>
</div>
<h2>Air Status</h2>
{{if data.environment_data}}
	{{for data.environment_data :info:i}}
		<div class="item">
			<div class="itemLabel">
				{{:info.name}}:
			</div>
			<div class="itemContent">
				{{if info.danger_level == 2}}
					<span class='bad'>
				{{else info.danger_level == 1}}
					<span class='average'>
				{{else}}
					<span class='good'>
				{{/if}}
				{{:helper.round(info.value*100)/100}}
				</span>
				{{:info.unit}}
			</div>
		</div>
	{{/for}}
	<div class="item">
		<div class="itemLabel">
			Local Status:
		</div>
		<div class="itemContent">
			{{if data.danger_level == 2}}
				<span class='bad'>Danger (Internals Required)
			{{else data.danger_level == 1}}
				<span class='average'>Caution
			{{else}}
				<span class='good'>Optimal
			{{/if}}
			</span>
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Area Status:
		</div>
		<div class="itemContent">
			{{if data.atmos_alarm}}
				<span class='bad'>Atmosphere Alarm in Area
			{{else data.fire_alarm}}
				<span class='average'>Fire Alarm in Area
			{{else}}
				<span class='good'>No Alerts
			{{/if}}
			</span>
		</div>
	</div>
{{else}}
	<div class="item"><span class='bad'>Warning: Cannot obtain air sample for analysis.</span></div>
{{/if}}
{{if data.dangerous}}
	<hr />
	<div class="item"><span class='bad'>Warning: Safety measures offline. Device may exhibit abnormal behavior.</span></div>
{{/if}}
{{if (!data.locked || data.siliconUser)}}
	<hr />
	{{if data.screen != 1}}
		<div class="item">{{:helper.link('Back', 'triangle-1-w', { 'screen' : 1})}}</div>
	{{/if}}
	{{if data.screen == 1}}
		<h2>Air Controls</h2>
		<div class="item">
			{{if !data.atmos_alarm}}
				{{:helper.link('Area Atmospheric Alarm', 'power', { 'atmos_alarm' : 1}, null, null)}}
			{{else}}
				{{:helper.link('Area Atmospheric Alarm', 'close', { 'atmos_reset' : 1}, null, 'yellowButton')}}
			{{/if}}
		</div>
		<div class="item">
			{{if data.mode == 3}}
				{{:helper.link('Panic Siphon', 'close', { 'mode': 1}, null, 'redButton')}}
			{{else}}
				{{:helper.link('Panic Siphon', 'power', { 'mode': 3}, null, null)}}
			{{/if}}
		</div>
		<br />
		<div class="item">
			{{:helper.link('Scrubber Controls', 'wrench', { 'screen' : 3})}}
		</div>
		<div class="item">
			{{:helper.link('Vent Controls', 'wrench', { 'screen' : 2})}}
		</div>
		<br />
		<div class="item">
			{{:helper.link('Set Environmental Mode', 'pencil', { 'screen' : 4})}}
		</div>
		<div class="item">
			{{:helper.link('Set Alarm Threshold', 'pencil', { 'screen' : 5})}}
		</div>
	{{else data.screen == 2}}
		<h2>Vent Controls</h2>
		{{for data.vents :vent:i}}
			<div class="item">{{:vent.long_name}}</div>
			<div class="item">
				<div class="itemLabel">
					Operating:
				</div>
				<div class="itemContent">
					{{:helper.link(vent.power ? 'On' : 'Off', null, { 'id_tag' : vent.id_tag, 'command' : 'power', 'val' : vent.power ? 0 : 1}, null, vent.power ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Mode:
				</div>
				<div class="itemContent">
					{{:vent.direction == "siphon" ? 'Siphoning' : 'Pressurizing'}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Pressure Checks:
				</div>
				<div class="itemContent">
					{{:helper.link('External', null, { 'id_tag' : vent.id_tag, 'command' : 'excheck', 'val' : vent.checks}, null, vent.excheck ? 'selected' : null)}}
					{{:helper.link('Internal', null, { 'id_tag' : vent.id_tag, 'command' : 'incheck', 'val' : vent.checks}, null, vent.incheck ? 'selected' : null)}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					External Pressure Bound:
				</div>
				<div class="itemContent">
					{{:helper.link(helper.round(vent.external*100)/100, null, { 'id_tag' : vent.id_tag, 'command' : 'set_external_pressure'})}}
					{{:helper.link('Reset', null, { 'id_tag' : vent.id_tag, 'command' : 'reset_external_pressure'})}}
				</div>
			</div>			
			<hr />
		{{/for}}
		{{if !data.vents.length}}
			No vents connected.
		{{/if}}
	{{else data.screen == 3}}
		<h2>Scrubber Controls</h2>
		{{for data.scrubbers :scrubber:i}}
			<div class="item">{{:scrubber.long_name}}</div>
			<div class="item">
				<div class="itemLabel">
					Operating:
				</div>
				<div class="itemContent">
					{{:helper.link(scrubber.power ? 'On' : 'Off', null, { 'id_tag' : scrubber.id_tag, 'command' : 'power', 'val' : scrubber.power ? 0 : 1}, null, scrubber.power ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Mode:
				</div>
				<div class="itemContent">
					{{:helper.link(scrubber.scrubbing ? 'Scrubbing' : 'Siphoning', null, { 'id_tag' : scrubber.id_tag, 'command' : 'scrubbing', 'val' : scrubber.scrubbing ? 0 : 1}, null, scrubber.scrubbing ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Scrub Range:
				</div>
				<div class="itemContent">
					{{:helper.link(scrubber.widenet ? 'Extended' : 'Normal', null, { 'id_tag' : scrubber.id_tag, 'command' : 'widenet', 'val' : scrubber.widenet ? 0 : 1}, null, scrubber.widenet ? 'selected' : null)}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Filters:
				</div>
				<div class="itemContent">
					{{:helper.link("Carbon Dioxide", null, {'id_tag': scrubber.id_tag, 'command': "co2_scrub", 'val': scrubber.filter_co2 ? 0 : 1}, null, scrubber.filter_co2 ? 'selected' : null)}}<br class="clearBoth">
					{{:helper.link("Plasma", null, {'id_tag': scrubber.id_tag, 'command': "tox_scrub", 'val': scrubber.filter_toxins ? 0 : 1}, null, scrubber.filter_toxins ? 'selected' : null)}}<br class="clearBoth">
					{{:helper.link("Nitrous Oxide", null, {'id_tag': scrubber.id_tag, 'command': "n2o_scrub", 'val': scrubber.filter_n2o ? 0 : 1}, null, scrubber.filter_n2o ? 'selected' : null)}}<br class="clearBoth">
				</div>
			</div>
			<hr />
		{{/for}}
		{{if !data.scrubbers.length}}
			No scrubbers connected.
		{{/if}}
	{{else data.screen == 4}}
		<h2>Environmental Modes</h2>
		{{for data.modes :mode:i}}
			<div class="item">
				{{:helper.link(mode.name, null, { 'mode': mode.mode }, null, mode.selected ? (mode.danger ? 'redButton' : 'selected') : (mode.danger ? 'yellowButton' : null))}}
			</div>
		{{/for}}
	{{else data.screen == 5}}
		<h2>Alarm Thresholds</h2>
		Partial pressure for gases.
		<table class='fixed'>
		<tr>
			<td></td><td><span class='bad'>min2</span></td><td><span class='average'>min1</span></td><td><span class='average'>max1</span></td><td><span class='bad'>max2</span></td>
		</tr>
		{{for data.thresholds :threshold:i}}
			<tr>
				<td>{{:threshold.name}}</td>
				{{for threshold.settings :setting:j}}
					<td>
						{{:helper.link(setting.selected >= 0 ? helper.round(setting.selected*100)/100 : "Off", null, {'command': 'set_threshold', 'env': setting.env, 'var': setting.val})}}
					</td>
				{{/for}}
			</tr>			
		{{/for}}
		<table>
	{{/if}}
{{/if}}