<div class="item">
	<div class="itemLabel">
		Power:
	</div>
	<div class="itemContent">
		{{:~link(on? 'On' : 'Off', null, {'power' : 1})}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Output pressure:
	</div>
	<div class="itemContent">
		<div style="clear: both; padding-top: 4px;">
			{{:~link('MAX', null, {'set_press' : 'max'}, null)}}
			{{:~link('SET', null, {'set_press' : 'set'}, null)}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:(pressure_set/100)}} kPa&nbsp;</div>
		</div>
	</div>
</div>
<h4>Filter Type</h4>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Plasma', null, {'filterset' :  0}, (filter_type ==  0)? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Oxygen', null, {'filterset' :  1}, (filter_type ==  1)? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Nitrogen', null, {'filterset' :  2}, (filter_type ==  2)? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Carbon Dioxide', null, {'filterset' :  3}, (filter_type ==  3)? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Nitrous Oxide', null, {'filterset' :  4}, (filter_type ==  4)? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div style="clear: both; padding-top: 4px;">
		{{:~link('Nothing', null, {'filterset' :  -1}, (filter_type ==  -1)? 'selected' : null)}}
	</div>
</div>