<div class="item">
	<div class="itemLabel">
		Power:
	</div>
	<div class="itemContent">
		{{:helper.link(data.on? 'On' : 'Off', null, {'power' : 1})}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Output pressure:
	</div>
	<div class="itemContent">
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('MAX', null, {'set_press' : 'max'}, null)}}
			{{:helper.link('SET', null, {'set_press' : 'set'}, null)}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:(data.pressure_set/100)}} kPa&nbsp;</div>
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Node 1 Concentration:
	</div>
	<div class="itemContent">
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'node1_c' : '-0.1'}, null)}}
			{{:helper.link('-', null, {'node1_c' : '-0.01'}, null)}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.node1_concentration}} %&nbsp;</div>
			{{:helper.link('+', null, {'node1_c' : '0.01'}, null)}}
			{{:helper.link('+', null, {'node1_c' : '0.1'}, null)}}
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Node 2 Concentration:
	</div>
	<div class="itemContent">
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'node2_c' : '-0.1'}, null)}}
			{{:helper.link('-', null, {'node2_c' : '-0.01'}, null)}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.node2_concentration}} %&nbsp;</div>
			{{:helper.link('+', null, {'node2_c' : '0.01'}, null)}}
			{{:helper.link('+', null, {'node2_c' : '0.1'}, null)}}
		</div>
	</div>
</div>