<!-- 
Title: Lysis-isolation Centrifuge UI 
Used In File(s): \code\modules\hydroponics\seed_machines.dm
 -->

{{if data.activity}}
	Scanning...
{{else}}
	<h3>Buffered Genetic Data</h3>
	{{if data.hasGenetics}}
		<div class="item">
			<div class="itemLabel">
				Source:
			</div>
			<div class="itemContent">
				{{:data.sourceName}}
			</div>
			<div class="itemLabel">
				Gene decay:
			</div>
			<div class="itemContent">
				{{:data.degradation}}%
			</div>
		</div>
		{{if data.disk}}
			{{for data.geneMasks}}
				<div class="item">
					<div class="itemLabel">
						{{:value.mask}}
					</div>
					<div class="itemContent">
						{{:helper.link('Extract', 'circle-arrow-s', {'get_gene' : value.tag}, null)}}
					</div>
				</div>
			{{empty}}
				<div class="notice">Data error. Genetic record corrupt.</div>
			{{/for}}
			<br>
			<div class="item">
				{{:helper.link('Eject Loaded Disk', 'circle-arrow-e', {'eject_disk' : 1}, null)}}
				{{:helper.link('Clear Genetic Buffer', 'gear', {'clear_buffer' : 1}, null)}}
			</div>
		{{else}}
			<div class="notice">No disk inserted.</div>
		{{/if}}
	{{else}}
		<div class="notice">No data buffered.</div>
		{{if data.disk}}
			<br>
			<div class="item">
				{{:helper.link('Eject Loaded Disk', 'circle-arrow-e', {'eject_disk' : 1}, null)}}
			</div>
		{{else}}
			<div class="notice">No disk inserted.</div>
		{{/if}}
	{{/if}}
	<h3>Loaded Material</h3>
	{{if data.loaded}}
		<div class="item">
			<div class="itemLabel">
				Packet loaded:
			</div>
			<div class="itemContent">
				{{:data.loaded}}
			</div>
			<div class="item">
				{{:helper.link('Process Genome', 'gear', {'scan_genome' : 1}, null)}}{{:helper.link('Eject Packet', 'circle-arrow-e', {'eject_packet' : 1}, null)}}
			</div>
		</div>
	{{else}}
		<div class="notice">No seeds loaded.</div>
	{{/if}}
{{/if}} 