<!-- 
Title: DNA Modifier UI 
Used In File(s): D:\Development\SS13-BS12\code\game\dna\dna_modifier.dm
 -->
<h3>Status</h3>

<div class="statusDisplay">
	{{if !hasOccupant}}
		<div class="line">Cell Unoccupied</div>
	{{else}}
		<div class="line">
			{{:occupant.name}}&nbsp;=>&nbsp;
			{{if occupant.stat == 0}}
				<span class="good">Conscious</span>
			{{else occupant.stat == 1}}
				<span class="average">Unconscious</span>
			{{else}}
				<span class="bad">DEAD</span>
			{{/if}}
		</div>
		
		{{if !occupant.isViableSubject || !occupant.uniqueIdentity || !occupant.structuralEnzymes}}
			<div class="notice">
				The occupant's DNA structure is ruined beyond recognition, please insert a subject with an intact DNA structure.
			</div>
		{{else occupant.stat < 2}}
			<div class="line">
				<div class="statusLabel">Health:</div>
					{{if occupant.health >= 0}}
						{{:~displayBar(occupant.health, 0, occupant.maxHealth, 'good')}}
					{{else}}
						{{:~displayBar(occupant.health, 0, occupant.minHealth, 'average alignRight')}}
					{{/if}}
				<div class="statusValue">{{:~round(occupant.health)}}</div>
			</div>
			
			<div class="line">
				<div class="statusLabel">Radiation:</div>
					{{:~displayBar(occupant.radiationLevel, 0, 100, 'average')}}
				<div class="statusValue">{{:~round(occupant.radiationLevel)}}</div>
			</div>
		
			<div class="line">
				<div class="statusLabel">Unique Enzymes:</div>
				<div class="statusValue">{{:occupant.uniqueEnzymes ? occupant.uniqueEnzymes : '<span class="bad">Unknown</span>'}}</div>
			</div>
		
			<!--<div class="line">
				<div class="statusLabel"><small>Unique Identifier:</small></div>
				<div class="statusValue"><small>{{:occupant.uniqueIdentity}}</small></div>
			</div>
		
			<div class="line">
				<div class="statusLabel"><small>Structural Enzymes:</small></div>
				<div class="statusValue"><small>{{:occupant.structuralEnzymes}}</small></div>
			</div>-->		
		{{/if}}
	{{/if}}
    <div class="clearBoth"></div>
</div>

<h3>Operations</h3>
<div class="item">
	{{:~link('Modify U.I.', 'link', {'selectMenuKey' : 'ui'}, selectedMenuKey == 'ui' ? 'selected' : null)}}
	{{:~link('Modify S.E.', 'link', {'selectMenuKey' : 'se'}, selectedMenuKey == 'se' ? 'selected' : null)}}
	{{:~link('Transfer Buffers', 'disk', {'selectMenuKey' : 'buffer'}, selectedMenuKey == 'buffer' ? 'selected' : null)}}
	{{:~link('Rejuvenators', 'plusthick', {'selectMenuKey' : 'rejuvenators'}, selectedMenuKey == 'rejuvenators' ? 'selected' : null)}}
</div>

<div class="item">&nbsp;</div>

{{if !selectedMenuKey || selectedMenuKey == 'ui'}}
	<h3>Modify Unique Identifier</h3>
    {{:~displayDNABlocks(occupant.uniqueIdentity, selectedUIBlock, selectedUISubBlock, dnaBlockSize, 'UI')}}
    <div class="clearBoth"></div>
	<div class="item">
		<div class="itemLabelNarrow">
			Target:
		</div>
		<div class="itemContentWide">
			{{:~link('-', null, {'changeUITarget' : 0}, selectedUITarget > 0 ? null : 'disabled')}} 
            <div class="statusValue">&nbsp;{{:selectedUITargetHex}}&nbsp;</div> 
            {{:~link('+', null, {'changeUITarget' : 1}, selectedUITarget < 15 ? null : 'disabled')}}
		</div>
	</div>
    <div class="item">
		<div class="itemContentWide">
			{{:~link('Irradiate Block', 'radiation', {'pulseUIRadiation' : 1}, !occupant.isViableSubject ? 'disabled' : null)}}
		</div>
	</div>    
{{else selectedMenuKey == 'se'}}
	<h3>Modify Structural Enzymes</h3>
    {{:~displayDNABlocks(occupant.structuralEnzymes, selectedSEBlock, selectedSESubBlock, dnaBlockSize, 'SE')}}
    <div class="clearBoth"></div>
    <div class="item">
		<div class="itemContentWide">
			{{:~link('Irradiate Block', 'radiation', {'pulseSERadiation' : 1}, !occupant.isViableSubject ? 'disabled' : null)}}
		</div>
	</div> 
{{else selectedMenuKey == 'buffer'}}
	<h3>Transfer Buffers</h3>
	{{for buffers}}
		<h4>Buffer {{:#index + 1}}</h4>
		<div class="itemGroup">
			<div class="item">			
				<div class="itemLabelNarrow">
					Load Data:
				</div>
				<div class="itemContentWide">
					{{:~link('Subject U.I.', 'link', {'bufferOption' : 'saveUI', 'bufferId' : (#index + 1)}, !~root.hasOccupant ? 'disabled' : null)}}
					{{:~link('Subject U.I. + U.E.', 'link', {'bufferOption' : 'saveUIAndUE', 'bufferId' : (#index + 1)}, !~root.hasOccupant ? 'disabled' : null)}}
					{{:~link('Subject S.E.', 'link', {'bufferOption' : 'saveSE', 'bufferId' : (#index + 1)}, !~root.hasOccupant ? 'disabled' : null)}}
					{{:~link('From Disk', 'disk', {'bufferOption' : 'loadDisk', 'bufferId' : (#index + 1)}, !~root.hasDisk || !~root.disk.data ? 'disabled' : null)}}
				</div>
			</div>
			{{if data}}
				<div class="item">			
					<div class="itemLabelNarrow">
						Label:
					</div>
					<div class="itemContentWide">
						{{:~link(label, 'document-b', {'bufferOption' : 'changeLabel', 'bufferId' : (#parent.index + 1)})}}
					</div>
				</div>
				<div class="item">			
					<div class="itemLabelNarrow">
						Subject:
					</div>
					<div class="itemContentWide">
						{{:owner ? owner : '<span class="average">Unknown</span>'}}
					</div>
				</div>
				<div class="item">			
					<div class="itemLabelNarrow">
						Stored Data:
					</div>
					<div class="itemContentWide">
						{{:data == 'ui' ? 'Unique Identifiers' : 'Structural Enzymes'}}
						{{:ue ? ' + Unique Enzymes' : ''}}
					</div>
				</div>
			{{else}}
				<div class="item">			
					<div class="itemContentWide">
						<span class="highlight">This buffer is empty.</span>
					</div>
				</div>
			{{/if}}
			<div class="item">			
				<div class="itemLabelNarrow">
					Options:
				</div>
				<div class="itemContentWide">
					{{:~link('Clear', 'trash', {'bufferOption' : 'clear', 'bufferId' : (#index + 1)}, !data ? 'disabled' : null)}}
					{{:~link('Injector', ~root.isInjectorReady ? 'pencil' : 'clock', {'bufferOption' : 'createInjector', 'bufferId' : (#index + 1)}, !~root.isInjectorReady || !data ? 'disabled' : null)}}
					{{:~link('Block Injector', ~root.isInjectorReady ? 'pencil' : 'clock', {'bufferOption' : 'createInjector', 'bufferId' : (#index + 1), 'createBlockInjector' : 1}, !~root.isInjectorReady || !data ? 'disabled' : null)}}
					{{:~link('Transfer', 'radiation', {'bufferOption' : 'transfer', 'bufferId' : (#index + 1)}, !~root.hasOccupant || !data ? 'disabled' : null)}}
					{{:~link('Save To Disk', 'disk', {'bufferOption' : 'saveDisk', 'bufferId' : (#index + 1)}, !data || !~root.hasDisk ? 'disabled' : null)}}
				</div>
			</div>
		</div>
	{{/for}}
	
	<h4>Data Disk</h4>		
	<div class="itemGroup">
		{{if hasDisk}}
			{{if disk.data}}
				<div class="item">			
					<div class="itemLabelNarrow">
						Label:
					</div>
					<div class="itemContentWide">
						{{:disk.label ? disk.label : 'No Label'}}
					</div>
				</div>
				<div class="item">			
					<div class="itemLabelNarrow">
						Subject:
					</div>
					<div class="itemContentWide">
						{{:disk.owner ? disk.owner : '<span class="average">Unknown</span>'}}
					</div>
				</div>
				<div class="item">			
					<div class="itemLabelNarrow">
						Stored Data:
					</div>
					<div class="itemContentWide">
						{{:disk.data == 'ui' ? 'Unique Identifiers' : 'Structural Enzymes'}}
						{{:disk.ue ? ' + Unique Enzymes' : ''}}
					</div>
				</div>
			{{else}}
				<div class="item">			
					<div class="itemContentWide">
						<span class="average">Disk is blank.</span>
					</div>
				</div>
			{{/if}}
		{{else}}
			<div class="item">			
				<div class="itemContentWide">
					<span class="highlight">No disk inserted.</span>
				</div>
			</div>
		{{/if}}
		<div class="item">			
			<div class="itemLabelNarrow">
					Options:
			</div>
			<div class="itemContentWide">
				{{:~link('Wipe Disk', 'trash', {'bufferOption' : 'wipeDisk'}, !hasDisk || !disk.data ? 'disabled' : null)}}
				{{:~link('Eject Disk', 'eject', {'bufferOption' : 'ejectDisk'}, !hasDisk ? 'disabled' : null)}}
			</div>
		</div>
	</div>
{{else selectedMenuKey == 'rejuvenators'}}
	<h3>Rejuvenators</h3>
	<div class="item">
		<div class="itemLabelNarrow">
			Inject:
		</div>
		<div class="itemContentWide">
			{{:~link('5', 'pencil', {'injectRejuvenators' : 5}, !hasOccupant || !beakerVolume ? 'disabled' : null)}}
			{{:~link('10', 'pencil', {'injectRejuvenators' : 10}, !hasOccupant || !beakerVolume ? 'disabled' : null)}}
			{{:~link('20', 'pencil', {'injectRejuvenators' : 20}, !hasOccupant || !beakerVolume ? 'disabled' : null)}}
			{{:~link('30', 'pencil', {'injectRejuvenators' : 30}, !hasOccupant || !beakerVolume ? 'disabled' : null)}}
			{{:~link('50', 'pencil', {'injectRejuvenators' : 50}, !hasOccupant || !beakerVolume ? 'disabled' : null)}}
		</div>
	</div>
	<div class="item">&nbsp;</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Beaker:
		</div>
		<div class="itemContentWide" style="width: 40%;">
			{{if isBeakerLoaded}}		
				{{:beakerLabel ? beakerLabel : '<span class="average">No label</span>'}}<br>
				{{if beakerVolume}}
					<span class="highlight">{{:beakerVolume}} units remaining</span><br>
				{{else}}
					<span class="bad">Beaker is empty</span>
				{{/if}}
			{{else}}
				<span class="average"><i>No beaker loaded</i></span>
			{{/if}}
		</div>
		<div class="itemContentWide" style="width: 26%;">
			{{:~link('Eject Beaker', 'eject', {'ejectBeaker' : 1}, isBeakerLoaded ? null : 'disabled')}}
		</div>
	</div>
{{/if}}

<div class="item">&nbsp;</div>

{{if !selectedMenuKey || selectedMenuKey == 'ui' || selectedMenuKey == 'se'}}
	<h3>Radiation Emitter Settings</h3>
	<div class="item">
		<div class="itemLabelNarrow">
			Intensity:
		</div>
		<div class="itemContentWide">
			{{:~link('-', null, {'radiationIntensity' : 0}, radiationIntensity > 1 ? null : 'disabled')}} 
            <div class="statusValue">&nbsp;{{:radiationIntensity}}&nbsp;</div> 
            {{:~link('+', null, {'radiationIntensity' : 1}, radiationIntensity < 10 ? null : 'disabled')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Duration:
		</div>
		<div class="itemContentWide">
			{{:~link('-', null, {'radiationDuration' : 0}, radiationDuration > 2 ? null : 'disabled')}} 
            <div class="statusValue">&nbsp;{{:radiationDuration}}&nbsp;</div>
            {{:~link('+', null, {'radiationDuration' : 1}, radiationDuration < 20 ? null : 'disabled')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			&nbsp;
		</div>
		<div class="itemContentWide">
			{{:~link('Pulse Radiation', 'radiation', {'pulseRadiation' : 1}, !hasOccupant ? 'disabled' : null)}}
		</div>
	</div>
{{/if}}

<div class="item">&nbsp;</div>

<hr>

<div class="item">
	<div class="itemLabelNarrow">
		Occupant:
	</div>
	<div class="itemContentWide">
		{{:~link('Eject Occupant', 'eject', {'ejectOccupant' : 1}, locked || !hasOccupant || irradiating ? 'disabled' : null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabelNarrow">
		Door Lock:
	</div>
	<div class="itemContentWide">
		{{:~link('Engaged', 'locked', {'toggleLock' : 1}, locked ? 'selected' : !hasOccupant ? 'disabled' : null)}}
        {{:~link('Disengaged', 'unlocked', {'toggleLock' : 1}, !locked ? 'selected' : irradiating ? 'disabled' : null)}}
	</div>
</div>

{{if irradiating}}
	<div class="mask">
		<div class="maskContent">
			<h1>Irradiating Subject</h1>
			<h3>For {{:irradiating}} seconds.</h3>
		</div>
	</div>
{{/if}}

