{{if data.printing}}
  <h5 class='average'>The computer is currently busy.</h5>
  <div class='notice'>
    <center><span class='bad'>Printing...</span></center>
  </div>
  <p>
    Thank you for your patience!
  </p>
{{else}}
  {{:helper.link('Access Modification', 'home', {'choice' : 'mode', 'mode_target' : 0}, !data.mode ? 'disabled' : null)}}
  {{:helper.link('Crew Manifest', 'folder-open', {'choice' : 'mode', 'mode_target' : 1}, data.mode ? 'disabled' : null)}}
  {{:helper.link('Print', 'print', {'choice' : 'print'}, (data.mode || data.has_modify) ? null : 'disabled')}}

  {{if data.mode}}
    <div class='item'>
      <h2>Crew Manifest</h2>
    </div>
    <div class='item'>
      {{:data.manifest}}
    </div>
  {{else}}
    <div class='item'>
      <h2>Access Modification</h2>
    </div>

    {{if !data.authenticated}}
      <span class='alert'><i>Please insert the IDs into the terminal to proceed.</i></span><br>
    {{/if}}

    <div class='item'>
      <div class='itemLabel'>
        Target Identity:
      </div>
      <div class='itemContent'>
        {{:helper.link(data.target_name, 'eject', {'choice' : 'modify'})}}
      </div>
    </div>
    <div class='item'>
      <div class='itemLabel'>
        Authorized Identity:
      </div>
      <div class='itemContent'>
        {{:helper.link(data.scan_name, 'eject', {'choice' : 'scan'})}}
      </div>
    </div>
    <hr>

    {{if data.authenticated}}
      <script type="text/javascript">
        function markRed(){
          var nameField = document.getElementById('namefield');
          nameField.style.backgroundColor = "#FFDDDD";
        }
        function markGreen(){
          var nameField = document.getElementById('namefield');
          nameField.style.backgroundColor = "#DDFFDD";
        }
        function markAccountGreen(){
          var nameField = document.getElementById('accountfield');
          nameField.style.backgroundColor = "#DDFFDD";
        }
        function markAccountRed(){
          var nameField = document.getElementById('accountfield');
          nameField.style.backgroundColor = "#FFDDDD";
        }
        function showAll(){
          var allJobsSlot = document.getElementById('allvalue.jobsslot');
          allJobsSlot.innerHTML = "<a href='#' onclick='hideAll()'>Hide</a><br>";
          var allJobs = document.getElementById('all-value.jobs');
          allJobs.style.display = 'block';
        }
        function hideAll(){
          var allJobsSlot = document.getElementById('allvalue.jobsslot');
          allJobsSlot.innerHTML = "<a href='#' onclick='showAll()'>{{:data.target_rank}}</a>";
          var allJobs = document.getElementById('all-value.jobs');
          allJobs.style.display = 'none';
        }
      </script>

      {{if data.has_modify}}
        <div class='item'>
          <h2>Details</h2>
        </div>

        <form name='cardcomp' action='?src={{:data.src}}' method='get'>
          <div class='item'>
            <div class='itemLabel'>
              <input type='hidden' name='src' value='{{:data.src}}'>
              <input type='hidden' name='choice' value='reg'>
              Registered Name:
            </div>
            <div class='itemContent'>
              <input type='text' id='namefield' name='reg' value='{{:data.target_owner}}' onchange='markRed()'>
              <input type='submit' value='Rename' onclick='markGreen()'>
            </div>
          </div>
        </form>

        <form name='accountnum' action='?src={{:data.src}}' method='get'>
          <div class='item'>
            <div class='itemLabel'>
              <input type='hidden' name='src' value='{{:data.src}}'>
              <input type='hidden' name='choice' value='account'>
              Account Number:
            </div>
            <div class='itemContent'>
              <input type='text' id='accountfield' name='account' value='{{:data.account_number}}' onchange='markAccountRed()'>
              <input type='submit' value='Modify' onclick='markAccountGreen()'>
            </div>
          </div>
        </form>

        <div class='item'>
          <h2>Assignment</h2>
        </div>

        <div class='item'>
          <span id='allvalue.jobsslot'>
            <a href='#' onclick='showAll()'>{{:data.target_rank}}</a>
          </span>
        </div>
        <div class='item'>
          <div id="all-value.jobs" style='display: none;'>
            <table>
              <tr>
                <th></th><th>Command</th>
              </tr>
              <tr>
                <th>Special</th>
                <td>
                  {{:helper.link("Captain", '', {'choice' : 'assign', 'assign_target' : 'Captain'}, data.target_rank == 'Captain' ? 'disabled' : null)}}
                  {{:helper.link("Custom", '', {'choice' : 'assign', 'assign_target' : 'Custom'})}}
                </td>
              </tr>
              <tr>
                <th style="color: '#FFA500';">Engineering</th>
                <td>
                  {{for data.engineering_jobs}}
                    {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                  {{/for}}
                </td>
              </tr>
              <tr>
                <th style="color: '#008000';">Medical</th>
                <td>
                  {{for data.medical_jobs}}
                    {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                  {{/for}}
                </td>
              </tr>
              <tr>
                <th style="color: '#800080';">Science</th>
                <td>
                  {{for data.science_jobs}}
                    {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                  {{/for}}
                </td>
              </tr>
              <tr>
                <th style="color: '#DD0000';">Security</th>
                <td>
                  {{for data.security_jobs}}
                    {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                  {{/for}}
                </td>
              </tr>
              <tr>
                <th style="color: '#808080';">Civilian</th>
                <td>
                  {{for data.civilian_jobs}}
                    {{if index && index % 6 === 0}}
                      </td></tr><tr><th></th><td>
                    {{/if}}
                    {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                  {{/for}}
                </td>
              </tr>
              {{if data.centcom_access}}
                <tr>
                  <th style="color: '#A52A2A';">CentCom</th>
                  <td>
                    {{for data.centcom_jobs}}
                      {{if index % 6 === 0}}
                        </td></tr><tr><th></th><td>
                      {{/if}}
                      {{:helper.link(value.display_name, '', {'choice' : 'assign', 'assign_target' : value.job}, data.target_rank == value.job ? 'disabled' : null)}}
                    {{/for}}
                  </td>
                </tr>
	      {{/if}}
            </table>
          </div>
        </div>

        {{if data.centcom_access}}
          <div class='item'>
            <h2>Central Command</h2>
          </div>
          <div class='item' style='width: 100%'>
            {{for data.all_centcom_access}}
              <div class='itemContentWide'>
              {{:helper.link(value.desc, '', {'choice' : 'access', 'access_target' : value.ref, 'allowed' : allowed}, null, value.allowed ? 'selected' : null)}}
              </div>
            {{/for}}
          </div>
        {{else}}
          <div class='item'>
            <h2>{{:data.station_name}}</h2>
          </div>
          <div class='item' style='width: 100%'>
            {{for data.regions}}
              <div style='float: left; width: 175px; min-height: 250px'>
                <div class='average'><b>{{:value.name}}</b></div>
                {{for value.accesses :accessValue:accessKey}}
                  <div class='itemContentWide'>
                    {{:helper.link(accessValue.desc, '', {'choice' : 'access', 'access_target' : accessValue.ref, 'allowed' : accessValue.allowed}, null, accessValue.allowed ? 'selected' : null)}}
                  </div>
                {{/for}}
	      </div>
	    {{/for}}
            <div style='float: left; width: 175px; min-height: 250px'>
	    <div class='average'><b>Card Skin</b></div>
	      {{for data.card_skins}}
		<div class='itemContentWide'>
		  {{:helper.link(value.display_name, '', {'choice' : 'skin', 'skin_target' : value.skin}, null,(data.current_skin == value.skin) ? 'selected' : null )}}
	 	</div>
	      {{/for}}
	    </div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
