<!-- 
Title: Reverse Engine UI
Used In File(s): code\WorkInProgress\Comic\reverse_engine.dm
-->

<style type='text/css'>
	#cost
	{
		width:360px;
		float:left;
	}
	#misc
	{
		width:350px;
		float:left;
	}
</style>
		
	<div class="item">
		<div class="itemLabel">
			Queue
		</div>
		<div class="itemContentWide">
			<div class="statusDisplay">
				<div class="line">
							{{for data.research_queue}}
							<div class="line">
									<div class="statusValue">
										{{:helper.link(value.name, 'gear', null, null, null, 'misc')}}
										{{:helper.link("Research", 'circle-arrow-s', value.command1, null, 'fixedLeftWide')}}
										{{:helper.link("Remove", 'circle-arrow-s', value.command2, null, 'fixedLeftWide')}}
									</div>
							</div>
							{{empty}}
								<i>No designs loaded!</i>
							{{/for}}
				</div>
				<div class="item">&nbsp;</div>
				<div class="line">
					{{:helper.link('Process Queue', 'circle-arrow-s', {'research_all':null}, null, null, 'misc')}}
				</div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Researched Designs
		</div>
		<div class="itemContentWide">
			<div class="statusDisplay">
				<div class="line">
							{{for data.ready_queue}}
							<div class="line">
									<div class="statusValue">
										{{:helper.link(value.name, 'gear', null, null, null, 'misc')}}
										{{:helper.link("Print", 'circle-arrow-s', value.command1, null, 'fixedLeftWide')}}
										{{:helper.link("Nanoprint", 'circle-arrow-s', value.command2, null, 'fixedLeftWide')}}
										{{:helper.link("Remove", 'circle-arrow-s', value.command3, null, 'fixedLeftWide')}}
									</div>
							</div>
							{{empty}}
								<i>No designs researched!</i>
							{{/for}}
				</div>
				<div class="item">&nbsp;</div>
			</div>
		</div>
	</div>
	
	
	