<div class="item">
	<div class="itemLabel">
		Stored Capacity:
	</div>
	<div class="itemContent">
		{{:~displayBar(storedCapacity, 0, 100, charging ? 'good' : 'average')}}
		<div class="statusValue">
			{{:~round(storedCapacity)}}%
		</div>
	</div>
</div>

<h3>Input Management</h3>
<div class="item">
	<div class="itemLabel">
		Charge Mode:
	</div>
	<div class="itemContent">
		{{:~link('Auto', 'refresh', {'cmode' : 1}, chargeMode ? 'selected' : null)}}{{:~link('Off', 'close', {'cmode' : 1}, chargeMode ? null : 'selected')}}
		&nbsp;
		{{if charging}}
			[<span class='good'>Charging</span>]
		{{else}}
			[<span class='average'>Not Charging</span>]
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Input Level:
	</div>
	<div class="itemContent">
		{{:~displayBar(chargeLevel, 0, chargeMax)}}			
		<div style="clear: both; padding-top: 4px;">
			{{:~link('MIN', null, {'input' : 'min'}, (chargeLevel > 0) ? null : 'disabled')}}
			{{:~link('SET', null, {'input' : 'set'}, null)}}			
			{{:~link('MAX', null, {'input' : 'max'}, (chargeLevel < chargeMax) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:chargeLevel}} W&nbsp;</div>
		</div>
	</div>
</div>

<h3>Output Management</h3>
<div class="item">
	<div class="itemLabel">
		Output Status:
	</div>
	<div class="itemContent">
		{{:~link('Online', 'power', {'online' : 1}, outputOnline ? 'selected' : null)}}{{:~link('Offline', 'close', {'online' : 1}, outputOnline ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Output Level:
	</div>
	<div class="itemContent">
		{{:~displayBar(outputLevel, 0, outputMax)}}			
		<div style="clear: both; padding-top: 4px;">
			{{:~link('MIN', null, {'output' : 'min'}, (outputLevel > 0) ? null : 'disabled')}}
			{{:~link('SET', null, {'output' : 'set'}, null)}}			
			{{:~link('MAX', null, {'output' : 'max'}, (outputLevel < outputMax) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:outputLevel}} W&nbsp;</div>			
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Output Load:
	</div>
	<div class="itemContent">
		{{:~displayBar(outputLoad, 0, outputMax, (outputLoad < outputLevel) ? 'good' : 'average')}}
		<div class="statusValue">
			{{:outputLoad}} W
		</div>
	</div>
</div>