<div class='notice'>
	Superconducting Magnetic Energy Storage
</div>

<div class="item" style="width: 120px; text-align: left">
	<div class="itemLabel">
		<h3>Total Charge</h3>
	</div>
	<div class="itemContent">
		{{:~round(charge)}} W -- {{:~round(capacityPercent*10)/10}}%
	</div>
	{{:~displayBar(capacityPercent, 0, 100, capacityPercent >= 50 ? 'good' : capacityPercent >= 15 ? 'average' : 'bad')}}
	<div class="itemContent">
		{{if capacityPercent >= 99}}
			<span class="good">Fully Charged</span>
		{{else inputting}}
			<span class="good">Charging</span>
		{{else}}
			<span class="bad">Not Charging</span>
		{{/if}}
		&nbsp;
		{{if outputting}}
			<span class="good">Sending Ouput</span>
		{{else charge > 0}}
			<span class="average">Not Sending Output</span>
		{{else}}
			<span class="bad">No Charge to Output</span>
		{{/if}}
	</div>
</div>

<div class="statusDisplay">
	<div class = "line">
		<div class="statusLabel">
			Input:
		</div>
		<div class="statusValue">
			{{:~link('On', 'power', {'input_attempt' : 1}, inputAttempt ? 'selected' : null)}}
			{{:~link('Off', 'close', {'input_attempt' : 0}, inputAttempt == 0 ? 'selected' : null)}}
			{{:~link('Change', 'gear', {'set_input_level' : 'custom'}, null)}}
			{{:~link('Maximize', 'arrowreturn-1-n', {'set_input_level' : 'max'}, null)}}
		</div>
	</div>
	<div class="line">
		<div class="statusLabel">
			Available Input:
		</div>
		<div class = "statusValue">
			{{if inputAvailable > inputLevel}}
				<span class="good">
			{{else}}
				<span class="bad">
			{{/if}}
			{{:~round(inputAvailable)}}</span> W
		</div>
	</div>
	<div class = "line">
		<div class = "statusLabel">
			Set Input:
		</div>
		<div class = "statusValue">
			{{if inputLevel > outputLevel}}
				<span class="good">
			{{else inputLevel == outputLevel}}
				<span class="average">
			{{else}}
				<span class = "bad">
			{{/if}}
			{{:~round(inputLevel)}}</span> W
		</div>
	</div>
</div>
<br>
<div class="statusDisplay">
	<div class = "line">
		<div class="statusLabel">
			Output:
		</div>
		<div class="statusValue">
			{{:~link('On', 'power', {'output_attempt' : 1}, outputAttempt ? 'selected' : null)}}
			{{:~link('Off', 'close', {'output_attempt' : 0}, outputAttempt == 0 ? 'selected' : null)}}
			{{:~link('Change', 'gear', {'set_output_level' : 'custom'}, null)}}
			{{:~link('Maximize', 'arrowreturn-1-n', {'set_output_level' : 'max'}, null)}}
		</div>
	</div>
	<div class = "line">
		<div class="statusLabel">
			Output Used:
		</div>
		<div class = "statusValue">
			{{if outputUsed >= outputLevel}}
				<span class="bad">
			{{else}}
				<span class="good">
			{{/if}}
			{{:~round(outputUsed)}}</span> W
		</div>
	</div>
	<div class = "line">
		<div class = "statusLabel">
			Set Output:
		</div>
		<div class = "statusValue">
			{{if inputLevel > outputLevel}}
				<span class="good">
			{{else inputLevel == outputLevel}}
				<span class="average">
			{{else}}
				<span class = "bad">
			{{/if}}
			{{:~round(outputLevel)}}</span> W
		</div>
	</div>
</div>