<div class="item">
	<div class="itemLabel">
		Attachment One:
	</div>
	<div class="itemContent">
		{{if data.attachmentOne}}
			{{:data.attachmentOne}}
		{{else}}
			<i>None</i>
		{{/if}}
		{{:helper.link('Remove', 'eject', {'tankone' : 1}, data.attachmentOne ? null : 'disabled')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Attachment Two:
	</div>
	<div class="itemContent">
		{{if data.attachmentTwo}}
			{{:data.attachmentTwo}}
		{{else}}
			<i>None</i>
		{{/if}}
		{{:helper.link('Remove', 'eject', {'tanktwo' : 1}, data.attachmentTwo ? null : 'disabled')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Valve Attachment:
	</div>
	<div class="itemContent">
		{{if data.valveAttachment}}
			{{:data.valveAttachment}}
		{{else}}
			<i>None</i>
		{{/if}}		
		{{:helper.link('Remove', 'eject', {'rem_device' : 1}, data.valveAttachment ? null : 'disabled')}}
		{{if data.valveAttachment}}
			{{:helper.link('View', 'wrench', {'device' : 1})}}
		{{/if}}		
	</div>
</div>

<div class="item">&nbsp;</div>

<div class="item">
	<div class="itemLabel">
		Valve Status:
	</div>
	<div class="itemContent">
		{{:helper.link('Open', 'unlocked', {'open' : 1}, (!data.attachmentOne || !data.attachmentTwo) ? 'disabled' : (data.valveOpen ? 'selected' : null))}}{{:helper.link('Close', 'locked', {'open' : 1}, (!data.attachmentOne || !data.attachmentTwo) ? 'disabled' : (data.valveOpen ? null : 'selected'))}}
	</div>
</div>

