<!--
Title: Vote UI
Used in File(s): \code\controllers\voting.dm
-->

<!--
<div class="item">
	<div class="itemContent">
		{{data.restart_command}}
	</div>
</div>
<div class="item">
	<div class="itemContent">
		{{data.crew_transfer}}
	</div>
</div>
<div class="item">
	<div class="itemContent">
		{{data.mode_vote}}
	</div>
</div>



<div class="item">
	<div class="itemLabel">
		Question:
	</div>
	<div class="itemContent">
		{{data.question}}
	</div>
</div>
-->