<<<<<<< HEAD
.job {
  display: block;
  width: 173px;
}

.command {
  font-weight: bold;
}

.priority {
  color: #00ff00;
  font-weight: bold;
}

.nopositions {
  font-style: italic;
=======
.jobs
{
	width: 400px;
	margin: 0 auto;
}

.jobsColumn
{
	float: left;
	width: 200px;
	text-align: center;
}

.commandPosition
{
	font-weight: bold;
}

.otherPosition
{
	
>>>>>>> Updated this old code to fork
}
