.greentext				{color: #00FF00; font-weight: bold;}
.redtext				{color: #FF0000; font-weight: bold;}
.neutraltext			{font-weight: bold;} /* If you feel these should have some color feel free to change */

.marooned				{color: blue; font-weight: bold;}

.header					{font-size: 24px; font-weight: bold;}

.big					{font-size: 24px;}

.medaltext				{color: rgb(59, 148, 243);}

.codephrase				{color : red;}