.greentext				{color: green; font-weight: bold;}
.greentext_alt			{color: #00ff00;}
.redtext				{color: red; font-weight: bold;}
.neutraltext			{font-weight: bold;} /* If you feel these should have some color feel free to change */

.marooned				{color: rgb(109, 109, 255); font-weight: bold;}

.header					{font-size: 24px; font-weight: bold;}

.big					{font-size: 24px;}

.medaltext				{color: rgb(59, 148, 243);}

.codephrase				{color : red;}