.greentext				{color: #00FF00;	font-size: 24px; font-weight: bold;}
.redtext				{color: #FF0000;	font-size: 24px; font-weight: bold;}

.marooned				{color: blue; font-weight: bold;}

.header					{font-size: 24px; font-weight: bold;}

.big					{font-size: 24px;}

.medaltext				{color: rgb(38, 94, 197);}