.dnaBlockNumber
{
	font-family: Fixed, monospace;
	float: left;
	color: #ffffff;
	background: #363636;
	width: 20px;
	padding: -3px 0 -1px 0;
	margin: 2px 2px 0 10px;
	text-align: center;
}

.dnaBlock
{
	font-family: Fixed, monospace;
	float: left;
}

