.getblockstring
{
	font-family: Fixed, monospace;
}

.blockString
{
	width: 55px;
	height: 19px;
	padding: 0 5px 5px 0;
	float: left;
}

.statusLabel
{
	width: 128px;
	float: left;
	overflow: hidden;
}

.statusValue
{
	float: left;
}

