body {
    margin: auto;
    background: #f4f4f4;
    color: #333333;
    font-size: 16px;
    line-height: 1.3;
    max-width: 73%;
    overflow-y: scroll;
}
pre, code {
    background: white;
    tab-size: 4;
    -moz-tab-size: 4;
}
a {
    color: #333333;
}
article {
    margin: 2.5% auto;
}
header, footer {
    margin: 2.5% -6px;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 5px;
}
h1 aside, h2 aside, h3 aside, h4 aside, h5 aside {
    display: inline;
    font-weight: normal;
    font-size: smaller;
}
aside.declaration {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 100px;
    margin-right: -100px;
    right: 105px;
    font-style: italic;
}
table.summary tr:first-child > td > :first-child {
    margin-top: 0;
}
table.summary tr:last-child > td > :last-child {
    margin-bottom: 0;
}
table.summary th, table.summary td {
    text-align: left;
    vertical-align: top;
    padding-left: 0;
    padding-right: 1em;
}
.no-substance {
    color: #888888;
}
a:target {
    background-color: white;
    border-radius: 5px;
    padding: 0 3px;
    margin: 0 -3px;
}
img[src="git.png"] {
    opacity: 0.8;
}
.expander {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50px;
    margin-right: -50px;
    right: 53px;
}
