// Base page colors
$base-color-text: #ffffff;
$base-color-background: scale-color($color-nanotrasen, $lightness: -40%);
$base-color-background-start: adjust-color(
  $base-color-background,
  $lightness: 2%);
$base-color-background-end: adjust-color(
  $base-color-background,
  $lightness: -2%);
$base-border-radius: 2px;

// TitleBar
$titlebar-color-text: rgba(255, 255, 255, 0.75);
$titlebar-color-background: scale-color($color-nanotrasen, $lightness: -20%);
$titlebar-color-shadow-core: #161616;
$titlebar-color-shadow: rgba(0, 0, 0, 0.1);

// Section
$section-color-title: #ffffff;
$section-color-background: rgba(#000, 0.33);
$section-color-shadow: rgba(#000, 0.5);
$section-color-separator: $color-primary;

// NoticeBox
$noticebox-color-first: #bb9b68;
$noticebox-color-second: #b1905d;
$noticebox-color-border: #272727;

// ProgressBar
$progressbar-color-primary: color-bg($color-primary);
$progressbar-color-background: rgba(0, 0, 0, 0.5);
$progressbar-border-radius: $base-border-radius;

// Buttons
$button-color-normal: color-bg($color-primary);
$button-color-disabled: #999999;
$button-color-selected: color-bg($color-green);
$button-color-caution: color-bg($color-yellow);
$button-color-danger: color-bg($color-red);
$button-border-radius: $base-border-radius;

// Tooltips
$tooltip-color-background: #000000;
$tooltip-border-radius: $base-border-radius;

// Inputs
$input-base-color: #88bfff;
$input-border-radius: $base-border-radius;

// Body style
@at-root #{selector-unify(&, body)} {
  color: $base-color-text;
  background-color: $base-color-background;
  background-image: linear-gradient(to bottom,
    $base-color-background-start 0%,
    $base-color-background-end 100%);
}
