$color-good: $pale-green;
$color-highlight: $black;
$background-color-start: #750000;
$background-color-end: #340404;
$rule-color-normal: $dark-gray;
$titlebar-color-background: #910101;
$titlebar-color-text: $pale-red;
$titlebar-color-button: $pale-red;
$display-color-background: rgba(#000, 0.33);
$display-color-shadow: rgba(#000, 0.5);
$notice-color-first: #750000;
$notice-color-second: #910101;
$section-color-label: $white;
$bar-color-normal: $black;
$bar-color-good: $pale-green;
$bar-color-border: $black;
$button-color-normal: $dark-green;
$button-color-disabled: $gray;
$button-color-selected: $dark-red;
$button-color-caution: $yellow-orange;
$button-color-danger: $yellow;
$input-color-text: $white;
$input-color-background: $dark-red;
$rule-color-normal: rgba(#000, 0.25);

// Body style
@at-root #{selector-unify(&, body)} {
  color: $text-color-normal;
  background-color: $background-color-start;
  background-image: linear-gradient(to bottom,
    $background-color-start 0%,
    $background-color-end 100%);
}

.Layout__content {
  background-image: url('../public/images/tgui-bg-syndicate.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
