$color-good: #73e573;
$color-primary: #397439;

$base-color-background: #550202;
$base-color-background-start: adjust-color(
  $base-color-background,
  $lightness: 6%);
$base-color-background-end: adjust-color(
  $base-color-background,
  $lightness: -6%);

$titlebar-color-background: #910101;

$section-color-background: rgba(0, 0, 0, 0.33);
$section-color-shadow: rgba(0, 0, 0, 0.5);

$noticebox-color-first: #750000;
$noticebox-color-second: #910101;
$section-color-label: #ffffff;

$button-color-normal: $color-primary;
$button-color-disabled: #363636;
$button-color-selected: #9d0808;
$button-color-caution: #be6209;
$button-color-danger: #9a9d00;

$section-color-separator: $color-primary;

// Body style
@at-root #{selector-unify(&, body)} {
  color: $base-color-text;
  background-color: $base-color-background;
  background-image: linear-gradient(to bottom,
    $base-color-background-start 0%,
    $base-color-background-end 100%);
}

.Layout__content {
  background-image: url('../public/images/tgui-bg-syndicate.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
