@charset "utf-8"

// Branding Colors
color-normal    := #40628a
color-good      := #537d29
color-average   := #be6209
color-bad       := #b00e0e
color-highlight := #8ba5c4

// Text
text-color-normal  := white
text-color-inverse := black

// Background
background-image       := false
background-color-start := #2a2a2a
background-color-end   := #202020

// Rules (<hr/> etc)
rule-color-normal := color-normal
rule-color-dark   := #272727
rule-size         := 2px

// Titlebar
titlebar-color-text       := #98b0c3
titlebar-color-button     := #98b0c3
titlebar-color-background := #363636
titlebar-color-shadow     := alpha(#000, 0.1)

// Resize
resize-color := #363636

// Display
display-color-background := alpha(#000, 0.33)
display-color-shadow     := alpha(#000, 0.5)

// Notice
notice-color-first  := #bb9b68
notice-color-second := #b1905d
notice-color-border := #272727

// Section
section-color-label := #8ba5c4

// Bar
bar-color-normal     := color-normal
bar-color-good       := color-good
bar-color-average    := color-average
bar-color-bad        := color-bad
bar-color-border     := color-normal
bar-color-background := #272727

// Buttons
button-color-normal   := color-normal
button-color-disabled := #999999
button-color-selected := #2f943c
button-color-caution  := #9a9d00
button-color-danger   := #9d0808
button-lighten-hover  := 15%

@import "util/*"
@import "styles/*"
