// Mapping of color names
$color-map: (
  'white': $white,
  'pink': $pink,
  'pale-red': $pale-red,
  'crimson': $crimson,
  'red': $red,
  'dark-red': $dark-red,
  'magenta': $magenta,
  'yellow': $yellow,
  'yellow-orange': $yellow-orange,
  'bright-yellow': $bright-yellow,
  'orange': $orange,
  'gold': $gold,
  'brown': $brown,
  'pale-green': $pale-green,
  'green': $green,
  'grass-green': $grass-green,
  'dark-green': $dark-green,
  'violet': $violet,
  'purple': $purple,
  'blue': $blue,
  'cyan': $cyan,
  'royal-blue': $royal-blue,
  'pale-blue': $pale-blue,
  'black': $black,
  'black-gray': $black-gray,
  'dark-gray': $dark-gray,
  'gray': $gray,
  'grey': $grey,
  'silver': $silver,
  'light-gray': $light-gray,
  'normal': $color-normal,
  'good': $color-good,
  'average': $color-average,
  'bad': $color-bad,
  'highlight': $color-highlight,
  'label': $pale-blue,
  'health-0': $color-health-0,
  'health-1': $color-health-1,
  'health-2': $color-health-2,
  'health-3': $color-health-3,
  'health-4': $color-health-4,
  'health-5': $color-health-5,
  'dept-cap': $color-dept-cap,
  'dept-sec': $color-dept-sec,
  'dept-med': $color-dept-med,
  'dept-sci': $color-dept-sci,
  'dept-eng': $color-dept-eng,
  'dept-cargo': $color-dept-cargo,
  'dept-cent': $color-dept-cent,
  'dept-other': $color-dept-other,
  'damage-oxy': $color-damage-oxy,
  'damage-toxin': $color-damage-toxin,
  'damage-burn': $color-damage-burn,
  'damage-brute': $color-damage-brute,
);
