// Core styles
@import './functions.scss';
@import './variables.scss';
@import './reset.scss';

// Themable styles
@import './color-map.scss';
@import './atomic.scss';
@import './components.scss';

// Miscellaneous bits
body {
  color: $base-color-text;
  background-color: $base-color-background;
  background-image: linear-gradient(to bottom,
    $base-color-background-start 0%,
    $base-color-background-end 100%);
}

.Layout__content {
  background-image: url('../public/images/tgui-bg-nanotrasen.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

// Syndicate theme
.theme-syndicate {
  @import './themes/syndicate.scss';
  @import './color-map.scss';
  @import './atomic.scss';
  @import './components.scss';
}
