// Core styles
@import './functions.scss';
@import './variables.scss';
@import './reset.scss';

// Themable styles
@import './color-map.scss';
@import './atomic.scss';
@import './components.scss';

// Miscellaneous bits
body {
  color: $text-color-normal;
  background-color: $background-color-start;
  background-image: linear-gradient(to bottom,
    $background-color-start 0%,
    $background-color-end 100%);
}

.Layout__content {
  background-image: url('../public/images/tgui-bg-nanotrasen.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

// Syndicate theme
.theme-syndicate {
  @import './themes/syndicate.scss';
  @import './color-map.scss';
  @import './atomic.scss';
  @import './components.scss';
}

// Clockwork theme
.theme-clockwork {
  @import './themes/clockwork.scss';
  @import './color-map.scss';
  @import './atomic.scss';
  @import './components.scss';
}
