@use 'sass:meta';
@use './base.scss';

// Core styles
@include meta.load-css('./reset.scss');

// Atomic classes
@include meta.load-css('./atomic/candystripe.scss');
@include meta.load-css('./atomic/color.scss');
@include meta.load-css('./atomic/display.scss');
@include meta.load-css('./atomic/margin.scss');
@include meta.load-css('./atomic/position.scss');
@include meta.load-css('./atomic/text.scss');

// Components
@include meta.load-css('./components/BlockQuote.scss');
@include meta.load-css('./components/Button.scss');
@include meta.load-css('./components/ColorBox.scss');
@include meta.load-css('./components/Dropdown.scss');
@include meta.load-css('./components/FatalError.scss');
@include meta.load-css('./components/Flex.scss');
@include meta.load-css('./components/Input.scss');
@include meta.load-css('./components/LabeledList.scss');
@include meta.load-css('./components/Layout.scss');
@include meta.load-css('./components/NoticeBox.scss');
@include meta.load-css('./components/NtosHeader.scss');
@include meta.load-css('./components/NtosWrapper.scss');
@include meta.load-css('./components/NuclearBomb.scss');
@include meta.load-css('./components/NumberInput.scss');
@include meta.load-css('./components/ProgressBar.scss');
@include meta.load-css('./components/Roulette.scss');
@include meta.load-css('./components/Section.scss');
@include meta.load-css('./components/Table.scss');
@include meta.load-css('./components/Tabs.scss');
@include meta.load-css('./components/TitleBar.scss');
@include meta.load-css('./components/Tooltip.scss');

// NT Theme
.Layout__content {
  background-image: url('../assets/bg-nanotrasen.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.action_test {
  display: inherit;
}
