html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
  cursor: default; // Reset the cursor.
}

body {
  overflow: auto;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 6px 0;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

td, th {
  vertical-align: baseline;
  text-align: left;
}
