// Base colors
$white: #ffffff;
$pink: #ffc0cb;
$pale-red: #e74242;
$crimson: #dc143c;
$red: #b00e0e;
$dark-red: #9d0808;
$magenta: #ff00ff;
$yellow: #9a9d00;
$bright-yellow: lighten($yellow, 50%);
$yellow-orange: #be6209;
$orange: #ffa500;
$gold: #fdd700;
$brown: #a52a2a;
$pale-green: #73e573;
$green: #2f943c;
$grass-green: #537d29;
$dark-green: #397439;
$violet: #ee82ee;
$purple: #800080;
$blue: #0000ff;
$cyan: #00ffff;
$royal-blue: #40628a;
$pale-blue: #8ba5c4;
$black: #000000;
$black-gray: #161616;
$dark-gray: #272727;
$gray: #363636;
// i'm sorry these are different, grey is used for some uis like wire
$grey: #808080;
$silver: #c0c0c0;
$light-gray: #999999;

// Branding Colors
$color-normal: $royal-blue;
$color-good: $grass-green;
$color-average: $yellow-orange;
$color-bad: $red;
$color-highlight: $pale-blue;

// Text
$text-color-normal: $white;
$text-color-inverse: $black;

// Background
$background-color-start: #2a2a2a;
$background-color-end: #202020;

// Rules (<hr/> etc)
$rule-color-normal: $royal-blue;
$rule-color-dark: $dark-gray;
$rule-size: 2px;

// Titlebar
$titlebar-color-text: $pale-blue;
$titlebar-color-button: $pale-blue;
$titlebar-color-background: $gray;
$titlebar-color-coreshadow: $black-gray;
$titlebar-color-shadow: rgba(#000, 0.1);

// Resize
$resize-color: $gray;

// Display
$display-color-title: $white;
$display-color-background: rgba(#000, 0.33);
$display-color-shadow: rgba(#000, 0.5);

// Notice
$notice-color-first: #bb9b68;
$notice-color-second: #b1905d;
$notice-color-border: $dark-gray;

// Section
$section-color-label: $pale-blue;
$section-color-candystripe: rgba(#000, 0.25);

// Bar
$bar-color-normal: $color-normal;
$bar-color-good: $color-good;
$bar-color-average: $color-average;
$bar-color-bad: $color-bad;
$bar-color-border: $royal-blue;
$bar-color-background: $dark-gray;

// Buttons
$button-color-normal: $royal-blue;
$button-color-disabled: $light-gray;
$button-color-selected: $green;
$button-color-caution: $yellow;
$button-color-danger: $dark-red;
$button-color-border: $dark-gray;
$button-lighten-hover: 15%;
$button-desaturate-inactive: 50%;

// Input
$input-color-text: $black;
$input-color-placeholder: $light-gray;
$input-color-border: $dark-gray;
$input-color-background: $white;

// Tooltips
$tooltip-color-border: $dark-gray;
$tooltip-color-background: $gray;

// Inputs
$input-base-color: #88bfff;
