// Base colors
$color-black: #000000;
$color-white: #ffffff;
$color-red: #db2828;
$color-orange: #f2711c;
$color-yellow: #fbd608;
$color-olive: #b5cc18;
$color-green: #20b142;
$color-teal: #00b5ad;
$color-blue: #2185d0;
$color-violet: #6435c9;
$color-purple: #a333c8;
$color-pink: #e03997;
$color-brown: #a5673f;
$color-grey: #767676;

$color-nanotrasen: #40628a;
$color-primary: #4972a1;
$color-good: #5db422;
$color-average: #fb9008;
$color-bad: #db2828;
$color-label: #7e90a7;

// Background and foreground color lightness ratios
$color-bg-lightness: -15%;
$color-fg-lightness: 10%;

@function color-bg($color) {
  @return scale-color($color, $lightness: $color-bg-lightness);
}

@function color-fg($color) {
  @return scale-color($color, $lightness: $color-fg-lightness);
}

// Base page colors
$base-color-text: #ffffff;
$base-color-background: #252525;
$base-color-background-start: adjust-color(
  $base-color-background,
  $lightness: 2%);
$base-color-background-end: adjust-color(
  $base-color-background,
  $lightness: -2%);
$base-border-radius: 2px;

// TitleBar
$titlebar-color-text: rgba(255, 255, 255, 0.75);
$titlebar-color-background: #363636;
$titlebar-color-shadow-core: #161616;
$titlebar-color-shadow: rgba(0, 0, 0, 0.1);

// Section
$section-color-title: #ffffff;
$section-color-background: rgba(#000, 0.33);
$section-color-shadow: rgba(#000, 0.5);
$section-color-separator: $color-primary;

// NoticeBox
$noticebox-color-first: #bb9b68;
$noticebox-color-second: #b1905d;
$noticebox-color-border: #272727;

// ProgressBar
$progressbar-color-primary: color-bg($color-primary);
$progressbar-color-background: #272727;

// Buttons
$button-color-normal: color-bg($color-primary);
$button-color-disabled: #999999;
$button-color-selected: color-bg($color-green);
$button-color-caution: color-bg($color-yellow);
$button-color-danger: color-bg($color-red);

// Tooltips
$tooltip-color-background: #272727;

// Inputs
$input-base-color: #88bfff;
