body.generic
  background-color: colors.nanotrasen.background-start
  background: linear-gradient(to bottom,
    colors.nanotrasen.background-start 0%,
    colors.nanotrasen.background-end 100%)
