body.nanotrasen
  background: data-url('nanotrasen.svg') no-repeat fixed center/70% 70%,
    linear-gradient(to bottom,
      colors.nanotrasen.background-start 0%,
      colors.nanotrasen.background-end 100%)
