body.syndicate
  background: data-url('syndicate.svg') no-repeat fixed center/70% 70%,
    linear-gradient(to bottom,
      colors.syndicate.background-start 0%,
      colors.syndicate.background-end 100%)
