$color: rgba(255, 255, 255, 0.1) !default;
$thickness: 2px !default;
$spacing: 6px;

.Divider--horizontal {
  margin: $spacing 0;

  &:not(.Divider--hidden) {
    border-top: $thickness solid $color;
  }
}

.Divider--vertical {
  height: 100%;
  margin: 0 $spacing;

  &:not(.Divider--hidden) {
    border-left: $thickness solid $color;
  }
}
