.ExperimentConfigure__Server,
.ExperimentConfigure__ExperimentPanel {
  background: #000000;
  border: 1px solid #40628a;
	margin: 3px 0;
}

.ExperimentConfigure__ServerHeader {
  background: #40628a;
  padding: 2px;
}

.ExperimentConfigure__ServerName {
  font-size: 18px;
}

.ExperimentConfigure__ServerContent {
  padding: 4px;
}

.ExperimentConfigure__ExperimentName {
  font-weight: bold;
}

.ExperimentConfigure__ExperimentContent {
  padding: 4px;
}
