.LabeledList {
  display: table;
  // IE8: Does not support calc
  width: 100%;
  // Compensate for negative margin
  width: calc(100% + 12px);
  border-collapse: collapse;
  border-spacing: 0;
  margin: -3px -6px;
  margin-bottom: 0;
  padding: 0;
}

.LabeledList__row {
  display: table-row;
}

.LabeledList__row:last-child .LabeledList__cell {
  padding-bottom: 0;
}

.LabeledList__cell {
  display: table-cell;
  margin: 0;
  padding: 3px 6px;
  border: 0;
  text-align: left;
  vertical-align: baseline;
}

.LabeledList__label {
  width: 1%;
  white-space: nowrap;
  min-width: 60px;
}

.LabeledList__buttons {
  width: 0.1%;
  white-space: nowrap;
  text-align: right;
  padding-top: 1px;
  padding-bottom: 0;
}
