@use 'sass:color';
@use '../base.scss';
@use '../functions.scss' as *;

.Layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: base.$color-fg;
  background-color: base.$color-bg;
  background-image: linear-gradient(to bottom,
    base.$color-bg-start 0%,
    base.$color-bg-end 100%);
}

.Layout__titleBar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
}

// Everything after the title bar
.Layout__rest {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

.Layout__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: -6px;

  // Fancy scrollbar
  scrollbar-base-color: color.scale(
    base.$color-bg,
    $lightness: -25%);
  scrollbar-face-color: color.scale(
    base.$color-bg,
    $lightness: 10%);
  scrollbar-3dlight-color: color.scale(
    base.$color-bg,
    $lightness: 0%);
  scrollbar-highlight-color: color.scale(
    base.$color-bg,
    $lightness: 0%);
  scrollbar-track-color: color.scale(
    base.$color-bg,
    $lightness: -25%);
  scrollbar-arrow-color: color.scale(
    base.$color-bg,
    $lightness: 50%);
  scrollbar-shadow-color: color.scale(
    base.$color-bg,
    $lightness: 10%);
}

.Layout__content--scrollable {
  overflow-y: scroll;
  margin-bottom: 0;
}

.Layout__dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(lighten(base.$color-bg, 30%), 0.25);
  pointer-events: none;
}

.Layout__toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 40px;
  line-height: 39px;
  padding: 0 12px;
  background-color: color.scale(base.$color-bg, $lightness: -50%);
  color: rgba(255, 255, 255, 0.8);
}

.Layout__resizeHandle__se {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
}

.Layout__resizeHandle__s {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  cursor: s-resize;
}

.Layout__resizeHandle__e {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  cursor: e-resize;
}
