@use '../functions.scss' as *;

// NoticeBox
$color-first: #bb9b68 !default;
$color-second: #b1905d !default;
$color-border: #272727 !default;

.NoticeBox {
  // Adapt text color to background luminance to ensure high contast
  $luminance: luminance($color-first);
  $text-color: if($luminance > 0.35,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 1));

  padding: 4px 6px;
  margin-bottom: 6px;
  box-shadow: none;
  font-weight: bold;
  font-style: italic;
  color: $text-color;
  background-color: $color-first;
  background-image: repeating-linear-gradient(
    -45deg,
    $color-first,
    $color-first 10px,
    $color-second 10px,
    $color-second 20px);
}
