.NtosHeader__left {
  position: absolute;
  left: 12px;
}

.NtosHeader__right {
  position: absolute;
  right: 12px;
}

.NtosHeader__icon {
  margin-top: -9px;
  margin-bottom: -6px;
  vertical-align: middle;
}
