@use '../colors.scss';

.SearchItem {
  align-items: center;
  background: black;
  border: thin solid #212121;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.SearchItem--loading {
  position: relative;
}

.SearchItem--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: colors.$teal;
  font-weight: bold;
}
