.Tabs__content {
  padding-top: 6px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.Tabs--vertical {
  display: table-row;
}

// NOTE: These selectors have to be specific in order to stop cascading
// from influencing nested tabs.
.Tabs--vertical > .Tabs__content {
  display: table-cell;
  width: 100%;
  padding-top: 0;
  padding-left: 9px;
  border-top: 0;
}

.Tabs--vertical > .Tabs__tabBox {
  display: table-cell;
  // padding-right: 2px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  // Disable baseline alignment when doing vertical tabs
  vertical-align: top;
}

.Tabs--vertical > .Tabs__tabBox > .Tabs__tab {
  // Force display block because Button theme overrides it via cascading.
  display: block !important;
  margin-right: 0;
  margin-bottom: 0;
  padding: 1px 9px 0px 6px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-bottom: 0;
  }
}
