@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #00ff00,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #121b12,
  $color-bg-grad-spread: 0%,
  $border-radius: 2px,
);

.theme-hackerman {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css('../components/Button.scss', $with: (
    'color-default': colors.$primary,
    'color-disabled': #4A6A4A,
    'color-selected': #00FF00,
  ));
  @include meta.load-css('../components/Input.scss', $with: (
    'border-color': colors.$primary,
  ));
  @include meta.load-css('../components/Layout.scss');
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/TitleBar.scss', $with: (
    'color-background': #223d22,
  ));

  .Layout__content {
    background-image: none;
  }

  .Button {
    font-family: monospace;
    border-width: 2px;
    border-style: outset;
    border-color: #00AA00;
    outline: 1px solid rgb(0, 122, 0);
  }

  .candystripe:nth-child(odd) {
    background-color: rgba(0, 100, 0, 0.50);
  }
}
