.theme-ntos_spooky:root {
  // Base
  --color-base: hsl(0, 100%, 12.5%);
  --color-primary: hsl(345, 95%, 30%);
  --color-good: hsl(0, 82%, 52%);
  --color-bad: hsl(340, 91%, 32%);
  --base-gradient-spread: 12;
  --secondary-lightness-adjustment: 9;

  // Components
  --button-background-selected: var(--color-good);
  --button-background-caution: hsl(240, 80%, 35%);
  --button-background-danger: hsl(282, 61%, 30%);
  --dimmer-background-opacity: 0.45;
  --notice-box-background: hsl(0, 90%, 23%);
  --notice-box-color: var(--color-fixed-white);
  --progress-bar-background: hsla(0, 97%, 7%, 0.5);

  .Layout__content {
    background-image: url('../../assets/bg-spookycomp-compressed.svg');
  }
}
