@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';

@use '../colors.scss' with (
  $primary: #3f021a,
  $good: #e62626,
  $bad: #970934
);
@use '../base.scss' with (
  $color-bg: #240101,
  $color-bg-grad-spread: 12%
);

.theme-ntos_spooky {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': #7e0322,
      'color-disabled': #363636,
      'color-selected': #610a0a,
      'color-caution': #1416a3,
      'color-danger': #5c1e80
    )
  );
  @include meta.load-css(
    '../components/Dimmer.scss',
    $with: ('background-dimness': 0.45)
  );
  @include meta.load-css(
    '../components/Input.scss',
    $with: ('border-color': #473a37)
  );
  @include meta.load-css('../components/Modal.scss');
  @include meta.load-css(
    '../components/NoticeBox.scss',
    $with: ('background-color': #740707)
  );
  @include meta.load-css('../components/NumberInput.scss');
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/Table.scss');
  @include meta.load-css(
    '../components/Tooltip.scss',
    $with: ('background-color': #000000)
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: (
      'color-default-fill': rgba(190, 0, 0, 0.75),
      'background-color': rgba(34, 1, 1, 0.5)
    )
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': #6b0808)
  );

  .Layout__content {
    background-image: url('../../assets/bg-spookycomp-compressed.svg');
  }
}
