@use 'sass:color';
@use 'sass:meta';

$nanotrasen: #384e68;

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: color.scale($nanotrasen, $lightness: -45%),
  $border-radius: 2px,
);

.theme-ntos {
  // Components
  @include meta.load-css('../components/Button.scss', $with: (
    'color-default': $nanotrasen,
    'color-transparent-text': rgba(227, 240, 255, 0.75),
  ));
  @include meta.load-css('../components/Layout.scss');
  @include meta.load-css('../components/ProgressBar.scss', $with: (
    'color-default': $nanotrasen,
    'color-background': rgba(0, 0, 0, 0.5),
  ));
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/TitleBar.scss', $with: (
    'color-background': color.scale($nanotrasen, $lightness: -25%),
  ));
}
