@use 'sass:color';
@use 'sass:meta';
@use 'sass:map';

@use '../colors.scss' with (
  $primary: hsl(345, 96%, 12%),
  $good: hsl(240, 100%, 1%),
  $bad: hsl(340, 91%, 32%),
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: hsl(0, 100%, 7%),
  $color-bg-grad-spread: 12%
);

$updated-bg-map: colors.$bg-map !default;

$updated-bg-map: map.set($updated-bg-map, 'good', colors.$good);
$updated-bg-map: map.set($updated-bg-map, 'bad', colors.$bad);

.theme-spookyconsole {
  // Atomic classes
  @include meta.load-css(
    '../atomic/color.scss',
    $with: ('bg-map': $updated-bg-map)
  );

  // Components
  @include meta.load-css(
    '~tgui-core/styles/components/Button',
    $with: (
      'color-default': hsl(345, 96%, 25%),
      'color-disabled': hsl(0, 0%, 21%),
      'color-selected': hsl(0, 85%, 21%),
      'color-caution': hsl(240, 80%, 35%),
      'color-danger': hsl(282, 61%, 30%),
      'bg-map': $updated-bg-map
    )
  );
  @include meta.load-css(
    '~tgui-core/styles/components/Dimmer',
    $with: ('background-dimness': 0.45)
  );
  @include meta.load-css(
    '~tgui-core/styles/components/Input',
    $with: ('border-color': hsl(15, 14%, 26%))
  );
  @include meta.load-css('~tgui-core/styles/components/Modal');
  @include meta.load-css(
    '~tgui-core/styles/components/NoticeBox',
    $with: ('background-color': hsl(0, 90%, 23%))
  );
  @include meta.load-css('~tgui-core/styles/components/NumberInput');
  @include meta.load-css('~tgui-core/styles/components/Section');
  @include meta.load-css('~tgui-core/styles/components/Table');
  @include meta.load-css(
    '~tgui-core/styles/components/Tooltip',
    $with: ('background-color': hsl(0, 0%, 0%))
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': hsl(0, 88%, 23%))
  );

  .Layout__content {
    background-image: url('../../assets/bg-spookycomp-compressed.svg');
  }
}
