@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #397439,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #550202,
  $color-bg-grad-spread: 6%,
  $border-radius: 2px,
);

.theme-syndicate {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css('../components/Button.scss', $with: (
    'color-default': colors.$primary,
    'color-disabled': #363636,
    'color-selected': #9d0808,
    'color-caution': #be6209,
    'color-danger': #9a9d00,
  ));
  @include meta.load-css('../components/Input.scss', $with: (
    'border-color': #87ce87,
  ));
  @include meta.load-css('../components/Layout.scss');
  @include meta.load-css('../components/NoticeBox.scss', $with: (
    'color-first': #750000,
    'color-second': #910101,
  ));
  @include meta.load-css('../components/NumberInput.scss', $with: (
    'border-color': #87ce87,
  ));
  @include meta.load-css('../components/ProgressBar.scss', $with: (
    'color-background': rgba(0, 0, 0, 0.5),
  ));
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/TitleBar.scss', $with: (
    'color-background': #910101,
  ));
  @include meta.load-css('../components/Tooltip.scss', $with: (
    'color-background': #4a0202,
  ));

  .Layout__content {
    background-image: url('../../assets/bg-syndicate.svg');
  }
}
