@mixin button-color($color) {
  // Adapt text color to background luminance to ensure high contast
  $luminance: luminance($color);
  $text-color: if($luminance > 0.35,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 1));

  transition: color 50ms, background-color 50ms;
  background-color: $color;
  color: $text-color;

  &:hover {
    transition: color 0ms, background-color 0ms;
  }

  &:focus {
    transition: color 100ms, background-color 100ms;
  }

  &:hover,
  &:focus {
    background-color: lighten($color, 15%);
    color: $text-color;
  }
}

.Button {
  position: relative;
  display: inline-block;
  line-height: 19px;
  padding: 0 6px;
  margin-right: 2px;
  white-space: nowrap;
  outline: 0;
  border-radius: $base-border-radius;
  margin-bottom: 2px;
  // Disable selection in buttons
  user-select: none;
  -ms-user-select: none;

  &:last-child {
    margin-right: 0;
  }
}

.Button--hasContent {
  // Add a margin to the icon to keep it separate from the text
  .fa, .fas, .far {
    margin-right: 6px;
  }
}

.Button--fluid {
  display: block;
  margin-left: 0;
  margin-right: 0;
  // padding: 3px 6px;
}

@each $color-name, $color-value in $color-bg-map {
  .Button--color--#{$color-name} {
    @include button-color($color-value);
  }
}

.Button--color--normal {
  @include button-color($button-color-normal);
}

.Button--color--caution {
  @include button-color($button-color-caution);
}

.Button--color--danger {
  @include button-color($button-color-danger);
}

.Button--color--transparent {
  @include button-color($base-color-background);
  background-color: rgba($base-color-background, 0);
  color: rgba(255, 255, 255, 0.5);
}

.Button--disabled {
  background-color: $button-color-disabled !important;
}

.Button--selected {
  @include button-color($button-color-selected);
}
