.Layout__titleBar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
}

.Layout__content {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;

  // // Fancy scrollbar
  // scrollbar-base-color: lighten($titlebar-color-background, -50%);
  // scrollbar-face-color: lighten($titlebar-color-background, 50%);
  // scrollbar-3dlight-color: lighten($titlebar-color-background, 100%);
  // scrollbar-highlight-color: lighten($titlebar-color-background, 100%);
  // scrollbar-track-color: lighten($titlebar-color-background, -50%);
  // scrollbar-arrow-color: lighten($titlebar-color-background, 150%);
  // scrollbar-shadow-color: $titlebar-color-background;
}

.Layout__content--scrollable {
  overflow-y: scroll;
}

.Layout__dimmer {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(lighten($base-color-background, 30%), 0.25);
  pointer-events: none;
}

.Layout__toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 40px;
  line-height: 39px;
  padding: 0 12px;
  background-color: darken($base-color-background, 50%);
  color: rgba(255, 255, 255, 0.8);
}

.Layout__resizeHandle__se {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
}

.Layout__resizeHandle__s {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  cursor: s-resize;
}

.Layout__resizeHandle__e {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  cursor: e-resize;
}
