.Layout__titleBar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
}

.Layout__content {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  // Fancy scrollbar
  scrollbar-base-color: scale-color(
    $base-color-background,
    $lightness: -25%);
  scrollbar-face-color: scale-color(
    $base-color-background,
    $lightness: 10%);
  scrollbar-3dlight-color: scale-color(
    $base-color-background,
    $lightness: 0%);
  scrollbar-highlight-color: scale-color(
    $base-color-background,
    $lightness: 0%);
  scrollbar-track-color: scale-color(
    $base-color-background,
    $lightness: -25%);
  scrollbar-arrow-color: scale-color(
    $base-color-background,
    $lightness: 50%);
  scrollbar-shadow-color: scale-color(
    $base-color-background,
    $lightness: 10%);
}

.Layout__content--scrollable {
  overflow-y: scroll;
}

.Layout__dimmer {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(lighten($base-color-background, 30%), 0.25);
  pointer-events: none;
}

.Layout__toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 40px;
  line-height: 39px;
  padding: 0 12px;
  background-color: darken($base-color-background, 50%);
  color: rgba(255, 255, 255, 0.8);
}

.Layout__resizeHandle__se {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
}

.Layout__resizeHandle__s {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  cursor: s-resize;
}

.Layout__resizeHandle__e {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  cursor: e-resize;
}
