.NoticeBox {
  padding: 4px 6px;
  margin-bottom: 6px;
  box-shadow: none;

  // Adapt button color to background luminance to ensure high contast
  @if luminance($notice-color-first) > 0.3 {
    color: rgba(0, 0, 0, 1);
  }
  @else {
    color: rgba(255, 255, 255, 1);
  }

  font-weight: bold;
  font-style: italic;
  background-color: $notice-color-first;
  background-image: repeating-linear-gradient(
    -45deg,
    $notice-color-first,
    $notice-color-first 10px,
    $notice-color-second 10px,
    $notice-color-second 20px);

  .label {
    // Adapt button color to background luminance to ensure high contast
    @if luminance($notice-color-first) > 0.3 {
      color: rgba(0, 0, 0, 1);
    }
    @else {
      color: rgba(255, 255, 255, 1);
    }
  }

  .content:only-of-type {
    padding: 0;
  }

  hr {
    background-color: $rule-color-dark;
  }
}
