.NoticeBox {
  // Adapt text color to background luminance to ensure high contast
  $luminance: luminance($noticebox-color-first);
  $text-color: if($luminance > 0.35,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 1));

  padding: 4px 6px;
  margin-bottom: 6px;
  box-shadow: none;
  font-weight: bold;
  font-style: italic;
  color: $text-color;
  background-color: $noticebox-color-first;
  background-image: repeating-linear-gradient(
    -45deg,
    $noticebox-color-first,
    $noticebox-color-first 10px,
    $noticebox-color-second 10px,
    $noticebox-color-second 20px);
}
