.ProgressBar {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 6px;
  border: 1px solid $bar-color-border;
  background-color: $bar-color-background;
  transition: border-color 500ms;
}

.ProgressBar__fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: background-color, width 500ms;
  background-color: $bar-color-normal;
}

.ProgressBar__content {
  position: relative;
  line-height: 17px;
  width: 100%;
  text-align: right;
}

.ProgressBar--color--good {
  border-color: $bar-color-good !important;

  .ProgressBar__fill {
    background-color: $bar-color-good;
  }
}

.ProgressBar--color--average {
  border-color: $bar-color-average !important;

  .ProgressBar__fill {
    background-color: $bar-color-average;
  }
}

.ProgressBar--color--bad {
  border-color: $bar-color-bad !important;

  .ProgressBar__fill {
    background-color: $bar-color-bad;
  }
}
