.ProgressBar {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 6px;
  border: 1px solid $bar-color-border;
  background: $bar-color-background;
}

.ProgressBar__fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: background-color, width 1s;
  background-color: $bar-color-normal;
}

.ProgressBar__content {
  position: relative;
  line-height: 17px;
  width: 100%;
  text-align: right;
}

.ProgressBar--color--good {
  background-color: $bar-color-good;
}

.ProgressBar--color--average {
  background-color: $bar-color-average;
}

.ProgressBar--color--bad {
  background-color: $bar-color-bad;
}
