.Section {
  position: relative;
  margin-bottom: 6px;
  background-color: $section-color-background;
  box-shadow: inset 0 0 5px $section-color-shadow;
  box-sizing: border-box;
  border-radius: $base-border-radius;

  &:last-child {
    margin-bottom: 0;
  }
}

.Section__title {
  position: relative;
  padding: 6px;
  border-bottom: 2px solid $section-color-separator;
}

.Section__titleText {
  font-size: 14px;
  font-weight: bold;
}

.Section__buttons {
  position: absolute;
  display: inline-block;
  right: 6px;
}

.Section__content {
  padding: 8px 6px;
}

.Section--level--1 .Section__titleText {
  font-size: 14px;
}

.Section--level--2 .Section__titleText {
  font-size: 13px;
}

.Section--level--3 .Section__titleText {
  font-size: 12px;
}

.Section--level--2,
.Section--level--3 {
  background-color: transparent;
  box-shadow: none;
  margin-left: -6px;
  margin-right: -6px;
}
