.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}

.Table--collapsing {
  width: auto;
}

.Table__cell {
  padding: 0 3px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.Table__row--header .Table__cell,
.Table__cell--header {
  font-weight: bold;
  padding-bottom: 6px;
}

.Table__cell--collapsing {
  width: 0.01%;
  white-space: nowrap;
}
