.TitleBar {
  background-color: $titlebar-color-background;
  border-bottom: 1px solid $titlebar-color-coreshadow;
  box-shadow: 0 3px 3px $titlebar-color-shadow;
}

.TitleBar__clickable {
  display: inline-block;
  position: relative;
  // To make a bigger clickable area.
  padding: 7px;
  margin: -7px;
  color: $titlebar-color-button;

  &:hover {
    color: lighten($titlebar-color-button, $button-lighten-hover);
  }
}

.TitleBar__title {
  position: absolute;
  top: 6px;
  left: 46px;
  color: $titlebar-color-text;
  font-size: 16px;
  white-space: nowrap;
}

.TitleBar__statusIcon {
  position: absolute;
  top: 4px;
  left: 12px;
  transition: color 0.5s;
}

.TitleBar__minimize {
  position: absolute;
  top: 6px;
  right: 46px;
}

.TitleBar__close {
  position: absolute;
  top: 4px;
  right: 12px;
}

.TitleBar--noIcons {
  .TitleBar__statusIcon {
    &::after {
      content: 'O';
    }
  }

  .TitleBar__minimize {
    &::after {
      content: '—';
    }
  }

  .TitleBar__close {
    &::after {
      content: 'X';
    }
  }
}
