<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;gps&#x2F;item - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/gps/item.html#var">Var Details</a> - <a href="datum/component/gps/item.html#proc">Proc Details</a></header>
<main>
<h1>item <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/gps/item.html">gps/item</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 20"/></a></h1>

<p>GPS component subtype. Only gps/item's can be used to open the UI.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/gps/item.html#var/state">state</a></th><td>UI state of GPS, altering when it can be used.</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/interact">interact</a></th><td>Called on COMSIG_ITEM_ATTACK_SELF</td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/on_AltClick">on_AltClick</a></th><td>Calls toggletracking</td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/on_emp_act">on_emp_act</a></th><td>Called on COMSIG_ATOM_EMP_ACT</td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/on_examine">on_examine</a></th><td>Called on COMSIG_PARENT_EXAMINE</td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/reboot">reboot</a></th><td>Restarts the GPS after getting turned off by an EMP.</td></tr>
            <tr><th><a href="datum/component/gps/item.html#proc/toggletracking">toggletracking</a></th><td>Toggles the tracking for the gps</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/state"><aside class="declaration">var </aside>state
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/ui_state.html">ui_state</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 24"/></a></h3>
        <p>UI state of GPS, altering when it can be used.</p><h2 id="proc">Proc Details</h2><h3 id="proc/interact"><aside class="declaration">proc </aside>interact<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L45">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 45"/></a></aside>
        </h3>
        <p>Called on COMSIG_ITEM_ATTACK_SELF</p><h3 id="proc/on_AltClick"><aside class="declaration">proc </aside>on_AltClick<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L76">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 76"/></a></aside>
        </h3>
        <p>Calls toggletracking</p><h3 id="proc/on_emp_act"><aside class="declaration">proc </aside>on_emp_act<aside>(/<a href="datum.html">datum</a>/source, severity) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L58">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 58"/></a></aside>
        </h3>
        <p>Called on COMSIG_ATOM_EMP_ACT</p><h3 id="proc/on_examine"><aside class="declaration">proc </aside>on_examine<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user, /list/examine_list) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L52">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 52"/></a></aside>
        </h3>
        <p>Called on COMSIG_PARENT_EXAMINE</p><h3 id="proc/reboot"><aside class="declaration">proc </aside>reboot<aside>() 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L69">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 69"/></a></aside>
        </h3>
        <p>Restarts the GPS after getting turned off by an EMP.</p><h3 id="proc/toggletracking"><aside class="declaration">proc </aside>toggletracking<aside>(/<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/e069f96dc6ba16da30f8bbed0b2a3fb96f484268/code/datums/components/gps.dm#L82">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 82"/></a></aside>
        </h3>
        <p>Toggles the tracking for the gps</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/e069f96dc6ba16da30f8bbed0b2a3fb96f484268">e069f96</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.3.0</a></footer>
</body>
</html>
